{"openapi":"3.1.0","info":{"title":"awesome-new-api","version":"1.2"},"servers":[{"url":"https://sandboxapi.fincra.com/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"api-key"}}},"security":[{"sec0":[]}],"paths":{"/profile/business/me":{"get":{"summary":"Get parent business ID","description":"This API lets you retrieves the unique Identifier of your business and other information such as your email etc.","operationId":"get-business-id-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Parent business fetched successfully\",\n    \"data\": {\n        \"settings\": {\n            \"feeBearer\": \"customer\",\n            \"settlementDestination\": \"wallet\",\n            \"enableWebhook\": true,\n            \"callbackURL\": \"https://webhook.site/913c14011de-4b8a-9ebf-2c857d43d778\"\n        },\n        \"status\": \"enabled\",\n        \"businessTag\": 120894,\n        \"emailSettings\": {\n            \"collectionNotification\": true,\n            \"settlementNotification\": true,\n            \"paymentReceiptNotification\": true\n        },\n        \"isKYCApproved\": true,\n        \"isBlocked\": false,\n        \"_id\": \"6094eebc7062827a9ec9007f\",\n        \"name\": \"Test & Co\",\n        \"email\": \"test@fincra.com\",\n        \"country\": \"TR\",\n        \"mobile\": \"2348099998888\",\n        \"businessKey\": \"B-FTwVHAEW2wnec\",\n        \"createdAt\": \"2021-05-07T07:39:40.283Z\",\n        \"updatedAt\": \"2022-07-15T13:17:30.135Z\",\n        \"logo\": \"https://reviewapi.flq.rocks/file-service/files/6242b56b82aa2e4696491c14\"\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Parent business fetched successfully"},"data":{"type":"object","properties":{"settings":{"type":"object","properties":{"feeBearer":{"type":"string","example":"customer"},"settlementDestination":{"type":"string","example":"wallet"},"enableWebhook":{"type":"boolean","example":true,"default":true},"callbackURL":{"type":"string","example":"https://webhook.site/913c14011de-4b8a-9ebf-2c857d43d778"}}},"status":{"type":"string","example":"enabled"},"businessTag":{"type":"integer","example":120894,"default":0},"emailSettings":{"type":"object","properties":{"collectionNotification":{"type":"boolean","example":true,"default":true},"settlementNotification":{"type":"boolean","example":true,"default":true},"paymentReceiptNotification":{"type":"boolean","example":true,"default":true}}},"isKYCApproved":{"type":"boolean","example":true,"default":true},"isBlocked":{"type":"boolean","example":false,"default":true},"_id":{"type":"string","example":"6094eebc7062827a9ec9007f"},"name":{"type":"string","example":"Test & Co"},"email":{"type":"string","example":"test@fincra.com"},"country":{"type":"string","example":"TR"},"mobile":{"type":"string","example":"2348099998888"},"businessKey":{"type":"string","example":"B-FTwVHAEW2wnec"},"createdAt":{"type":"string","example":"2021-05-07T07:39:40.283Z"},"updatedAt":{"type":"string","example":"2022-07-15T13:17:30.135Z"},"logo":{"type":"string","example":"https://reviewapi.flq.rocks/file-service/files/6242b56b82aa2e4696491c14"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/merchants/me":{"get":{"summary":"Get parent business ID [Additional Endpoint]","description":"This API lets you retrieves the unique Identifier of your business and other information such as your email etc.","operationId":"get-parent-business-id-additional-endpoint","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Merchant details fetched successfully\",\n    \"data\": {\n        \"accessAllFeatures\": false,\n        \"_id\": \"5ff8489e1958fa001d18bd37\",\n        \"userId\": \"5ff8489e1958fa001d18bd36\",\n        \"name\": \"john doe\",\n        \"email\": \"fincradev@gmail.com\",\n        \"country\": \"nigeria\",\n        \"logo\": \"23481234448191\",\n        \"createdAt\": \"2021-01-08T11:57:18.548Z\",\n        \"updatedAt\": \"2022-11-04T09:10:25.218Z\",\n        \"business\": {\n            \"id\": \"62e7b3613d972902d01ea839\",\n            \"businessKey\": \"B-ovhx8gLQLgNQ\"\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Merchant details fetched successfully"},"data":{"type":"object","properties":{"accessAllFeatures":{"type":"boolean","example":false,"default":true},"_id":{"type":"string","example":"5ff8489e1958fa001d18bd37"},"userId":{"type":"string","example":"5ff8489e1958fa001d18bd36"},"name":{"type":"string","example":"john doe"},"email":{"type":"string","example":"fincradev@gmail.com"},"country":{"type":"string","example":"nigeria"},"logo":{"type":"string","example":"23481234448191"},"createdAt":{"type":"string","example":"2021-01-08T11:57:18.548Z"},"updatedAt":{"type":"string","example":"2022-11-04T09:10:25.218Z"},"business":{"type":"object","properties":{"id":{"type":"string","example":"62e7b3613d972902d01ea839"},"businessKey":{"type":"string","example":"B-ovhx8gLQLgNQ"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts":{"post":{"summary":"Create a  payout","description":"This API lets you make payouts to bank accounts and mobile money wallets","operationId":"payout-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["sourceCurrency","destinationCurrency","amount","business","description","customerReference","beneficiary"],"properties":{"sourceCurrency":{"type":"string","description":"The currency which is used to fund the  payout","default":"NGN"},"destinationCurrency":{"type":"string","description":"The currency in which the recipient will be receiving funds","default":"NGN"},"amount":{"type":"string","description":"The value that is to be transferred from the source currency wallet.","default":"200"},"business":{"type":"string","description":"The unique Identifier of the parent business or sub account"},"description":{"type":"string","description":"The description of the payout","default":"Payment"},"customerReference":{"type":"string","description":"The transaction's unique identifier on your system. Customer references prevent duplicate transactions.","default":"TXT-001"},"beneficiary":{"type":"object","description":"The recipient of the funds","required":["type","accountHolderName","accountNumber","bankCode"],"properties":{"firstName":{"type":"string","description":"The first name of the beneficiary .","default":"John"},"lastName":{"type":"string","description":"The last name of the beneficiary.","default":"Doe"},"email":{"type":"string","description":"The email of the beneficiary","default":"test@fincra.com"},"type":{"type":"string","description":"The type of beneficiary receiving the payout, which might be either an individual or a corporation.","default":"individual","enum":["individual","corporate"]},"accountHolderName":{"type":"string","description":"The name of the beneficiary on the bank account","default":"john doe"},"accountNumber":{"type":"string","description":"The account number of the beneficiary(This means beneficiary phone number for Mobile money use case)","default":"0726219090"},"mobileMoneyCode":{"type":"string","description":"This is a unique Identifier of the beneficiary mobile money wallet","default":"901"},"country":{"type":"string","description":"The country in which the bank of the beneficiary is located. This field should be according to  [ISO 3166-1 alpha-2 codes](https://www.nationsonline.org/oneworld/country_code_list.htm) standards e.g NG, GB","default":"GB"},"bankCode":{"type":"string","description":"The bank code of the beneficiary's bank","default":"044"},"bankSwiftCode":{"type":"string","description":"The bank swift code of the beneficiary"},"sortCode":{"type":"string","description":"The bank sort code of the beneficiary. This is required to process a payout to a bank in the United kingdom","default":"9090"},"registrationNumber":{"type":"string","description":"This field only applies to a EUR/GBP corporate beneficiary. A government institution provides the company's unique registration number.","default":"A909"},"address":{"type":"object","description":"The address of the beneficiary","required":["countryOfResidence","zip","street","number","state","city"],"properties":{"countryOfResidence":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"zip":{"type":"string","description":"Zip Code."},"street":{"type":"string","description":"Street Name."},"number":{"type":"string","description":"The house number."},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."}}},"document":{"type":"object","description":"The document needed to process the transaction","required":["type","number","issuedCountryCode","issuedBy"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-MM-DD\")"},"expirationDate":{"type":"string","description":"The expiration date on the document (\"YYYY-MM-DD\")."}}}}},"paymentDestination":{"type":"string","description":"This is the type of account you want to send your payments to e.g bank account, mobile money wallet","default":"bank_account","enum":["bank_account","mobile_money_wallet","cash_pick_up",""]},"paymentScheme":{"type":"string","description":"The payment scheme relevant to the destination currency and region e.g sepa"},"quoteReference":{"type":"string","description":"This is the reference generated when the source currency is compared against the destination currency. This is compulsory for cross-currency payouts."},"sender":{"type":"object","description":"The details of the customer initiating the payout","properties":{"name":{"type":"string","description":"The customer's full name. This name would show up in the transfer narration."},"email":{"type":"string","description":"The customer's email"}}}}},"examples":{"Payout to mobile money wallet":{"value":{"sourceCurrency":"NGN","destinationCurrency":"GHS","beneficiary":{"country":"GH","firstName":"John","lastName":"Doe","email":"johndoe@gmail.com","mobileMoneyCode":"GH280100","type":"individual","accountHolderName":"John Doe","accountNumber":"0726292111","bankCode":"044","sortCode":"89dd","registrationNumber":"89dd"},"paymentDestination":"mobile_money_wallet","amount":"100","business":"","description":"transfer","customerReference":"BXT-TT","quoteReference":"c77b8d87-2673-4f7a-b8d8-b0815b81fd62"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Payout processed successfully\",\n    \"data\": {\n        \"id\": 1254,\n        \"reference\": \"5dcf24700a9a4f67\",\n        \"customerReference\": \"TXT-001\",\n        \"status\": \"processing\",\n        \"documentsRequired\": []\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Payout processed successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":1254,"default":0},"reference":{"type":"string","example":"5dcf24700a9a4f67"},"customerReference":{"type":"string","example":"TXT-001"},"status":{"type":"string","example":"processing"},"documentsRequired":{"type":"array","items":{"type":"object","properties":{}}}}}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"error\": \"Cannot continue, Duplicate Customer Reference Passed\",\n    \"errorType\": \"DUPLICATE_CUSTOMER_REFERENCE\"\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"error":{"type":"string","example":"Cannot continue, Duplicate Customer Reference Passed"},"errorType":{"type":"string","example":"DUPLICATE_CUSTOMER_REFERENCE"}}}}}}},"deprecated":false},"get":{"summary":"List payouts","description":"This API lets you view all your payouts","operationId":"get-all-payouts","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"business":{"type":"string","description":"The unique Identifier of the parent business"},"sourceCurrency":{"type":"string","description":"The currency which was used to fund the payout"},"destinationCurrency":{"type":"string","description":"The currency which the recipient received the payout in"},"subAccount":{"type":"string","description":"The unique Identifier of the sub account"},"status":{"type":"array","description":"The status of the transactions","items":{"type":"string"}},"page":{"type":"string","description":"Specify exactly what page you want to retrieve"},"perPage":{"type":"string","description":"Specify exactly what page you want to retrieve per page"},"dateFrom":{"type":"string","description":"The start date.This must be in ISO 8601 date format(YYYY-MM-DD)"},"dateTo":{"type":"string","description":"The end date.This must be in ISO 8601 date format(YYYY-MM-DD)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Payouts fetched successfully\",\n    \"data\": {\n        \"results\": [\n            {\n                \"id\": 23224,\n                \"_id\": \"23224\",\n                \"amountSent\": 1000,\n                \"amountReceived\": 1000,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 100,\n                \"beneficiaryName\": \"Hassan Sarz\",\n                \"status\": \"successful\",\n                \"reference\": \"3b20fa8e3c324305\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-10-25T11:29:35.000Z\",\n                \"updatedAt\": \"2022-10-25T11:29:43.000Z\"\n            },\n            {\n                \"id\": 23223,\n                \"_id\": \"23223\",\n                \"amountSent\": 1000,\n                \"amountReceived\": 1000,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 100,\n                \"beneficiaryName\": \"Hassan Sarz\",\n                \"status\": \"successful\",\n                \"reference\": \"5abe15e8440e4069\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-10-25T11:29:25.000Z\",\n                \"updatedAt\": \"2022-10-25T11:29:33.000Z\"\n            },\n            {\n                \"id\": 21529,\n                \"_id\": \"21529\",\n                \"amountSent\": 1000,\n                \"amountReceived\": 1000,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 0,\n                \"beneficiaryName\": \"John Doe\",\n                \"status\": \"successful\",\n                \"reference\": \"e52cb483-cf7b-4b10-8d6d-9ea55ba9fed9\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-09-15T16:18:01.000Z\",\n                \"updatedAt\": \"2022-09-15T16:18:03.000Z\"\n            },\n            {\n                \"id\": 21528,\n                \"_id\": \"21528\",\n                \"amountSent\": 700,\n                \"amountReceived\": 700,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 0,\n                \"beneficiaryName\": \"John Doe\",\n                \"status\": \"successful\",\n                \"reference\": \"b8fa2299-e378-4a0e-b169-913c39fa2019\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-09-15T16:17:19.000Z\",\n                \"updatedAt\": \"2022-09-15T16:17:21.000Z\"\n            },\n            {\n                \"id\": 20255,\n                \"_id\": \"20255\",\n                \"amountSent\": 100.12,\n                \"amountReceived\": 100.12,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 100,\n                \"beneficiaryName\": \"John Doe\",\n                \"status\": \"successful\",\n                \"reference\": \"FNCR_42e9f72b0075\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-08-09T16:18:48.000Z\",\n                \"updatedAt\": \"2022-08-09T16:18:55.000Z\"\n            },\n            {\n                \"id\": 20254,\n                \"_id\": \"20254\",\n                \"amountSent\": 100.12,\n                \"amountReceived\": 100.12,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 100,\n                \"beneficiaryName\": \"John Doe\",\n                \"status\": \"successful\",\n                \"reference\": \"FNCR_38d7f7551b97\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-08-09T16:18:22.000Z\",\n                \"updatedAt\": \"2022-08-09T16:18:29.000Z\"\n            },\n            {\n                \"id\": 20075,\n                \"_id\": \"20075\",\n                \"amountSent\": 100.12,\n                \"amountReceived\": 100.12,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 100,\n                \"beneficiaryName\": \"John Doe\",\n                \"status\": \"successful\",\n                \"reference\": \"FNCR_49af0d56be90\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-08-05T11:50:57.000Z\",\n                \"updatedAt\": \"2022-08-05T11:51:02.000Z\"\n            },\n            {\n                \"id\": 17240,\n                \"_id\": \"17240\",\n                \"amountSent\": 44,\n                \"amountReceived\": 22.65,\n                \"sourceCurrency\": \"GHS\",\n                \"destinationCurrency\": \"RWF\",\n                \"fee\": 5919.483294,\n                \"beneficiaryName\": \"John Doe\",\n                \"status\": \"successful\",\n                \"reference\": \"FNCR_54bfb21f8e77\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-06-28T19:48:11.000Z\",\n                \"updatedAt\": \"2022-06-28T19:49:02.000Z\"\n            },\n            {\n                \"id\": 17239,\n                \"_id\": \"17239\",\n                \"amountSent\": 33,\n                \"amountReceived\": 25.48,\n                \"sourceCurrency\": \"GHS\",\n                \"destinationCurrency\": \"KES\",\n                \"fee\": 0.33,\n                \"beneficiaryName\": \"Sam Doeboy\",\n                \"status\": \"successful\",\n                \"reference\": \"FNCR_04ee021e51d5\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-06-28T19:46:56.000Z\",\n                \"updatedAt\": \"2022-06-28T19:47:04.000Z\"\n            },\n            {\n                \"id\": 17073,\n                \"_id\": \"17073\",\n                \"amountSent\": 1000,\n                \"amountReceived\": 1000,\n                \"sourceCurrency\": \"NGN\",\n                \"destinationCurrency\": \"NGN\",\n                \"fee\": 100,\n                \"beneficiaryName\": \"Hassan Sarz\",\n                \"status\": \"successful\",\n                \"reference\": \"FNCR_ebe0466de914\",\n                \"businessName\": \"Lokey Inc\",\n                \"createdAt\": \"2022-06-24T08:08:56.000Z\",\n                \"updatedAt\": \"2022-06-24T08:09:03.000Z\"\n            }\n        ],\n        \"total\": 88\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Payouts fetched successfully"},"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":23224,"default":0},"_id":{"type":"string","example":"23224"},"amountSent":{"type":"integer","example":1000,"default":0},"amountReceived":{"type":"integer","example":1000,"default":0},"sourceCurrency":{"type":"string","example":"NGN"},"destinationCurrency":{"type":"string","example":"NGN"},"fee":{"type":"integer","example":100,"default":0},"beneficiaryName":{"type":"string","example":"Hassan Sarz"},"status":{"type":"string","example":"successful"},"reference":{"type":"string","example":"3b20fa8e3c324305"},"businessName":{"type":"string","example":"Lokey Inc"},"createdAt":{"type":"string","example":"2022-10-25T11:29:35.000Z"},"updatedAt":{"type":"string","example":"2022-10-25T11:29:43.000Z"}}}},"total":{"type":"integer","example":88,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/wallets":{"post":{"summary":"Transfer To A Fincra Account","description":"This API lets you transfer funds from your account to the account of another user on our platform","operationId":"account-to-account-transfer-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","business","customerReference","description","beneficiaryWalletNumber"],"properties":{"amount":{"type":"string","description":"The value that is to be transferred from the source currency wallet.","default":"500"},"business":{"type":"string","description":"The unique Identifier of the parent business or sub account that wants to make the payments","default":"B-09090KJ"},"customerReference":{"type":"string","description":"The transaction's unique identifier on your system.","default":"B-908989"},"description":{"type":"string","description":"The purpose of payment.","default":"School fees payment"},"beneficiaryWalletNumber":{"type":"string","description":"This is the unique wallet number of the beneficiary you want to make payment to","default":"8609899"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Payout processed successfully\",\n    \"data\": {\n        \"id\": 31826,\n        \"reference\": \"0e6639cf-ef34-44b9-9b60-4317c2150555\",\n        \"customerReference\": \"4558585844848\",\n        \"status\": \"successful\"\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Payout processed successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":31826,"default":0},"reference":{"type":"string","example":"0e6639cf-ef34-44b9-9b60-4317c2150555"},"customerReference":{"type":"string","example":"4558585844848"},"status":{"type":"string","example":"successful"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/documents-upload":{"post":{"summary":"Upload transaction document","description":"This API lets you process a payout that requires the upload of a document","operationId":"upload-transaction-document","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reference"],"properties":{"name":{"type":"string","description":"The name of the document","default":"Invoice"},"type":{"type":"string","description":"The type of document required to complete the transaction. After the payout has been initiated, this can be obtained from the response object of the payout response."},"file":{"type":"string","description":"The document required","format":"binary"},"reference":{"type":"string","description":"This is the unique reference generated for the payout"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/reference/{transactionReference}":{"get":{"summary":"Fetch a payout by reference","description":"This API lets you retrieve and view a specific payout","operationId":"get-payout-by-reference","parameters":[{"name":"transactionReference","in":"path","description":"The unique reference of the payout","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Payout fetched successfully\",\n    \"data\": {\n        \"id\": 31821,\n        \"amountSent\": 4500.67,\n        \"amountReceived\": 9.9,\n        \"sourceCurrency\": \"KES\",\n        \"destinationCurrency\": \"EUR\",\n        \"fee\": 9090.909091,\n        \"quoteId\": \"6490a6937d6dab0011852bc4\",\n        \"status\": \"successful\",\n        \"reference\": \"db396365d80b4d6c\",\n        \"customerReference\": null,\n        \"description\": \"i want to sha pay money\",\n        \"paymentDestination\": \"bank_account\",\n        \"paymentScheme\": \"sepa_instant\",\n        \"additionalInfo\": null,\n        \"traceId\": null,\n        \"message\": \"Payout was successful\",\n        \"isDocumentRequired\": 0,\n        \"isDocumentUploaded\": 0,\n        \"documentsRequired\": null,\n        \"valuedAt\": \"2023-06-19T19:03:57.000Z\",\n        \"createdAt\": \"2023-06-19T19:03:48.000Z\",\n        \"updatedAt\": \"2023-06-19T19:03:57.000Z\",\n        \"recipient\": {\n            \"firstName\": \"Hassan\",\n            \"lastName\": \"Sarz\",\n            \"middleName\": null,\n            \"accountHolderName\": \"Ehee\",\n            \"email\": \"aa@aa.com\",\n            \"phone\": \"0803443433\",\n            \"accountNumber\": \"0690000040\",\n            \"type\": \"individual\",\n            \"country\": \"NG\",\n            \"bankCode\": \"044\",\n            \"bankName\": null,\n            \"sortCode\": \"058\",\n            \"bankSwiftCode\": \"6666\",\n            \"bankAddress\": {\n                \"country\": \"ng\",\n                \"state\": \"Los Angeles\",\n                \"zip\": \"344\",\n                \"city\": \"maid\",\n                \"street\": \"23, 3\",\n                \"postalCode\": null\n            },\n            \"birthDate\": null,\n            \"birthPlace\": null,\n            \"address\": null,\n            \"registrationNumber\": null,\n            \"incorporationCountry\": null,\n            \"mobileMoneyCode\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Payout fetched successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":31821,"default":0},"amountSent":{"type":"number","example":4500.67,"default":0},"amountReceived":{"type":"number","example":9.9,"default":0},"sourceCurrency":{"type":"string","example":"KES"},"destinationCurrency":{"type":"string","example":"EUR"},"fee":{"type":"number","example":9090.909091,"default":0},"quoteId":{"type":"string","example":"6490a6937d6dab0011852bc4"},"status":{"type":"string","example":"successful"},"reference":{"type":"string","example":"db396365d80b4d6c"},"customerReference":{},"description":{"type":"string","example":"i want to sha pay money"},"paymentDestination":{"type":"string","example":"bank_account"},"paymentScheme":{"type":"string","example":"sepa_instant"},"additionalInfo":{},"traceId":{},"message":{"type":"string","example":"Payout was successful"},"isDocumentRequired":{"type":"integer","example":0,"default":0},"isDocumentUploaded":{"type":"integer","example":0,"default":0},"documentsRequired":{},"valuedAt":{"type":"string","example":"2023-06-19T19:03:57.000Z"},"createdAt":{"type":"string","example":"2023-06-19T19:03:48.000Z"},"updatedAt":{"type":"string","example":"2023-06-19T19:03:57.000Z"},"recipient":{"type":"object","properties":{"firstName":{"type":"string","example":"Hassan"},"lastName":{"type":"string","example":"Sarz"},"middleName":{},"accountHolderName":{"type":"string","example":"Ehee"},"email":{"type":"string","example":"aa@aa.com"},"phone":{"type":"string","example":"0803443433"},"accountNumber":{"type":"string","example":"0690000040"},"type":{"type":"string","example":"individual"},"country":{"type":"string","example":"NG"},"bankCode":{"type":"string","example":"044"},"bankName":{},"sortCode":{"type":"string","example":"058"},"bankSwiftCode":{"type":"string","example":"6666"},"bankAddress":{"type":"object","properties":{"country":{"type":"string","example":"ng"},"state":{"type":"string","example":"Los Angeles"},"zip":{"type":"string","example":"344"},"city":{"type":"string","example":"maid"},"street":{"type":"string","example":"23, 3"},"postalCode":{}}},"birthDate":{},"birthPlace":{},"address":{},"registrationNumber":{},"incorporationCountry":{},"mobileMoneyCode":{}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/customer-reference/{customerReference}":{"get":{"summary":"Fetch a payout by customer reference","description":"This API lets you retrieve and view a specific payout","operationId":"get-payout-by-customer-reference","parameters":[{"name":"customerReference","in":"path","description":"The transaction's unique identifier on your system","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Payout fetched successfully\",\n    \"data\": {\n        \"id\": 31821,\n        \"amountSent\": 4500.67,\n        \"amountReceived\": 9.9,\n        \"sourceCurrency\": \"KES\",\n        \"destinationCurrency\": \"EUR\",\n        \"fee\": 9090.909091,\n        \"quoteId\": \"6490a6937d6dab0011852bc4\",\n        \"status\": \"successful\",\n        \"reference\": \"db396365d80b4d6c\",\n        \"customerReference\": null,\n        \"description\": \"i want to sha pay money\",\n        \"paymentDestination\": \"bank_account\",\n        \"paymentScheme\": \"sepa_instant\",\n        \"additionalInfo\": null,\n        \"traceId\": null,\n        \"message\": \"Payout was successful\",\n        \"isDocumentRequired\": 0,\n        \"isDocumentUploaded\": 0,\n        \"documentsRequired\": null,\n        \"valuedAt\": \"2023-06-19T19:03:57.000Z\",\n        \"createdAt\": \"2023-06-19T19:03:48.000Z\",\n        \"updatedAt\": \"2023-06-19T19:03:57.000Z\",\n        \"recipient\": {\n            \"firstName\": \"Hassan\",\n            \"lastName\": \"Sarz\",\n            \"middleName\": null,\n            \"accountHolderName\": \"Ehee\",\n            \"email\": \"aa@aa.com\",\n            \"phone\": \"0803443433\",\n            \"accountNumber\": \"0690000040\",\n            \"type\": \"individual\",\n            \"country\": \"NG\",\n            \"bankCode\": \"044\",\n            \"bankName\": null,\n            \"sortCode\": \"058\",\n            \"bankSwiftCode\": \"6666\",\n            \"bankAddress\": {\n                \"country\": \"ng\",\n                \"state\": \"Los Angeles\",\n                \"zip\": \"344\",\n                \"city\": \"maid\",\n                \"street\": \"23, 3\",\n                \"postalCode\": null\n            },\n            \"birthDate\": null,\n            \"birthPlace\": null,\n            \"address\": null,\n            \"registrationNumber\": null,\n            \"incorporationCountry\": null,\n            \"mobileMoneyCode\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Payout fetched successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":31821,"default":0},"amountSent":{"type":"number","example":4500.67,"default":0},"amountReceived":{"type":"number","example":9.9,"default":0},"sourceCurrency":{"type":"string","example":"KES"},"destinationCurrency":{"type":"string","example":"EUR"},"fee":{"type":"number","example":9090.909091,"default":0},"quoteId":{"type":"string","example":"6490a6937d6dab0011852bc4"},"status":{"type":"string","example":"successful"},"reference":{"type":"string","example":"db396365d80b4d6c"},"customerReference":{},"description":{"type":"string","example":"i want to sha pay money"},"paymentDestination":{"type":"string","example":"bank_account"},"paymentScheme":{"type":"string","example":"sepa_instant"},"additionalInfo":{},"traceId":{},"message":{"type":"string","example":"Payout was successful"},"isDocumentRequired":{"type":"integer","example":0,"default":0},"isDocumentUploaded":{"type":"integer","example":0,"default":0},"documentsRequired":{},"valuedAt":{"type":"string","example":"2023-06-19T19:03:57.000Z"},"createdAt":{"type":"string","example":"2023-06-19T19:03:48.000Z"},"updatedAt":{"type":"string","example":"2023-06-19T19:03:57.000Z"},"recipient":{"type":"object","properties":{"firstName":{"type":"string","example":"Hassan"},"lastName":{"type":"string","example":"Sarz"},"middleName":{},"accountHolderName":{"type":"string","example":"Ehee"},"email":{"type":"string","example":"aa@aa.com"},"phone":{"type":"string","example":"0803443433"},"accountNumber":{"type":"string","example":"0690000040"},"type":{"type":"string","example":"individual"},"country":{"type":"string","example":"NG"},"bankCode":{"type":"string","example":"044"},"bankName":{},"sortCode":{"type":"string","example":"058"},"bankSwiftCode":{"type":"string","example":"6666"},"bankAddress":{"type":"object","properties":{"country":{"type":"string","example":"ng"},"state":{"type":"string","example":"Los Angeles"},"zip":{"type":"string","example":"344"},"city":{"type":"string","example":"maid"},"street":{"type":"string","example":"23, 3"},"postalCode":{}}},"birthDate":{},"birthPlace":{},"address":{},"registrationNumber":{},"incorporationCountry":{},"mobileMoneyCode":{}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/core/banks?":{"get":{"summary":"List banks","description":"This API lets you view a list of banks and mobile money wallet providers, together with their details such as code, swiftCode, and Bic.","operationId":"get-banks","parameters":[{"name":"currency","in":"query","schema":{"type":"string","default":"NGN"}},{"name":"country","in":"query","schema":{"type":"string","default":"NG"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/core/cash-pick-up-security-questions":{"get":{"summary":"Cash Pick Up Security Questions","description":"This API lets you view a security questions required when using cash pick up payout method","operationId":"cash-pickup-security-questions","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Cash pick up security questions fetched successfully\",\n    \"data\": [\n        {\n            \"id\": 1,\n            \"code\": \"CP_QC_1\",\n            \"question\": \"Mother's maiden name\",\n            \"type\": null\n        },\n        {\n            \"id\": 2,\n            \"code\": \"CP_QC_2\",\n            \"question\": \"Place of birth\",\n            \"type\": null\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Cash pick up security questions fetched successfully"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"code":{"type":"string","example":"CP_QC_1"},"question":{"type":"string","example":"Mother's maiden name"},"type":{}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/requests":{"post":{"summary":"Request USD virtual account","description":"This API lets you create USD virtual accounts.","operationId":"request-usd-virtual-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","accountType","utilityBill","bankStatement","meansOfId","KYCInformation"],"properties":{"currency":{"type":"string","description":"The virtual account currency.","default":"USD","enum":["USD"]},"accountType":{"type":"string","description":"The Virtual account type","enum":["individual"]},"utilityBill":{"type":"string","description":"Electricity bills, water bills or any detailed invoice showing the usage of a service. This should be a URL link to the document. This fields applies only to Individual MCY/EUR/GBP virtual accounts.","default":"https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"},"bankStatement":{"type":"string","description":"Customer's bank statement. This fields applies only to Individual MCY/EUR/GBP virtual accounts. This should be a URL link to the document.","default":"https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"},"meansOfId":{"type":"string","description":"The customer's means of identification which should be a valid government ID e.g voters card, driving license. This should be a URL link to the document. This fields applies only to Individual MCY/EUR/GBP virtual accounts."},"KYCInformation":{"type":"object","description":"Know your customer information","required":["firstName","lastName","email","phone","birthDate","nationality","sourceOfIncome","occupation","incomeBand","employmentStatus"],"properties":{"firstName":{"type":"string","description":"The first name of the customer.This is required when requesting an individual virtual account."},"lastName":{"type":"string","description":"The last name of the customer.This is required when requesting an individual virtual account."},"email":{"type":"string","description":"The email of the customer."},"phone":{"type":"string","description":"The phone number of the customer .This fields applies only to MCY/EUR/GBP virtual accounts."},"birthDate":{"type":"string","description":"The birthdate of the customer(YYYY-MM-DD ). This has to match the birthdate on the identity document to be provided."},"birthCountry":{"type":"string","description":"This is required for USD virtual account requests. I.e US, NG, KE, EU"},"birthPlace":{"type":"string","description":"The place of birth. This is required for USD virtual account requests"},"address":{"type":"object","description":"The address of the customer . This fields applies only to MCY/EUR/GBP virtual accounts.","required":["countryOfResidence","zip","street","number","state","city"],"properties":{"countryOfResidence":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"zip":{"type":"string","description":"Zip Code."},"street":{"type":"string","description":"Street Name."},"number":{"type":"string","description":"The house number."},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."}}},"nationality":{"type":"string","description":"The customer's nationality e.g NG."},"document":{"type":"object","description":"The means of identification of the customer .This fields applies only to MCY/EUR/GBP virtual accounts.","required":["type","number","issuedCountryCode","issuedBy"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-MM-DD\")"},"expirationDate":{"type":"string","description":"The expiration date on the document (\"YYYY-MM-DD\")."}}},"sourceOfIncome":{"type":"string","description":"Customer's source of income.This fields applies only to MCY/EUR/GBP virtual accounts."},"occupation":{"type":"string","description":"The occupation of the customer."},"incomeBand":{"type":"string","description":"Customer's income band."},"employmentStatus":{"type":"string","description":"Customer's employment status.This fields applies only to MCY/EUR/GBP virtual accounts."},"accountDesignation":{"type":"string","description":"Specific use of the account. This fields applies only to MCY/EUR/GBP virtual accounts."},"taxCountry":{"type":"string","description":"This is required for USD virtual account requests. (e.g., US for the United States, EU for the European Union, NG for Nigeria)"},"taxNumber":{"type":"string","description":"This is required for USD virtual account requests. Only required when tax country is US"}}},"merchantReference":{"type":"string","description":"A unique ID/reference of the virtual account on your system."}}},"examples":{"NGN":{"value":{"success":true,"message":"Thank you, Efe Billionaire. A NGN virtual account has been created for you","data":{"status":"approved","isActive":true,"accountNumber":"4231804889","KYCInformation":{"firstName":"EFE","lastName":"EBIEROMA"},"accountInformation":{"accountNumber":"4231804889","accountName":"EFE EBIEROMA","bankName":"WEMA BANK","reference":"e3f34686-84b7-4add-be81-db8cbb804569"},"accountOpeningFee":0,"pendingAdditionalInfoCount":0,"isPermanent":true,"expiresAt":null,"reason":null,"monthlyVolume":null,"entityName":null,"paymentFlowDescription":null,"attachments":[],"meansOfId":[],"utilityBill":[],"virtualAccountType":"additional","_id":"622c48dea944150467b31d49","business":"607b3cae67c64480bbf1b995","currency":"NGN","accountType":"individual","entityType":"main_account","currencyType":"fiat","createdAt":"2022-03-12T07:16:46.863Z","updatedAt":"2022-03-12T07:16:46.863Z"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Thank you, Omobola Ibrahim. We are now processing your GBP account request\",\n  \"data\": {\n    \"status\": \"pending\",\n    \"isActive\": false,\n    \"accountNumber\": null,\n    \"merchantReference\": null,\n    \"KYCInformation\": {\n      \"address\": {\n        \"countryOfResidence\": \"NG\",\n        \"zip\": \"23401\",\n        \"street\": \"Ikereku\",\n        \"number\": \"2\",\n        \"state\": \"Lagos\",\n        \"city\": \"Alimosho\"\n      },\n      \"document\": {\n        \"type\": \"passport\",\n        \"number\": \"B23455\",\n        \"issuedCountryCode\": \"NG\",\n        \"issuedBy\": \"government\",\n        \"issuedDate\": \"2020-01-01\",\n        \"expirationDate\": \"2025-02-02T00:00:00.000Z\"\n      },\n      \"firstName\": \"Ayomide\",\n      \"lastName\": \"Omotolani\",\n      \"email\": \"omotola@gmail.com\",\n      \"birthDate\": \"1223-02-02\",\n      \"nationality\": \"NG\",\n      \"incomeBand\": \"0-90000\",\n      \"phone\": \"09098765432\",\n      \"occupation\": \"Dev Rel\",\n      \"sourceOfIncome\": \"Dev rel\",\n      \"accountDesignation\": \"personal\",\n      \"employmentStatus\": \"Employed\"\n    },\n    \"accountInformation\": null,\n    \"verifiedKYCData\": null,\n    \"note\": null,\n    \"accountOpeningFee\": 0,\n    \"pendingAdditionalInfoCount\": 0,\n    \"isPermanent\": true,\n    \"expiresAt\": null,\n    \"isCheckoutVa\": false,\n    \"isBankTransferVa\": false,\n    \"isSuspended\": false,\n    \"reason\": null,\n    \"monthlyVolume\": null,\n    \"entityName\": null,\n    \"paymentFlowDescription\": null,\n    \"attachments\": [],\n    \"meansOfId\": [\n      {\n        \"name\": \"france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg\",\n        \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/france-in-pictures-beautiful-places-to-photograph-eiffel-tower_033abdf0-2adc-499c-af6d-086b315d5cdc.jpg\"\n      }\n    ],\n    \"bankStatement\": [\n      {\n        \"name\": \"france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg\",\n        \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/france-in-pictures-beautiful-places-to-photograph-eiffel-tower_85379bd3-8cf6-444f-848b-97b03e8f7a1c.jpg\"\n      }\n    ],\n    \"utilityBill\": [\n      {\n        \"name\": \"france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg\",\n        \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/france-in-pictures-beautiful-places-to-photograph-eiffel-tower_347b4c39-ccd0-4298-a5d4-c8b11e113e90.jpg\"\n      }\n    ],\n    \"virtualAccountType\": \"additional\",\n    \"riskRating\": null,\n    \"checklist\": null,\n    \"riskScreening\": null,\n    \"channelKycUpdateStatus\": null,\n    \"channelKycUpdateResponse\": null,\n    \"_id\": \"64ad8a2748165924f46d6ad0\",\n    \"business\": \"63da866cb938c4e0b871f514\",\n    \"currency\": \"GBP\",\n    \"accountType\": \"individual\",\n    \"entityType\": \"main_account\",\n    \"currencyType\": \"fiat\",\n    \"createdAt\": \"2023-07-11T16:58:15.641Z\",\n    \"updatedAt\": \"2023-07-11T16:58:15.641Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Thank you, Omobola Ibrahim. We are now processing your GBP account request"},"data":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"isActive":{"type":"boolean","example":false,"default":true},"accountNumber":{},"merchantReference":{},"KYCInformation":{"type":"object","properties":{"address":{"type":"object","properties":{"countryOfResidence":{"type":"string","example":"NG"},"zip":{"type":"string","example":"23401"},"street":{"type":"string","example":"Ikereku"},"number":{"type":"string","example":"2"},"state":{"type":"string","example":"Lagos"},"city":{"type":"string","example":"Alimosho"}}},"document":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"number":{"type":"string","example":"B23455"},"issuedCountryCode":{"type":"string","example":"NG"},"issuedBy":{"type":"string","example":"government"},"issuedDate":{"type":"string","example":"2020-01-01"},"expirationDate":{"type":"string","example":"2025-02-02T00:00:00.000Z"}}},"firstName":{"type":"string","example":"Ayomide"},"lastName":{"type":"string","example":"Omotolani"},"email":{"type":"string","example":"omotola@gmail.com"},"birthDate":{"type":"string","example":"1223-02-02"},"nationality":{"type":"string","example":"NG"},"incomeBand":{"type":"string","example":"0-90000"},"phone":{"type":"string","example":"09098765432"},"occupation":{"type":"string","example":"Dev Rel"},"sourceOfIncome":{"type":"string","example":"Dev rel"},"accountDesignation":{"type":"string","example":"personal"},"employmentStatus":{"type":"string","example":"Employed"}}},"accountInformation":{},"verifiedKYCData":{},"note":{},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"isCheckoutVa":{"type":"boolean","example":false,"default":true},"isBankTransferVa":{"type":"boolean","example":false,"default":true},"isSuspended":{"type":"boolean","example":false,"default":true},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/france-in-pictures-beautiful-places-to-photograph-eiffel-tower_033abdf0-2adc-499c-af6d-086b315d5cdc.jpg"}}}},"bankStatement":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/france-in-pictures-beautiful-places-to-photograph-eiffel-tower_85379bd3-8cf6-444f-848b-97b03e8f7a1c.jpg"}}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/france-in-pictures-beautiful-places-to-photograph-eiffel-tower_347b4c39-ccd0-4298-a5d4-c8b11e113e90.jpg"}}}},"virtualAccountType":{"type":"string","example":"additional"},"riskRating":{},"checklist":{},"riskScreening":{},"channelKycUpdateStatus":{},"channelKycUpdateResponse":{},"_id":{"type":"string","example":"64ad8a2748165924f46d6ad0"},"business":{"type":"string","example":"63da866cb938c4e0b871f514"},"currency":{"type":"string","example":"GBP"},"accountType":{"type":"string","example":"individual"},"entityType":{"type":"string","example":"main_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2023-07-11T16:58:15.641Z"},"updatedAt":{"type":"string","example":"2023-07-11T16:58:15.641Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List virtual account requests","description":"This endpoint is used for getting all account requests belonging to a merchant","operationId":"get-virtual-account-requests","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/business/{businessId}/sub-accounts/{subAccountId}/requests/":{"post":{"summary":"Create a virtual account for a sub-account","description":"This API lets you create a single virtual account for a sub account","operationId":"create-a-virtual-account-for-a-sub-account","parameters":[{"name":"businessId","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the sub account","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","accountType","KYCInformation","meansOfId","utilityBill","reason","paymentFlowDescription","monthlyVolume","entityName","attachments","channel"],"properties":{"currency":{"type":"string","description":"The virtual account currency.e.g MCY(for Multicurrency), GBP(for GBP), USD etc","default":"USD"},"accountType":{"type":"string","description":"The Virtual account type e.g corporate or individual","enum":["individual","corporate"]},"KYCInformation":{"type":"object","description":"Know your customer information","required":["firstName","lastName","email","phone","birthDate","nationality","sourceOfIncome","occupation","incomeBand","employmentStatus"],"properties":{"firstName":{"type":"string","description":"The first name of the customer.This is required when requesting an individual virtual account."},"lastName":{"type":"string","description":"The last name of the customer.This is required when requesting an individual virtual account."},"email":{"type":"string","description":"The email of the customer."},"phone":{"type":"string","description":"The phone number of the customer .This fields applies only to MCY/EUR/GBP virtual accounts."},"birthDate":{"type":"string","description":"The birthdate of the customer(YYYY-MM-DD ). This has to match the birthdate on the identity document to be provided."},"birthCountry":{"type":"string","description":"This is required for USD virtual account requests. I.e US, NG, KE, EU"},"birthPlace":{"type":"string","description":"The place of birth. This is required for USD virtual account requests"},"address":{"type":"object","description":"The address of the customer . This fields applies only to MCY/EUR/GBP virtual accounts.","required":["countryOfResidence","zip","street","number","state","city"],"properties":{"countryOfResidence":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"zip":{"type":"string","description":"Zip Code."},"street":{"type":"string","description":"Street Name."},"number":{"type":"string","description":"The house number."},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."}}},"nationality":{"type":"string","description":"The customer's nationality e.g NG."},"document":{"type":"object","description":"The means of identification of the customer .This fields applies only to MCY/EUR/GBP virtual accounts.","required":["type","number","issuedCountryCode","issuedBy"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-MM-DD\")"},"expirationDate":{"type":"string","description":"The expiration date on the document (\"YYYY-MM-DD\")."}}},"sourceOfIncome":{"type":"string","description":"Customer's source of income.This fields applies only to MCY/EUR/GBP virtual accounts."},"occupation":{"type":"string","description":"The occupation of the customer."},"incomeBand":{"type":"string","description":"Customer's income band."},"employmentStatus":{"type":"string","description":"Customer's employment status.This fields applies only to MCY/EUR/GBP virtual accounts."},"accountDesignation":{"type":"string","description":"Specific use of the account. This fields applies only to MCY/EUR/GBP virtual accounts."},"taxCountry":{"type":"string","description":"This is required for USD virtual account requests. (e.g., US for the United States, EU for the European Union, NG for Nigeria)"},"taxNumber":{"type":"string","description":"This is required for USD virtual account requests. Only required when tax country is US"}}},"meansOfId":{"type":"string","description":"The customer's means of identification which should be a valid government ID e.g voters card, driving license.This can be a File Upload or URL link to the document.This field only applies to individual EUR/GBP virtual accounts","format":"binary"},"utilityBill":{"type":"string","description":"Electricity bills, water bills or any detailed invoice showing the usage of a service. This can be a File Upload  or URL link to the document. This field only applies to individual EUR/GBP virtual accounts","format":"binary"},"reason":{"type":"string","description":"The reason for requesting a virtual account.This field only applies to corporate EUR/GBP virtual accounts"},"paymentFlowDescription":{"type":"string","description":"The countries payments are coming from and going to, The general purpose of these payments,Customer categories of the business etc.This field only applies to corporate EUR/GBP virtual accounts"},"monthlyVolume":{"type":"string","description":"This is the committed transaction volume multiplied by the number of days in the relevant month. This field only applies to corporate EUR/GBP virtual accounts"},"entityName":{"type":"string","description":"This is the legal name of the business or company.This field only applies to corporate EUR/GBP virtual accounts"},"attachments":{"type":"string","description":"This can be a single document, a list of documents, or a list of URLs to the documents.This field only applies to corporate EUR/GBP virtual accounts","format":"binary"},"channel":{"type":"string","description":"The bank of the virtual account","default":"vfd","enum":["vfd","wema","providus"]}}},"examples":{"Request Example":{"value":{"currency":"EUR","accountType":"individual","KYCInformation":{"firstName":"john","lastName":"doe","address":{"country":"GB","zip":"90909","street":"7 unity avenbue","state":"lagos","city":"Ikeja"},"document":{"type":"passport","number":"90909","issuedCountryCode":"NG","issuedBy":"NG","issuedDate":"2021-09-01"},"birthDate":"2000-10-01","occupation":"doctor"},"meansOfId":"https://reviewtestbucket.s3.amazonaws.com/invoiceAttachments/WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg","utilityBill":"https://reviewtestbucket.s3.amazonaws.com/invoiceAttachments/WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg"}},"NGN":{"value":{"success":true,"message":"Thank you, Efe Billionaire. A NGN virtual account has been created for you","data":{"status":"approved","isActive":true,"accountNumber":"4231804889","KYCInformation":{"firstName":"EFE","lastName":"EBIEROMA"},"accountInformation":{"accountNumber":"4231804889","accountName":"EFE EBIEROMA","bankName":"WEMA BANK","reference":"e3f34686-84b7-4add-be81-db8cbb804569"},"accountOpeningFee":0,"pendingAdditionalInfoCount":0,"isPermanent":true,"expiresAt":null,"reason":null,"monthlyVolume":null,"entityName":null,"paymentFlowDescription":null,"attachments":[],"meansOfId":[],"utilityBill":[],"virtualAccountType":"additional","_id":"622c48dea944150467b31d49","business":"607b3cae67c64480bbf1b995","currency":"NGN","accountType":"individual","entityType":"main_account","currencyType":"fiat","createdAt":"2022-03-12T07:16:46.863Z","updatedAt":"2022-03-12T07:16:46.863Z"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Thank you, John Doe. We are now processing your EUR account request\",\n    \"data\": {\n        \"status\": \"pending\",\n        \"isActive\": false,\n        \"accountNumber\": null,\n        \"KYCInformation\": {\n            \"firstName\": \"john\",\n            \"lastName\": \"doe\",\n            \"address\": {\n                \"country\": \"GB\",\n                \"zip\": \"90909\",\n                \"street\": \"7 unity avenbue\",\n                \"state\": \"lagos\",\n                \"city\": \"Ikeja\"\n            },\n            \"document\": {\n                \"type\": \"passport\",\n                \"number\": \"90909\",\n                \"issuedCountryCode\": \"NG\",\n                \"issuedBy\": \"NG\",\n                \"issuedDate\": \"2021-09-01\"\n            },\n            \"birthDate\": \"2000-10-01\",\n            \"occupation\": \"doctor\"\n        },\n        \"accountInformation\": null,\n        \"accountOpeningFee\": 0,\n        \"pendingAdditionalInfoCount\": 0,\n        \"isPermanent\": true,\n        \"expiresAt\": null,\n        \"reason\": null,\n        \"monthlyVolume\": null,\n        \"entityName\": null,\n        \"paymentFlowDescription\": null,\n        \"attachments\": [],\n        \"meansOfId\": [\n            {\n                \"name\": \"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg\",\n                \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_e393d2b6-aaa3-4cf6-8614-c00c3a5533d9.jpeg\"\n            }\n        ],\n        \"utilityBill\": [\n            {\n                \"name\": \"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg\",\n                \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_de99b94a-5ef9-46a5-bafb-a4439081d0df.jpeg\"\n            }\n        ],\n        \"virtualAccountType\": \"additional\",\n        \"_id\": \"62195aeacb0e3e63e7fdeac8\",\n        \"business\": \"61aa4e72cc67b6f04d97f874\",\n        \"currency\": \"EUR\",\n        \"accountType\": \"individual\",\n        \"entityType\": \"main_account\",\n        \"currencyType\": \"fiat\",\n        \"createdAt\": \"2022-02-25T22:40:42.354Z\",\n        \"updatedAt\": \"2022-02-25T22:40:42.354Z\"\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Thank you, John Doe. We are now processing your EUR account request"},"data":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"isActive":{"type":"boolean","example":false,"default":true},"accountNumber":{},"KYCInformation":{"type":"object","properties":{"firstName":{"type":"string","example":"john"},"lastName":{"type":"string","example":"doe"},"address":{"type":"object","properties":{"country":{"type":"string","example":"GB"},"zip":{"type":"string","example":"90909"},"street":{"type":"string","example":"7 unity avenbue"},"state":{"type":"string","example":"lagos"},"city":{"type":"string","example":"Ikeja"}}},"document":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"number":{"type":"string","example":"90909"},"issuedCountryCode":{"type":"string","example":"NG"},"issuedBy":{"type":"string","example":"NG"},"issuedDate":{"type":"string","example":"2021-09-01"}}},"birthDate":{"type":"string","example":"2000-10-01"},"occupation":{"type":"string","example":"doctor"}}},"accountInformation":{},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_e393d2b6-aaa3-4cf6-8614-c00c3a5533d9.jpeg"}}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_de99b94a-5ef9-46a5-bafb-a4439081d0df.jpeg"}}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"62195aeacb0e3e63e7fdeac8"},"business":{"type":"string","example":"61aa4e72cc67b6f04d97f874"},"currency":{"type":"string","example":"EUR"},"accountType":{"type":"string","example":"individual"},"entityType":{"type":"string","example":"main_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-02-25T22:40:42.354Z"},"updatedAt":{"type":"string","example":"2022-02-25T22:40:42.354Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/":{"get":{"summary":"List virtual accounts","description":"This endpoint fetches all virtual accounts belonging to a merchant","operationId":"get-merchant-virtual-account-requests","parameters":[{"name":"currency","in":"query","description":"The virtual account currency.e.g EUR","schema":{"type":"string","default":"EUR"}},{"name":"businessName","in":"query","description":"Specify the name of the business or subaccount you want to retrieve.","schema":{"type":"string"}},{"name":"issuedDate","in":"query","description":"The date the virtual account was issued . It must be in ISO 8601 date format","schema":{"type":"string"}},{"name":"requestedDate","in":"query","description":"The date the virtual account was requested. It must be in ISO 8601 date format","schema":{"type":"string"}},{"name":"accountNumber","in":"query","description":"The virtual account number","schema":{"type":"string"}},{"name":"status","in":"query","description":"The status of the virtual accounts e.g approved, pending and declined","schema":{"type":"string","enum":["approved","pending","declined"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts?":{"get":{"summary":"Fetch a virtual account by currency","description":"This endpoint is used for retrieving an account that is belongs to a merchant by currency","operationId":"get-merchant-virtual-account-by-currency","parameters":[{"name":"currency","in":"query","description":"The virtual account currency","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/bvn":{"get":{"summary":"Fetch a virtual account by BVN","description":"This endpoint is used for retrieving an account that is belongs to a merchant by BVN","operationId":"fetch-a-virtual-account-by-bvn","parameters":[{"name":"bvn","in":"query","description":"The virtual account BVN","required":true,"schema":{"type":"string","default":"{{bvn}}"}},{"name":"business","in":"query","description":"Your business Id","required":true,"schema":{"type":"string","default":"{{businessId}}"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/business/{businessId}/sub-accounts/{subAccountId}":{"get":{"summary":"List Sub-account virtual  accounts","description":"This endpoint allows you to get a list of accounts that belongs to a subaccount","operationId":"get-subaccount-virtual-accounts","parameters":[{"name":"businessId","in":"path","description":"The ID of the parent business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the subaccount","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"string","description":"Specify exactly what page you want to retrieve"},"perPage":{"type":"string","description":"Specify how many records you want to retrieve per page"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Subaccount virtual accounts fetched successfully\",\n  \"data\": {\n    \"results\": [],\n    \"total\": 0\n  }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Subaccount virtual accounts fetched successfully"},"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"isActive":{"type":"boolean","example":false,"default":true},"accountNumber":{},"merchantReference":{},"KYCInformation":{"type":"object","properties":{"address":{"type":"object","properties":{"country":{"type":"string","example":"NG"},"state":{"type":"string","example":"lagos"},"city":{"type":"string","example":"ikeja"},"street":{"type":"string","example":"7,emina crescent"},"zip":{"type":"string","example":"12027"}}},"document":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"number":{"type":"string","example":"A10234"},"issuedCountryCode":{"type":"string","example":"NG-2"},"issuedBy":{"type":"string","example":"government"},"issuedDate":{"type":"string","example":"2020-09-09"},"expirationDate":{"type":"string","example":"2023-09-09"}}},"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"does"},"email":{"type":"string","example":"johndoe@gmail.com"},"occupation":{"type":"string","example":"Occupation"},"birthDate":{"type":"string","example":"1998-09-23"}}},"accountInformation":{},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"isCheckoutVa":{"type":"boolean","example":false,"default":true},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"62e3c30f3d9729739c1e2117"},"parentBusiness":{"type":"string","example":"61aa4e72cc67b6f06797f874"},"business":{"type":"string","example":"62e3bd3d3d972967d61e1fe1"},"currency":{"type":"string","example":"EUR"},"accountType":{"type":"string","example":"individual"},"entityType":{"type":"string","example":"sub_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-07-29T11:22:55.923Z"},"updatedAt":{"type":"string","example":"2022-07-29T11:22:55.923Z"}}}},"total":{"type":"integer","example":1,"default":0}}}}},{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Subaccount virtual accounts fetched successfully"},"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{}}},"total":{"type":"integer","example":0,"default":0}}}}}]}}}}},"deprecated":false}},"/profile/virtual-accounts/{virtualAccountId}":{"get":{"summary":"Fetch a virtual account","description":"This endpoint is used for retrieving a virtual account","operationId":"get-one-virtual-account","parameters":[{"name":"virtualAccountId","in":"path","description":"The ID of the virtual account.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Virtual account fetched successfully\",\n  \"data\": {\n    \"status\": \"approved\",\n    \"isActive\": true,\n    \"accountNumber\": \"4231139906\",\n    \"KYCInformation\": {\n      \"businessName\": \"james ventures\"\n    },\n    \"accountInformation\": {\n      \"accountNumber\": \"4231139906\",\n      \"accountName\": \"james ventures\",\n      \"bankName\": \"WEMA BANK\",\n      \"reference\": \"4c9eeacb-ce44-4916-a81f-b2969473ccd4\"\n    },\n    \"accountOpeningFee\": 0,\n    \"pendingAdditionalInfoCount\": 0,\n    \"isPermanent\": true,\n    \"expiresAt\": null,\n    \"reason\": null,\n    \"monthlyVolume\": null,\n    \"entityName\": null,\n    \"paymentFlowDescription\": null,\n    \"attachments\": [],\n    \"meansOfId\": [],\n    \"utilityBill\": [],\n    \"virtualAccountType\": \"additional\",\n    \"_id\": \"622676f2a944153ee9b2fc38\",\n    \"business\": {\n      \"name\": \"Lokey Inc\",\n      \"email\": \"tega@fincra.com\"\n    },\n    \"currency\": \"NGN\",\n    \"accountType\": \"corporate\",\n    \"entityType\": \"main_account\",\n    \"currencyType\": \"fiat\",\n    \"createdAt\": \"2022-03-07T21:19:46.588Z\",\n    \"updatedAt\": \"2022-03-07T21:19:46.588Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Virtual account fetched successfully"},"data":{"type":"object","properties":{"status":{"type":"string","example":"approved"},"isActive":{"type":"boolean","example":true,"default":true},"accountNumber":{"type":"string","example":"4231139906"},"KYCInformation":{"type":"object","properties":{"businessName":{"type":"string","example":"james ventures"}}},"accountInformation":{"type":"object","properties":{"accountNumber":{"type":"string","example":"4231139906"},"accountName":{"type":"string","example":"james ventures"},"bankName":{"type":"string","example":"WEMA BANK"},"reference":{"type":"string","example":"4c9eeacb-ce44-4916-a81f-b2969473ccd4"}}},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"622676f2a944153ee9b2fc38"},"business":{"type":"object","properties":{"name":{"type":"string","example":"Lokey Inc"},"email":{"type":"string","example":"tega@fincra.com"}}},"currency":{"type":"string","example":"NGN"},"accountType":{"type":"string","example":"corporate"},"entityType":{"type":"string","example":"main_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-03-07T21:19:46.588Z"},"updatedAt":{"type":"string","example":"2022-03-07T21:19:46.588Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/virtual-accounts/inactive":{"patch":{"summary":"Deactivate a virtual account","description":"This API lets you de-activate a Naira(NGN) account","operationId":"deactivate-virtual-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The Virtual account ID ."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/collections/refund":{"post":{"summary":"Initiate refund","description":"This API lets you initiate a refund on a deposit, which is useful in cases of overpayment and or underpayment.","operationId":"initiate-refund","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"transReference":{"type":"string","description":"This is the transaction reference for the transaction you would like to process a refund for"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Collection refund initiated successfully\",\n    \"data\": {\n        \"reference\": \"e788b13b-3da4-43b8-9d9a-2f5e0c2dc3b0\",\n        \"collectionMerchantReference\": \"\",\n        \"collectionReference\": \"ce01c9ee-1633-43d6-88a1-0eb11824b4e5\",\n        \"amountRefunded\": 2,\n        \"collectionAmountExpected\": 850,\n        \"collectionAmountReceived\": 852,\n        \"collectionAmountSettled\": 839.18,\n        \"collectionVarianceType\": overpayment\n    }\n}"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"error\": \"Refund already initiated\",\n    \"errorType\": \"UNPROCESSABLE_ENTITY\"\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"error":{"type":"string","example":"Refund already initiated"},"errorType":{"type":"string","example":"UNPROCESSABLE_ENTITY"}}}}}}},"deprecated":false}},"/collections/refund/{id}":{"get":{"summary":"Get single refund","description":"This API lets you get the details of a refund using the unique reference","operationId":"get-single-refund","parameters":[{"name":"id","in":"path","description":"The refund's unique identifier","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Refund fetched successfully\",\n    \"data\": {\n        \"id\": 21,\n        \"collectionReference\": \"96d1fc1c-2570-4a50-8eca-1277c4a90c0d\",\n        \"reference\": \"cba44033-bcaa-4df6-9e68-6b3cf7f251ca\",\n        \"currency\": \"NGN\",\n        \"amountRefunded\": \"5914.000000\",\n        \"refundType\": \"overpayment\",\n        \"payeeAccountNumber\": \"7821444125\",\n        \"collectionExpectedAmount\": \"850.000000\",\n        \"collectionAmountReceived\": \"6764.000000\",\n        \"collectionAmountSettled\": \"6662.201800\",\n        \"collectionSettlementReference\": null,\n        \"collectionMerchantReference\": \"\",\n        \"collectionVarianceType\": \"overpayment\",\n        \"collectionVirtualAccountId\": \"655ec84f1f3ce30f00efad7f\",\n        \"metadata\": null,\n        \"refundStatus\": \"processing\",\n        \"completedAt\": \"2023-12-07 17:39:00\",\n        \"initiatedAt\": \"2023-12-05 15:07:18\",\n        \"payee\": {\n            \"email\": null,\n            \"phone\": null,\n            \"accountNumber\": \"7821444125\",\n            \"bankCode\": \"042\",\n            \"bankName\": \"gtb\",\n            \"cardScheme\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Refund fetched successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":21,"default":0},"collectionReference":{"type":"string","example":"96d1fc1c-2570-4a50-8eca-1277c4a90c0d"},"reference":{"type":"string","example":"cba44033-bcaa-4df6-9e68-6b3cf7f251ca"},"currency":{"type":"string","example":"NGN"},"amountRefunded":{"type":"string","example":"5914.000000"},"refundType":{"type":"string","example":"overpayment"},"payeeAccountNumber":{"type":"string","example":"7821444125"},"collectionExpectedAmount":{"type":"string","example":"850.000000"},"collectionAmountReceived":{"type":"string","example":"6764.000000"},"collectionAmountSettled":{"type":"string","example":"6662.201800"},"collectionSettlementReference":{},"collectionMerchantReference":{"type":"string","example":""},"collectionVarianceType":{"type":"string","example":"overpayment"},"collectionVirtualAccountId":{"type":"string","example":"655ec84f1f3ce30f00efad7f"},"metadata":{},"refundStatus":{"type":"string","example":"processing"},"completedAt":{"type":"string","example":"2023-12-07 17:39:00"},"initiatedAt":{"type":"string","example":"2023-12-05 15:07:18"},"payee":{"type":"object","properties":{"email":{},"phone":{},"accountNumber":{"type":"string","example":"7821444125"},"bankCode":{"type":"string","example":"042"},"bankName":{"type":"string","example":"gtb"},"cardScheme":{}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/collections/refund?":{"get":{"summary":"List all refunds","description":"This API lets you view all refunds associated with your business","operationId":"get-all-refunds","parameters":[{"name":"business","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Refunds fetched successfully\",\n    \"data\": {\n        \"results\": [\n            {\n                \"id\": 21,\n                \"collectionReference\": \"96d1fc1c-2570-4a50-8eca-1277c4a90c0d\",\n                \"reference\": \"cba44033-bcaa-4df6-9e68-6b3cf7f251ca\",\n                \"currency\": \"NGN\",\n                \"amountRefunded\": \"5914.000000\",\n                \"refundType\": \"overpayment\",\n                \"payeeAccountNumber\": \"7821444125\",\n                \"collectionAmountReceived\": \"6764.000000\",\n                \"collectionVarianceType\": \"overpayment\",\n                \"refundStatus\": \"processing\",\n                \"completedAt\": \"2023-12-07 17:39:00\",\n                \"initiatedAt\": \"2023-12-05 15:07:18\"\n            }\n        ],\n        \"total\": 1\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Refunds fetched successfully"},"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":21,"default":0},"collectionReference":{"type":"string","example":"96d1fc1c-2570-4a50-8eca-1277c4a90c0d"},"reference":{"type":"string","example":"cba44033-bcaa-4df6-9e68-6b3cf7f251ca"},"currency":{"type":"string","example":"NGN"},"amountRefunded":{"type":"string","example":"5914.000000"},"refundType":{"type":"string","example":"overpayment"},"payeeAccountNumber":{"type":"string","example":"7821444125"},"collectionAmountReceived":{"type":"string","example":"6764.000000"},"collectionVarianceType":{"type":"string","example":"overpayment"},"refundStatus":{"type":"string","example":"processing"},"completedAt":{"type":"string","example":"2023-12-07 17:39:00"},"initiatedAt":{"type":"string","example":"2023-12-05 15:07:18"}}}},"total":{"type":"integer","example":1,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/mandate-mgt/mandates/":{"post":{"summary":"Create mandate","description":"This API lets you initiate a mandate on a customers bank account. Note: customer has to approve the mandate before it is in effect. The action the user would have to complete to approve the mandate, is contained within the response once the API call is made, in the `responseDescription` field","operationId":"create-mandate","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","description","startDate","endDate","currency","customer"],"properties":{"amount":{"type":"integer","description":"This is the total amount to be debited during the course of the mandate","format":"int32"},"description":{"type":"string","description":"A description of what the mandate is for"},"startDate":{"type":"string","description":"When the mandate goes in effect","format":"date"},"endDate":{"type":"string","description":"The last day any debit would/can be initiated using the created mandate","format":"date"},"currency":{"type":"string","default":"NGN"},"customer":{"type":"object","required":["accountNumber","accountName","bankCode","address","email","phone"],"properties":{"accountNumber":{"type":"string","description":"The customers account number to be debited"},"accountName":{"type":"string","description":"The customers name as it appears on the bank account"},"bankCode":{"type":"string","description":"The domiciliary bank code"},"address":{"type":"string","description":"The customers address"},"email":{"type":"string","description":"The customers email address"},"phone":{"type":"string","description":"The customers phone number"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"amount\":72500,\n   \"description\":\"Subscription\",\n   \"responseDescription\":\"Welcome to NIBSS e-mandate authentication service, a seamless and convenient authentication experience. Kindly proceed with a token payment of N50:00 into account number \\\"0008787867\\\" with GTBank. This payment will trigger the  authentication of your mandate. Thank You\",\n   \"startDate\":\"2024-04-05T00:00:00.000Z\",\n   \"endDate\":\"2024-10-31T00:00:00.000Z\",\n   \"status\":\"initiated\",\n   \"reference\":\"mr_0788b7b-767da-7878-8886-dc0788cd\",\n   \"createdAt\":\"2024-04-04T08:04:05.474Z\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":72500,"default":0},"description":{"type":"string","example":"Subscription"},"responseDescription":{"type":"string","example":"Welcome to NIBSS e-mandate authentication service, a seamless and convenient authentication experience. Kindly proceed with a token payment of N50:00 into account number \"0008787867\" with GTBank. This payment will trigger the  authentication of your mandate. Thank You"},"startDate":{"type":"string","example":"2024-04-05T00:00:00.000Z"},"endDate":{"type":"string","example":"2024-10-31T00:00:00.000Z"},"status":{"type":"string","example":"initiated"},"reference":{"type":"string","example":"mr_0788b7b-767da-7878-8886-dc0788cd"},"createdAt":{"type":"string","example":"2024-04-04T08:04:05.474Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": [\n        \"invalid startDate, must be future date\"\n    ],\n    \"error\": \"Bad Request\",\n    \"statusCode\": 400\n}"}},"schema":{"type":"object","properties":{"message":{"type":"array","items":{"type":"string","example":"invalid startDate, must be future date"}},"error":{"type":"string","example":"Bad Request"},"statusCode":{"type":"integer","example":400,"default":0}}}}}}},"deprecated":false}},"/mandate-mgt/mandates/payment":{"post":{"summary":"Initiate debit on mandate","description":"This API lets you initiate a debit on an existing mandate.","operationId":"initiate-debit-on-mandate","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","description","mandateReference","reference","currency","bankCode","accountNumber","initiatorAccountName","beneficiaryNarration"],"properties":{"amount":{"type":"integer","description":"This is the amount to be debited","format":"int32"},"description":{"type":"string","description":"A description of what the mandate debit is for"},"mandateReference":{"type":"string","description":"The unique reference of the mandate that was created. This was returned in the response payload when mandate was initiated, and in the webhook response when mandate was approved"},"reference":{"type":"string","description":"Your reference for tracking this debit"},"currency":{"type":"string","default":"NGN"},"bankCode":{"type":"string","description":"The domiciliary bank code"},"accountNumber":{"type":"string","description":"The customers account number to be debited. This has to be the same account number that was provided when creating the mandate"},"initiatorAccountName":{"type":"string","description":"The customers name as it appears on the bank account"},"beneficiaryNarration":{"type":"string","description":"The transaction narration"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \n}"}},"schema":{"type":"object","properties":{}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Mandate not found\",\n    \"error\": \"Not Found\",\n    \"statusCode\": 404\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Mandate not found"},"error":{"type":"string","example":"Not Found"},"statusCode":{"type":"integer","example":404,"default":0}}}}}}},"deprecated":false}},"/mandate-mgt/mandates/reference/{mandate_reference}":{"get":{"summary":"Get mandate info/status","description":"This API lets you get the details of a mandate using the mandate reference","operationId":"get-mandate-info","parameters":[{"name":"mandate_reference","in":"path","description":"The reference for the mandate which was returned in the payload response when mandate was created","schema":{"type":"string","default":"mr_9dc12651-49f0-4e4f-9051-562778988"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 72500,\n    \"description\": \"Recurring loan repayment\",\n    \"responseDescription\": \"\",\n    \"startDate\": \"2024-04-04T00:00:00.000Z\",\n    \"endDate\": \"2024-10-31T00:00:00.000Z\",\n    \"status\": \"approved\",\n    \"reference\": \"mr_9dcere51-49f0-8347-9051-438783748\",\n    \"createdAt\": \"2024-04-03T09:56:34.812Z\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":72500,"default":0},"description":{"type":"string","example":"Recurring loan repayment"},"responseDescription":{"type":"string","example":""},"startDate":{"type":"string","example":"2024-04-04T00:00:00.000Z"},"endDate":{"type":"string","example":"2024-10-31T00:00:00.000Z"},"status":{"type":"string","example":"approved"},"reference":{"type":"string","example":"mr_9dcere51-49f0-8347-9051-438783748"},"createdAt":{"type":"string","example":"2024-04-03T09:56:34.812Z"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Mandate not found\",\n    \"error\": \"Not Found\",\n    \"statusCode\": 404\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Mandate not found"},"error":{"type":"string","example":"Not Found"},"statusCode":{"type":"integer","example":404,"default":0}}}}}}},"deprecated":false}},"/mandate-mgt/mandates/?perPage={perPage}":{"get":{"summary":"Get all mandates","description":"This API lets you get all mandates that has been initiated by your merchant account. Note, the path param is passed in the url as a query parameter","operationId":"get-all-mandates","parameters":[{"name":"perPage","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"results\":[\n      {\n         \"amount\":72500,\n         \"description\":\"then\",\n         \"responseDescription\":\"\",\n         \"startDate\":\"2024-04-05T00:00:00.000Z\",\n         \"endDate\":\"2024-10-31T00:00:00.000Z\",\n         \"status\":\"approved\",\n         \"reference\":\"mr_3704d0-ee9e-382-4289-c3282381e2\",\n         \"createdAt\":\"2024-04-04T13:07:36.702Z\"\n      },\n      {\n         \"amount\":200000,\n         \"description\":\"then\",\n         \"responseDescription\":\"\",\n         \"startDate\":\"2024-04-05T00:00:00.000Z\",\n         \"endDate\":\"2024-10-31T00:00:00.000Z\",\n         \"status\":\"approved\",\n         \"reference\":\"mr_hwu8347-42-23878-7872-075450bdd1c5\",\n         \"createdAt\":\"2024-04-04T12:43:41.335Z\"\n      }\n   ],\n   \"total\":10,\n   \"perPage\":\"2\",\n   \"page\":1\n}"}},"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"integer","example":72500,"default":0},"description":{"type":"string","example":"then"},"responseDescription":{"type":"string","example":""},"startDate":{"type":"string","example":"2024-04-05T00:00:00.000Z"},"endDate":{"type":"string","example":"2024-10-31T00:00:00.000Z"},"status":{"type":"string","example":"approved"},"reference":{"type":"string","example":"mr_3704d0-ee9e-382-4289-c3282381e2"},"createdAt":{"type":"string","example":"2024-04-04T13:07:36.702Z"}}}},"total":{"type":"integer","example":10,"default":0},"perPage":{"type":"string","example":"2"},"page":{"type":"integer","example":1,"default":0}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/customers":{"post":{"summary":"Create a customer account","description":"This Api helps to create a virtual card customer account","operationId":"virtual-cards-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["identifier","business","email","firstName","lastName","dob","phone","address","documents"],"properties":{"identifier":{"type":"string","description":"An identifier is a name that identifies (that is, labels the identity of) either a unique object or a unique class of objects"},"business":{"type":"string","description":"Your business id"},"email":{"type":"string","description":"Email address. kindly note that it must  be a unique email address"},"firstName":{"type":"string","description":"The customer's first name."},"lastName":{"type":"string","description":"The customer's last name. This is required to create a virtual card  account"},"dob":{"type":"string","description":"The birthdate of the customer(YYYY-MM-DD )"},"phone":{"type":"object","description":"This contains the country code and phone number  of the customer","properties":{}},"address":{"type":"object","properties":{}},"documents":{"type":"object","properties":{}}}},"examples":{"Request Example":{"value":{"identifier":"Tq","business":"63408b05cb018460343c52de","email":"taofeek2suree@gmail.com","firstName":"Harry","lastName":"Attat","dob":"1990-10-10","phone":{"countryCode":"+234","number":"08142986562"},"address":{"country":"NG","zip":"100000","street":"No 4 Babawa Street","state":"Lagos State","city":"Amuwo"},"documents":[{"image":"https://wiki.nimc.gov.ng/mobile_userguide/pins_female.png","type":"passport","number":"A08511194","issuedCountryCode":"NG","issuedBy":"Goverment","issuedDate":"2022-10-10","expirationDate":"2027-10-10"}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Customer created successfully\",\n    \"data\": {\n        \"middleName\": \"\",\n        \"isActive\": true,\n        \"phone\": {\n            \"countryCode\": \"+234\",\n            \"number\": \"08142986562\",\n            \"_id\": \"639910de41664f80e1eedb20\"\n        },\n        \"address\": {\n            \"country\": \"NG\",\n            \"state\": \"Lagos State\",\n            \"street2\": null,\n            \"zip\": \"100000\",\n            \"city\": \"Amuwo\",\n            \"street\": \"No 4 Babawa Street\",\n            \"_id\": \"639910de41664f41a1eedb21\"\n        },\n        \"_id\": \"639910de41664fdaf9eedb1f\",\n        \"identifier\": \"Tq\",\n        \"business\": \"63408b05cb018460343c52de\",\n        \"email\": \"taofeek2suree@gmail.com\",\n        \"firstName\": \"Harry\",\n        \"lastName\": \"Attat\",\n        \"dob\": \"Wed Oct 10 1990 00:00:00 GMT+0000 (Coordinated Universal Time)\",\n        \"documents\": [\n            {\n                \"image\": \"https://wiki.nimc.gov.ng/mobile_userguide/pins_female.png\",\n                \"type\": \"passport\",\n                \"number\": \"A08511194\",\n                \"issuedCountryCode\": \"NG\",\n                \"issuedDate\": \"2022-10-10T00:00:00.000Z\",\n                \"expirationDate\": \"2027-10-10T00:00:00.000Z\",\n                \"_id\": \"639910de41664f3695eedb22\"\n            }\n        ],\n        \"cid\": \"60febd3c-157a-4ae4-aeed-863c5530ec42\",\n        \"createdAt\": \"2022-12-13T23:55:10.566Z\",\n        \"updatedAt\": \"2022-12-13T23:55:10.566Z\",\n        \"__v\": 0\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Customer created successfully"},"data":{"type":"object","properties":{"middleName":{"type":"string","example":""},"isActive":{"type":"boolean","example":true,"default":true},"phone":{"type":"object","properties":{"countryCode":{"type":"string","example":"+234"},"number":{"type":"string","example":"08142986562"},"_id":{"type":"string","example":"639910de41664f80e1eedb20"}}},"address":{"type":"object","properties":{"country":{"type":"string","example":"NG"},"state":{"type":"string","example":"Lagos State"},"street2":{},"zip":{"type":"string","example":"100000"},"city":{"type":"string","example":"Amuwo"},"street":{"type":"string","example":"No 4 Babawa Street"},"_id":{"type":"string","example":"639910de41664f41a1eedb21"}}},"_id":{"type":"string","example":"639910de41664fdaf9eedb1f"},"identifier":{"type":"string","example":"Tq"},"business":{"type":"string","example":"63408b05cb018460343c52de"},"email":{"type":"string","example":"taofeek2suree@gmail.com"},"firstName":{"type":"string","example":"Harry"},"lastName":{"type":"string","example":"Attat"},"dob":{"type":"string","example":"Wed Oct 10 1990 00:00:00 GMT+0000 (Coordinated Universal Time)"},"documents":{"type":"array","items":{"type":"object","properties":{"image":{"type":"string","example":"https://wiki.nimc.gov.ng/mobile_userguide/pins_female.png"},"type":{"type":"string","example":"passport"},"number":{"type":"string","example":"A08511194"},"issuedCountryCode":{"type":"string","example":"NG"},"issuedDate":{"type":"string","example":"2022-10-10T00:00:00.000Z"},"expirationDate":{"type":"string","example":"2027-10-10T00:00:00.000Z"},"_id":{"type":"string","example":"639910de41664f3695eedb22"}}}},"cid":{"type":"string","example":"60febd3c-157a-4ae4-aeed-863c5530ec42"},"createdAt":{"type":"string","example":"2022-12-13T23:55:10.566Z"},"updatedAt":{"type":"string","example":"2022-12-13T23:55:10.566Z"},"__v":{"type":"integer","example":0,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/issuing":{"post":{"summary":"Creating A Card","description":"","operationId":"creating-a-card","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["cid","business","currency","brand","type","chargeCurrency"],"properties":{"cid":{"type":"string","description":"This means customer id. This is gotten after creating customer"},"business":{"typ
[...]
