{"openapi":"3.1.0","info":{"title":"awesome-new-api","version":"0.9"},"servers":[{"url":"https://sandboxapi.fincra.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"api-key"}}},"security":[{"sec0":[]}],"paths":{"/profile/business/me":{"get":{"summary":"Get your business ID","description":"This API lets you retrieves the unique Identifier of your business and other information such as your email etc.","operationId":"get-business-id-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts":{"post":{"summary":"Create a  payout","description":"This API lets you make payouts to bank accounts and mobile money wallets","operationId":"payout-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["sourceCurrency","destinationCurrency","amount","business","description","beneficiary"],"properties":{"sourceCurrency":{"type":"string","description":"The currency which is used to fund the  payout","default":"NGN"},"destinationCurrency":{"type":"string","description":"The currency in which the recipient will be receiving funds","default":"NGN"},"amount":{"type":"string","description":"The value that is to be transferred from the source currency wallet."},"business":{"type":"string","description":"The ID of the business or sub-account making the payout"},"description":{"type":"string","description":"The description of the payout"},"customerReference":{"type":"string","description":"The transaction's unique identifier on your system."},"files":{"type":"string","description":"A document explaining  the reason for the payment .This is only required for payments to bank accounts in USD.","format":"binary"},"customerName":{"type":"string","description":"The name of the beneficiary of the funds.This is only required for payments to bank accounts in USD"},"beneficiary":{"type":"object","description":"The recipient of the funds","required":["type","accountHolderName","accountNumber"],"properties":{"firstName":{"type":"string","description":"The first name of the beneficiary ."},"lastName":{"type":"string","description":"The last name of the beneficiary."},"email":{"type":"string","description":"The email of the beneficiary"},"type":{"type":"string","description":"The type of beneficiary receiving the payout, which might be either an individual or a corporation.","enum":["individual","corporate"]},"accountHolderName":{"type":"string","description":"The name of the beneficiary on the bank account"},"accountNumber":{"type":"string","description":"The account number of the beneficiary"},"mobileMoneyCode":{"type":"string","description":"This is a unique Identifier of the beneficiary mobile money wallet"},"country":{"type":"string","description":"This should be the code of country according to ISO 3166-1 Alpha 2.This is required for payouts where the destination currency is not NGN.","default":"GB"},"bankCode":{"type":"string","description":"The bank code of the beneficiary's bank"},"bankSwiftCode":{"type":"string","description":"The bank swift code of the beneficiary"},"sortCode":{"type":"string","description":"The bank sort code of the beneficiary. This is required to process a payout to a bank in the United kingdom"},"registrationNumber":{"type":"string","description":"This field only applies to a EUR/GBP corporate beneficiary. A government institution provides the company's unique registration number."},"address":{"type":"object","description":"The address of the beneficiary","required":["country","state","city","street","zip"],"properties":{"country":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."},"street":{"type":"string","description":"Street Name."},"zip":{"type":"string","description":"Zip Code."}}},"document":{"type":"object","description":"The document needed to process the transaction","required":["type","number","issuedCountryCode","issuedBy","issuedDate"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-mm-dd\")"},"expirationDate":{"type":"string","description":"The expiration date on the document(\"YYYY-mm-dd\")"}}}}},"paymentDestination":{"type":"string","description":"This is the type of account you want to send your payments to e.g bank account, mobile money wallet","default":"bank_account","enum":["bank_account","mobile_money_wallet"]},"paymentScheme":{"type":"string","description":"The payment scheme relevant to the destination currency and region e.g sepa"},"quoteReference":{"type":"string","description":"This is the reference generated when the source currency is compared against the destination currency."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List payouts","description":"This API lets you view all your payouts and that of your subaccounts","operationId":"get-all-payouts","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"business":{"type":"string","description":"This ID of the business"},"sourceCurrency":{"type":"string","description":"The currency which was used to fund the payout"},"destinationCurrency":{"type":"string","description":"The currency which the recipient received the payout in"},"subAccount":{"type":"string","description":"This ID of the subaccount"},"status":{"type":"array","description":"The status of the transactions","items":{"type":"string"}},"page":{"type":"string","description":"Specify exactly what page you want to retrieve"},"perPage":{"type":"string","description":"Specify exactly what page you want to retrieve per page"},"dateFrom":{"type":"string","description":"The start date.This must be in ISO 8601 date format(YYYY-MM-DD)"},"dateTo":{"type":"string","description":"The end date.This must be in ISO 8601 date format(YYYY-MM-DD)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/wallets":{"post":{"summary":"Fincra balance transfer API","description":"This API lets you transfer funds to another user on our platform","operationId":"wallet-to-wallet-transfer-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","business","customerReference","description","beneficiaryWalletNumber"],"properties":{"amount":{"type":"string","description":"The value that is to be transferred from the source currency wallet."},"business":{"type":"string","description":"This is the ID of the business making the payout"},"customerReference":{"type":"string","description":"The transaction's unique identifier on your system."},"description":{"type":"string","description":"The purpose of payment."},"beneficiaryWalletNumber":{"type":"string","description":"This is the unique wallet number of the beneficiary you want to make payment to"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Payout processed successfully\",\n  \"data\": {\n    \"id\": \"60acaece7e7a05ef97d0e369\",\n    \"reference\": \"9729464b-8be5-458e-a242-34542138327b\",\n    \"customerReference\": null,\n    \"status\": \"processing\"\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Payout processed successfully"},"data":{"type":"object","properties":{"id":{"type":"string","example":"60acaece7e7a05ef97d0e369"},"reference":{"type":"string","example":"9729464b-8be5-458e-a242-34542138327b"},"customerReference":{},"status":{"type":"string","example":"processing"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/payouts/documents-upload":{"post":{"summary":"Upload transaction document","description":"This API lets you process a payout that requires the upload of a document","operationId":"upload-transaction-document","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reference"],"properties":{"name":{"type":"string","description":"The name of the document"},"type":{"type":"string","description":"The type of document required to complete the transaction. After the payout has been initiated, this can be obtained from the response object of the payout response."},"file":{"type":"string","description":"The document required","format":"binary"},"reference":{"type":"string","description":"This is the unique reference generated for the payout"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/reference/{transactionReference}":{"get":{"summary":"Fetch a payout by reference","description":"This API lets you retrieve and view a specific payout","operationId":"get-payout-by-reference","parameters":[{"name":"transactionReference","in":"path","description":"The unique reference of the payout","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/disbursements/payouts/customer-reference/{customerReference}":{"get":{"summary":"Fetch a payout by customer reference","description":"This API lets you retrieve and view a specific payout","operationId":"get-payout-by-customer-reference","parameters":[{"name":"customerReference","in":"path","description":"The transaction's unique identifier on your system","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/core/banks?":{"get":{"summary":"List banks","description":"This API lets you view a list of banks and mobile money wallet providers, together with their details such as code, swiftCode, and Bic.","operationId":"get-banks","parameters":[{"name":"currency","in":"query","description":"This is the currency code of the Banks being queried. Expected values include: GHS, KES, NGN","schema":{"type":"string","default":"NGN"}},{"name":"country","in":"query","description":"This is the country code of the Banks being queried. Expected values include: NG, GH, KE, UG, ZA or TZ.","schema":{"type":"string","default":"NG"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/requests/":{"post":{"summary":"Create virtual account","description":"This API lets you create a single virtual account","operationId":"request-virtual-accounts","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","accountType","KYCInformation"],"properties":{"currency":{"type":"string","description":"The virtual account currency.e.g EUR","default":"EUR"},"accountType":{"type":"string","description":"The Virtual account type e.g corporate or individual","enum":["individual","corporate"]},"channel":{"type":"string","description":"The bank of the virtual account","default":"vfd","enum":["","vfd","wema","providus"]},"dateOfBirth":{"type":"string","description":"The date of birth of the customer. required only when creating VFD virtual accounts in NGN. Format (mm/dd/yyyy)"},"KYCInformation":{"type":"object","description":"Know your customer information","properties":{"firstName":{"type":"string","description":"The first name of the customer.This is required when requesting an individual virtual account."},"lastName":{"type":"string","description":"The last name of the customer.This is required when requesting an individual virtual account and optional when requesting a virtual account in NGN."},"businessName":{"type":"string","description":"The business name of the company requesting the virtual account.This is only required when requesting a corporate virtual account."},"bvn":{"type":"string","description":"Bank verification number. This is a compulsory requirement that only applies to requests for NGN virtual account creation."},"email":{"type":"string","description":"The email of the customer"},"birthDate":{"type":"string","description":"The birthdate of the customer(YYYY-MM-DD ).This is required when requesting an individual virtual account in EUR or GBP"},"address":{"type":"object","description":"The address of the customer . This is required when requesting an individual virtual account in EUR or GBP.","required":["country","state","city","street","zip"],"properties":{"country":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."},"street":{"type":"string","description":"Street Name."},"zip":{"type":"string","description":"Zip Code."}}},"document":{"type":"object","description":"The means of identification of the customer . This is required when requesting an individual virtual account in EUR or GBP.","required":["type","number","issuedCountryCode","issuedBy","issuedDate"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-mm-dd\")"},"expirationDate":{"type":"string","description":"The expiration date on the document(\"YYYY-mm-dd\")"}}},"occupation":{"type":"string","description":"The occupation of the customer.This is when requesting an individual virtual account in EUR or GBP"},"businessCategory":{"type":"string","description":"The type of business e.g Consultant, Advertising Government Agency. Financial Institution/Investment Bank etc.This field only applies to corporate EUR/GBP virtual accounts"},"additionalInfo":{"type":"string","description":"More information about the customer This parameter is completely optional when requesting a corporate virtual account in either EUR or GBP, and it is not allowed when requesting an NGN virtual account."}}},"meansOfId":{"type":"string","description":"The customer's means of identification which should be a valid government ID e.g voters card, driving license.This can be a File Upload or URL link to the document.This field only applies to individual EUR/GBP virtual accounts","format":"binary"},"utilityBill":{"type":"string","description":"Electricity bills, water bills or any detailed invoice showing the usage of a service. This can be a File Upload  or URL link to the document. This field only applies to individual EUR/GBP virtual accounts","format":"binary"},"reason":{"type":"string","description":"The reason for requesting a virtual account.This field only applies to corporate EUR/GBP virtual accounts"},"paymentFlowDescription":{"type":"string","description":"The countries payments are coming from and going to, The general purpose of these payments,Customer categories of the business etc.This field only applies to corporate EUR/GBP virtual accounts"},"monthlyVolume":{"type":"string","description":"This is the committed transaction volume multiplied by the number of days in the relevant month. This field only applies to corporate EUR/GBP virtual accounts"},"entityName":{"type":"string","description":"This is the legal name of the business or company.This field only applies to corporate EUR/GBP virtual accounts"},"attachments":{"type":"string","description":"This can be a single document, a list of documents, or a list of URLs to the documents.This field only applies to corporate EUR/GBP virtual accounts","format":"binary"}}},"examples":{"Request Example":{"value":{"currency":"EUR","accountType":"individual","KYCInformation":{"firstName":"john","lastName":"doe","address":{"country":"GB","zip":"90909","street":"7 unity avenbue","state":"lagos","city":"Ikeja"},"document":{"type":"passport","number":"90909","issuedCountryCode":"NG","issuedBy":"NG","issuedDate":"2021-09-01"},"birthDate":"2000-10-01","occupation":"doctor"},"meansOfId":"https://reviewtestbucket.s3.amazonaws.com/invoiceAttachments/WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg","utilityBill":"https://reviewtestbucket.s3.amazonaws.com/invoiceAttachments/WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg"}},"NGN":{"value":{"success":true,"message":"Thank you, Efe Billionaire. A NGN virtual account has been created for you","data":{"status":"approved","isActive":true,"accountNumber":"4231804889","KYCInformation":{"firstName":"EFE","lastName":"EBIEROMA"},"accountInformation":{"accountNumber":"4231804889","accountName":"EFE EBIEROMA","bankName":"WEMA BANK","reference":"e3f34686-84b7-4add-be81-db8cbb804569"},"accountOpeningFee":0,"pendingAdditionalInfoCount":0,"isPermanent":true,"expiresAt":null,"reason":null,"monthlyVolume":null,"entityName":null,"paymentFlowDescription":null,"attachments":[],"meansOfId":[],"utilityBill":[],"virtualAccountType":"additional","_id":"622c48dea944150467b31d49","business":"607b3cae67c64480bbf1b995","currency":"NGN","accountType":"individual","entityType":"main_account","currencyType":"fiat","createdAt":"2022-03-12T07:16:46.863Z","updatedAt":"2022-03-12T07:16:46.863Z"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Thank you, John Doe. We are now processing your EUR account request\",\n    \"data\": {\n        \"status\": \"pending\",\n        \"isActive\": false,\n        \"accountNumber\": null,\n        \"KYCInformation\": {\n            \"firstName\": \"john\",\n            \"lastName\": \"doe\",\n            \"address\": {\n                \"country\": \"GB\",\n                \"zip\": \"90909\",\n                \"street\": \"7 unity avenbue\",\n                \"state\": \"lagos\",\n                \"city\": \"Ikeja\"\n            },\n            \"document\": {\n                \"type\": \"passport\",\n                \"number\": \"90909\",\n                \"issuedCountryCode\": \"NG\",\n                \"issuedBy\": \"NG\",\n                \"issuedDate\": \"2021-09-01\"\n            },\n            \"birthDate\": \"2000-10-01\",\n            \"occupation\": \"doctor\"\n        },\n        \"accountInformation\": null,\n        \"accountOpeningFee\": 0,\n        \"pendingAdditionalInfoCount\": 0,\n        \"isPermanent\": true,\n        \"expiresAt\": null,\n        \"reason\": null,\n        \"monthlyVolume\": null,\n        \"entityName\": null,\n        \"paymentFlowDescription\": null,\n        \"attachments\": [],\n        \"meansOfId\": [\n            {\n                \"name\": \"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg\",\n                \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_e393d2b6-aaa3-4cf6-8614-c00c3a5533d9.jpeg\"\n            }\n        ],\n        \"utilityBill\": [\n            {\n                \"name\": \"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg\",\n                \"url\": \"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_de99b94a-5ef9-46a5-bafb-a4439081d0df.jpeg\"\n            }\n        ],\n        \"virtualAccountType\": \"additional\",\n        \"_id\": \"62195aeacb0e3e63e7fdeac8\",\n        \"business\": \"61aa4e72cc67b6f04d97f874\",\n        \"currency\": \"EUR\",\n        \"accountType\": \"individual\",\n        \"entityType\": \"main_account\",\n        \"currencyType\": \"fiat\",\n        \"createdAt\": \"2022-02-25T22:40:42.354Z\",\n        \"updatedAt\": \"2022-02-25T22:40:42.354Z\"\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Thank you, John Doe. We are now processing your EUR account request"},"data":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"isActive":{"type":"boolean","example":false,"default":true},"accountNumber":{},"KYCInformation":{"type":"object","properties":{"firstName":{"type":"string","example":"john"},"lastName":{"type":"string","example":"doe"},"address":{"type":"object","properties":{"country":{"type":"string","example":"GB"},"zip":{"type":"string","example":"90909"},"street":{"type":"string","example":"7 unity avenbue"},"state":{"type":"string","example":"lagos"},"city":{"type":"string","example":"Ikeja"}}},"document":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"number":{"type":"string","example":"90909"},"issuedCountryCode":{"type":"string","example":"NG"},"issuedBy":{"type":"string","example":"NG"},"issuedDate":{"type":"string","example":"2021-09-01"}}},"birthDate":{"type":"string","example":"2000-10-01"},"occupation":{"type":"string","example":"doctor"}}},"accountInformation":{},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_e393d2b6-aaa3-4cf6-8614-c00c3a5533d9.jpeg"}}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"WhatsApp%20Image%202021-12-23%20At%2011_6803ef48-977d-4db9-9a38-b2e5a1365270.jpeg"},"url":{"type":"string","example":"https://reviewtestbucket.s3.amazonaws.com/va_documents/WhatsApp%2520Image%25202021-12-23%2520At%252011_6803ef48-977d-4db9-9a38-b2e5a1365270_de99b94a-5ef9-46a5-bafb-a4439081d0df.jpeg"}}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"62195aeacb0e3e63e7fdeac8"},"business":{"type":"string","example":"61aa4e72cc67b6f04d97f874"},"currency":{"type":"string","example":"EUR"},"accountType":{"type":"string","example":"individual"},"entityType":{"type":"string","example":"main_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-02-25T22:40:42.354Z"},"updatedAt":{"type":"string","example":"2022-02-25T22:40:42.354Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/business/{businessId}/sub-accounts/{subAccountId}/requests/auto":{"post":{"summary":"Create Individual virtual account for your sub-account (Instant Approval)","description":"This API lets you create a single virtual account for your sub account","operationId":"request-individual-virtual-account-for-a-sub-account-1","parameters":[{"name":"businessId","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the sub account","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","accountType","KYCInformation"],"properties":{"currency":{"type":"string","description":"The virtual account currency.e.g EUR","default":"EUR"},"accountType":{"type":"string","description":"The Virtual account type e.g corporate or individual","enum":["individual"]},"channel":{"type":"string","description":"The bank of the virtual account","enum":["","vfd","wema","providus"]},"dateOfBirth":{"type":"string","description":"The date of birth of the customer. required only when creating VFD virtual accounts in NGN. Format (mm/dd/yyyy)"},"KYCInformation":{"type":"object","properties":{"firstName":{"type":"string","description":"The first name of the customer.This is required when requesting an individual virtual account."},"lastName":{"type":"string","description":"The last name of the customer.This is required when requesting an individual virtual account."},"bvn":{"type":"string","description":"Bank verification number. This is a compulsory requirement that only applies to requests for NGN virtual account creation."},"businessName":{"type":"string","description":"The business name of the company requesting the virtual account.This is only required when requesting a corporate virtual account."},"email":{"type":"string","description":"The email of the customer"},"birthDate":{"type":"string","description":"The birthdate of the customer(YYYY-MM-DD ).This is required when requesting an individual virtual account in EUR or GBP"},"address":{"type":"object","description":"The address of the customer . This is required when requesting an individual virtual account in EUR or GBP.","required":["country","state","city","street","zip"],"properties":{"country":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."},"street":{"type":"string","description":"Street Name."},"zip":{"type":"string","description":"Zip Code."}}},"document":{"type":"object","description":"The means of identification of the customer . This is required when requesting an individual virtual account in EUR or GBP.","required":["type","number","issuedCountryCode","issuedBy","issuedDate"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-mm-dd\")"},"expirationDate":{"type":"string","description":"The expiration date on the document(\"YYYY-mm-dd\")"}}},"occupation":{"type":"string","description":"The occupation of the customer.This is when requesting an individual virtual account in EUR or GBP"}}},"meansOfId":{"type":"string","description":"The customer's means of identification which should be a valid government ID e.g voters card, driving license.This can be a File Upload or URL link to the document.This field only applies to individual EUR/GBP virtual accounts","format":"binary"},"utilityBill":{"type":"string","description":"Electricity bills, water bills or any detailed invoice showing the usage of a service. This can be a File Upload or URL link to the document. This field only applies to individual EUR/GBP virtual accounts","format":"binary"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/business/{businessId}/sub-accounts/{subAccountId}/requests":{"post":{"summary":"Create individual virtual account for your sub-account","description":"This API lets you create a single individual virtual account for your sub-account","operationId":"request-individual-virtual-account-for-a-sub-account","parameters":[{"name":"businessId","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the sub account","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","accountType","KYCInformation"],"properties":{"currency":{"type":"string","description":"The virtual account currency.e.g EUR","default":"EUR"},"accountType":{"type":"string","description":"The Virtual account type e.g corporate or individual","enum":["individual"]},"channel":{"type":"string","description":"The bank of the virtual account","enum":["","vfd","wema","providus"]},"dateOfBirth":{"type":"string","description":"The date of birth of the customer. required only when creating VFD virtual accounts in NGN. Format (mm/dd/yyyy)"},"KYCInformation":{"type":"object","properties":{"firstName":{"type":"string","description":"The first name of the customer.This is required when requesting an individual virtual account."},"lastName":{"type":"string","description":"The last name of the customer.This is required when requesting an individual virtual account."},"bvn":{"type":"string","description":"Bank verification number. This is a compulsory requirement that only applies to requests for NGN virtual account creation."},"businessName":{"type":"string","description":"The business name of the company requesting the virtual account.This is only required when requesting a corporate virtual account."},"email":{"type":"string","description":"The email of the customer"},"birthDate":{"type":"string","description":"The birthdate of the customer(YYYY-MM-DD ).This is required when requesting an individual virtual account in EUR or GBP"},"address":{"type":"object","description":"The address of the customer . This is required when requesting an individual virtual account in EUR or GBP.","required":["country","state","city","street","zip"],"properties":{"country":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."},"street":{"type":"string","description":"Street Name."},"zip":{"type":"string","description":"Zip Code."}}},"document":{"type":"object","description":"The means of identification of the customer . This is required when requesting an individual virtual account in EUR or GBP.","required":["type","number","issuedCountryCode","issuedBy","issuedDate"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-mm-dd\")"},"expirationDate":{"type":"string","description":"The expiration date on the document(\"YYYY-mm-dd\")"}}},"occupation":{"type":"string","description":"The occupation of the customer.This is when requesting an individual virtual account in EUR or GBP"}}},"meansOfId":{"type":"string","description":"Electricity bills, water bills or any detailed invoice showing the usage of a service. This can be a File Upload or URL link to the document.This field only applies to individual EUR/GBP virtual accounts"},"utilityBill":{"type":"string","description":"Electricity bills, water bills or any detailed invoice showing the usage of a service. This can be a File Upload or URL link to the document.This field only applies to individual EUR/GBP virtual accounts"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/business/{businessId}/sub-accounts/{subAccountId}/requests/":{"post":{"summary":"Create corporate virtual account for your sub-account","description":"This API lets you create a single corporate virtual account for your sub account","operationId":"request-virtual-account-for-a-sub-account","parameters":[{"name":"businessId","in":"path","description":"The ID of the parent business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the sub account","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","accountType","KYCInformation"],"properties":{"currency":{"type":"string","description":"The virtual account currency.e.g EUR","default":"EUR"},"accountType":{"type":"string","description":"The Virtual account type e.g corporate or individual","default":"corporate"},"channel":{"type":"string","description":"The bank of the virtual account","enum":["","vfd","wema","providus"]},"dateOfBirth":{"type":"string","description":"The date of birth of the customer. required only when creating VFD virtual accounts in NGN. Format (mm/dd/yyyy)"},"KYCInformation":{"type":"object","required":["businessName"],"properties":{"businessName":{"type":"string","description":"The business name of the company requesting the virtual account.Additional information about the customer ."},"bvn":{"type":"string","description":"Bank verification number. This is a compulsory requirement that only applies to requests for NGN virtual account creation."},"email":{"type":"string","description":"This is the email address of the business"},"address":{"type":"object","description":"This is the physical address of the company","required":["country","state","city","street","zip"],"properties":{"country":{"type":"string","description":"The code of country according to ISO 3166-1 Alpha 2"},"state":{"type":"string","description":"The state."},"city":{"type":"string","description":"The city name."},"street":{"type":"string","description":"Street Name."},"zip":{"type":"string","description":"Zip Code."}}},"businessCategory":{"type":"string","description":"The business category e.g Government agencies, Joint Venture, Political parties","default":"NGO"},"additionalInfo":{"type":"string","description":"Additional information about the customer . When requesting a corporate virtual account in either EUR or GBP this parameter is completely optional."},"incorporationDate":{"type":"string","description":"The incorporation date of the business"},"ultimateBeneficialOwners":{"type":"array","description":"The ultimate beneficial owners of the company","items":{"properties":{"firstName":{"type":"string","description":"The first name"},"lastName":{"type":"string","description":"The last name"},"document":{"type":"object","required":["type","number","issuedCountryCode","issuedBy","issuedDate"],"properties":{"type":{"type":"string","description":"type of ID document e.g International Passport"},"number":{"type":"string","description":"The number on the document"},"issuedCountryCode":{"type":"string","description":"The country that issued the document.Should  be in ISO 3166-1 alpha-2 – two-letter country codes format(NG)"},"issuedBy":{"type":"string","description":"The government agency in charge of issuing the document."},"issuedDate":{"type":"string","description":"The date the document was issued(\"YYYY-mm-dd\")"},"expirationDate":{"type":"string","description":"The expiration date on the document(\"YYYY-mm-dd\")"}}},"ownershipPercentage":{"type":"string","description":"The ownership percentage","default":"90%"},"politicallyExposedPerson":{"type":"string","description":"a politically exposed person (PEP) is one who has been entrusted with a prominent public function."}},"required":["firstName","lastName","ownershipPercentage","politicallyExposedPerson"],"type":"object"}},"businessActivityDescription":{"type":"string","description":"This refers to the activity or activities the company or business engages in."}}},"entityName":{"type":"string","description":"This is the legal name of the customer's business."},"reason":{"type":"string","description":"The reason for requesting the corporate virtual account"},"monthlyVolume":{"type":"string","description":"This is the committed transaction volume multiplied by the number of days in the relevant month.","default":"900"},"paymentFlowDescription":{"type":"string","description":"The countries payments are coming from and going to, The general purpose of these payments,Customer categories of the business receiving the payments etc."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Thank you, John Billionaire. A NGN virtual account has been created for your sub-account\",\n  \"data\": {\n    \"status\": \"approved\",\n    \"isActive\": true,\n    \"accountNumber\": \"4231146915\",\n    \"KYCInformation\": {\n      \"businessName\": \"Business Man\"\n    },\n    \"accountInformation\": {\n      \"accountNumber\": \"4231146915\",\n      \"accountName\": \"Business Man\",\n      \"bankName\": \"WEMA BANK\",\n      \"reference\": \"30a35f59-b467-44e7-9515-3dcd40457268\"\n    },\n    \"accountOpeningFee\": 0,\n    \"pendingAdditionalInfoCount\": 0,\n    \"isPermanent\": true,\n    \"expiresAt\": null,\n    \"reason\": null,\n    \"monthlyVolume\": null,\n    \"entityName\": null,\n    \"paymentFlowDescription\": null,\n    \"attachments\": [],\n    \"meansOfId\": [],\n    \"utilityBill\": [],\n    \"virtualAccountType\": \"additional\",\n    \"_id\": \"622c4e70a944157325b31d7e\",\n    \"parentBusiness\": \"607b3cae67c64480bbf1b995\",\n    \"business\": \"622c4cc8a9441522e9b31d5b\",\n    \"currency\": \"NGN\",\n    \"accountType\": \"corporate\",\n    \"entityType\": \"sub_account\",\n    \"currencyType\": \"fiat\",\n    \"createdAt\": \"2022-03-12T07:40:32.943Z\",\n    \"updatedAt\": \"2022-03-12T07:40:32.943Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Thank you, John Billionaire. A NGN virtual account has been created for your sub-account"},"data":{"type":"object","properties":{"status":{"type":"string","example":"approved"},"isActive":{"type":"boolean","example":true,"default":true},"accountNumber":{"type":"string","example":"4231146915"},"KYCInformation":{"type":"object","properties":{"businessName":{"type":"string","example":"Business Man"}}},"accountInformation":{"type":"object","properties":{"accountNumber":{"type":"string","example":"4231146915"},"accountName":{"type":"string","example":"Business Man"},"bankName":{"type":"string","example":"WEMA BANK"},"reference":{"type":"string","example":"30a35f59-b467-44e7-9515-3dcd40457268"}}},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"622c4e70a944157325b31d7e"},"parentBusiness":{"type":"string","example":"607b3cae67c64480bbf1b995"},"business":{"type":"string","example":"622c4cc8a9441522e9b31d5b"},"currency":{"type":"string","example":"NGN"},"accountType":{"type":"string","example":"corporate"},"entityType":{"type":"string","example":"sub_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-03-12T07:40:32.943Z"},"updatedAt":{"type":"string","example":"2022-03-12T07:40:32.943Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts":{"get":{"summary":"List merchant virtual accounts","description":"This endpoint fetches all virtual accounts belonging to a merchant","operationId":"get-merchant-virtual-account-requests","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","businessName"],"properties":{"currency":{"type":"string","description":"The virtual account currency.e.g EUR","default":"EUR"},"businessName":{"type":"string","description":"Specify the name of the business or subaccount you want to retrieve."},"issuedDate":{"type":"string","description":"The date the virtual account was issued . It must be in ISO 8601 date format"},"requestedDate":{"type":"string","description":"The date the virtual account was requested. It must be in ISO 8601 date format"},"accountNumber":{"type":"string","description":"The virtual account number"},"status":{"type":"string","description":"The status of the virtual accounts e.g approved,pending and declined","enum":["approved","pending","declined"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/requests":{"get":{"summary":"List virtual account requests","description":"This endpoint is used for getting all virtual account requests belonging to a merchant","operationId":"get-virtual-account-requests","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts?":{"get":{"summary":"Fetch a virtual account by currency","description":"This endpoint is used for retrieving a virtual account that is belongs to a merchant by currency","operationId":"get-merchant-virtual-account-by-currency","parameters":[{"name":"currency","in":"query","description":"The virtual account currency","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/business/{businessId}/sub-accounts/{subAccountId}":{"get":{"summary":"List Sub-account Virtual Accounts","description":"This endpoint allows you to get a list of virtual accounts that belongs to a subaccount","operationId":"get-subaccount-virtual-accounts","parameters":[{"name":"businessId","in":"path","description":"The ID of the parent business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the subaccount","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"string","description":"Specify exactly what page you want to retrieve"},"perPage":{"type":"string","description":"Specify how many records you want to retrieve per page"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Subaccount virtual accounts fetched successfully\",\n  \"data\": {\n    \"results\": [],\n    \"total\": 0\n  }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Subaccount virtual accounts fetched successfully"},"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"isActive":{"type":"boolean","example":false,"default":true},"accountNumber":{},"merchantReference":{},"KYCInformation":{"type":"object","properties":{"address":{"type":"object","properties":{"country":{"type":"string","example":"NG"},"state":{"type":"string","example":"lagos"},"city":{"type":"string","example":"ikeja"},"street":{"type":"string","example":"7,emina crescent"},"zip":{"type":"string","example":"12027"}}},"document":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"number":{"type":"string","example":"A10234"},"issuedCountryCode":{"type":"string","example":"NG-2"},"issuedBy":{"type":"string","example":"government"},"issuedDate":{"type":"string","example":"2020-09-09"},"expirationDate":{"type":"string","example":"2023-09-09"}}},"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"does"},"email":{"type":"string","example":"johndoe@gmail.com"},"occupation":{"type":"string","example":"Occupation"},"birthDate":{"type":"string","example":"1998-09-23"}}},"accountInformation":{},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"isCheckoutVa":{"type":"boolean","example":false,"default":true},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"62e3c30f3d9729739c1e2117"},"parentBusiness":{"type":"string","example":"61aa4e72cc67b6f06797f874"},"business":{"type":"string","example":"62e3bd3d3d972967d61e1fe1"},"currency":{"type":"string","example":"EUR"},"accountType":{"type":"string","example":"individual"},"entityType":{"type":"string","example":"sub_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-07-29T11:22:55.923Z"},"updatedAt":{"type":"string","example":"2022-07-29T11:22:55.923Z"}}}},"total":{"type":"integer","example":1,"default":0}}}}},{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Subaccount virtual accounts fetched successfully"},"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{}}},"total":{"type":"integer","example":0,"default":0}}}}}]}}}}},"deprecated":false}},"/profile/virtual-accounts/{virtualAccountId}":{"get":{"summary":"Fetch a virtual account","description":"This endpoint is used for retrieving a virtual account attached to a merchant.","operationId":"get-one-virtual-account","parameters":[{"name":"virtualAccountId","in":"path","description":"The ID of the virtual account.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Virtual account fetched successfully\",\n  \"data\": {\n    \"status\": \"approved\",\n    \"isActive\": true,\n    \"accountNumber\": \"4231139906\",\n    \"KYCInformation\": {\n      \"businessName\": \"james ventures\"\n    },\n    \"accountInformation\": {\n      \"accountNumber\": \"4231139906\",\n      \"accountName\": \"james ventures\",\n      \"bankName\": \"WEMA BANK\",\n      \"reference\": \"4c9eeacb-ce44-4916-a81f-b2969473ccd4\"\n    },\n    \"accountOpeningFee\": 0,\n    \"pendingAdditionalInfoCount\": 0,\n    \"isPermanent\": true,\n    \"expiresAt\": null,\n    \"reason\": null,\n    \"monthlyVolume\": null,\n    \"entityName\": null,\n    \"paymentFlowDescription\": null,\n    \"attachments\": [],\n    \"meansOfId\": [],\n    \"utilityBill\": [],\n    \"virtualAccountType\": \"additional\",\n    \"_id\": \"622676f2a944153ee9b2fc38\",\n    \"business\": {\n      \"name\": \"Lokey Inc\",\n      \"email\": \"tega@fincra.com\"\n    },\n    \"currency\": \"NGN\",\n    \"accountType\": \"corporate\",\n    \"entityType\": \"main_account\",\n    \"currencyType\": \"fiat\",\n    \"createdAt\": \"2022-03-07T21:19:46.588Z\",\n    \"updatedAt\": \"2022-03-07T21:19:46.588Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Virtual account fetched successfully"},"data":{"type":"object","properties":{"status":{"type":"string","example":"approved"},"isActive":{"type":"boolean","example":true,"default":true},"accountNumber":{"type":"string","example":"4231139906"},"KYCInformation":{"type":"object","properties":{"businessName":{"type":"string","example":"james ventures"}}},"accountInformation":{"type":"object","properties":{"accountNumber":{"type":"string","example":"4231139906"},"accountName":{"type":"string","example":"james ventures"},"bankName":{"type":"string","example":"WEMA BANK"},"reference":{"type":"string","example":"4c9eeacb-ce44-4916-a81f-b2969473ccd4"}}},"accountOpeningFee":{"type":"integer","example":0,"default":0},"pendingAdditionalInfoCount":{"type":"integer","example":0,"default":0},"isPermanent":{"type":"boolean","example":true,"default":true},"expiresAt":{},"reason":{},"monthlyVolume":{},"entityName":{},"paymentFlowDescription":{},"attachments":{"type":"array","items":{"type":"object","properties":{}}},"meansOfId":{"type":"array","items":{"type":"object","properties":{}}},"utilityBill":{"type":"array","items":{"type":"object","properties":{}}},"virtualAccountType":{"type":"string","example":"additional"},"_id":{"type":"string","example":"622676f2a944153ee9b2fc38"},"business":{"type":"object","properties":{"name":{"type":"string","example":"Lokey Inc"},"email":{"type":"string","example":"tega@fincra.com"}}},"currency":{"type":"string","example":"NGN"},"accountType":{"type":"string","example":"corporate"},"entityType":{"type":"string","example":"main_account"},"currencyType":{"type":"string","example":"fiat"},"createdAt":{"type":"string","example":"2022-03-07T21:19:46.588Z"},"updatedAt":{"type":"string","example":"2022-03-07T21:19:46.588Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/inactive":{"patch":{"summary":"Deactivate virtual account","description":"This API lets you de-activate a Naira(NGN) virtual account","operationId":"deactivate-virtual-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The Virtual account ID ."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/virtual-accounts/transfer":{"post":{"summary":"Pay with transfer(Temporary accounts)","description":"This API lets you create a temporary virtual account that can be used to receive payments over a period of time","operationId":"create-temporary-virtual-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["expiresAt","amount"],"properties":{"name":{"type":"string","description":"The name that should be on the account"},"merchantReference":{"type":"string","description":"The unique identifier of the transaction on your system ."},"expiresAt":{"type":"string","description":"The expiry time of the virtual account in minutes. You can set whatever time you want the virtual account to expire","default":"30"},"amount":{"type":"string","description":"The amount to be paid to the virtual account","default":"900"}}}}}},"deprecated":false}},"/collections":{"get":{"summary":"List collections for additional virtual accounts","description":"This endpoint is used for getting all collections of an additional virtual account","operationId":"get-all-collections","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["business"],"properties":{"business":{"type":"string","description":"This the ID of the parent business or subAccount"},"sourceCurrency":{"type":"string","description":"The currency the payments was sent in"},"destinationCurrency":{"type":"string","description":"The currency the recipient recives"},"subAccount":{"type":"string","description":"The ID of the subAccount"},"status":{"type":"array","description":"The status of the collection e.g [\"processing\", \"failed\", \"successful]","items":{"type":"string"}},"page":{"type":"string","description":"Specify exactly what page you want to retrieve"},"perPage":{"type":"string","description":"How many records page you want to retrieve per page"},"dateFrom":{"type":"string","description":"The start date.This must be in ISO 8601 date format(YYYY-MM-DD)"},"dateTo":{"type":"string","description":"The end date.This must be in ISO 8601 date format(YYYY-MM-DD)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Collection fetched successfully\",\n    \"data\": {\n        \"id\": 5893,\n        \"_id\": \"5893\",\n        \"sourceAmount\": 200,\n        \"destinationAmount\": 200,\n        \"sourceAmountSettled\": 100,\n        \"destinationAmountSettled\": 100,\n        \"sourceCurrency\": \"NGN\",\n        \"destinationCurrency\": \"NGN\",\n        \"sourceFee\": 100,\n        \"destinationFee\": 100,\n        \"payeeName\": \"John Doe\",\n        \"payeeAccountNumber\": \"000000000000\",\n        \"status\": \"successful\",\n        \"requiresApproval\": 0,\n        \"approvalStatus\": \"approved\",\n        \"reference\": \"f9121b33-7e15-409e-b588-36c6146d5823\",\n        \"isSubAccount\": 0,\n        \"description\": null,\n        \"paymentMethod\": \"virtual_account\",\n        \"merchantReference\": null,\n        \"settlementDestination\": \"wallet\",\n        \"message\": null,\n        \"payer\": {\n            \"name\": \"Jane Doe\",\n            \"account_number\": \"000000000\",\n            \"bank_code\": null,\n            \"bank_name\": null\n        },\n        \"virtualAccountId\": \"61dc08222d2ccmnjsc5a591\",\n        \"initiatedAt\": \"2022-03-28T07:15:19.000Z\",\n        \"settledAt\": \"2022-03-28T07:15:19.000Z\",\n        \"createdAt\": \"2022-03-28T07:15:19.000Z\",\n        \"updatedAt\": \"2022-03-28T07:15:19.000Z\"\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Collection fetched successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":5893,"default":0},"_id":{"type":"string","example":"5893"},"sourceAmount":{"type":"integer","example":200,"default":0},"destinationAmount":{"type":"integer","example":200,"default":0},"sourceAmountSettled":{"type":"integer","example":100,"default":0},"destinationAmountSettled":{"type":"integer","example":100,"default":0},"sourceCurrency":{"type":"string","example":"NGN"},"destinationCurrency":{"type":"string","example":"NGN"},"sourceFee":{"type":"integer","example":100,"default":0},"destinationFee":{"type":"integer","example":100,"default":0},"payeeName":{"type":"string","example":"John Doe"},"payeeAccountNumber":{"type":"string","example":"000000000000"},"status":{"type":"string","example":"successful"},"requiresApproval":{"type":"integer","example":0,"default":0},"approvalStatus":{"type":"string","example":"approved"},"reference":{"type":"string","example":"f9121b33-7e15-409e-b588-36c6146d5823"},"isSubAccount":{"type":"integer","example":0,"default":0},"description":{},"paymentMethod":{"type":"string","example":"virtual_account"},"merchantReference":{},"settlementDestination":{"type":"string","example":"wallet"},"message":{},"payer":{"type":"object","properties":{"name":{"type":"string","example":"Jane Doe"},"account_number":{"type":"string","example":"000000000"},"bank_code":{},"bank_name":{}}},"virtualAccountId":{"type":"string","example":"61dc08222d2ccmnjsc5a591"},"initiatedAt":{"type":"string","example":"2022-03-28T07:15:19.000Z"},"settledAt":{"type":"string","example":"2022-03-28T07:15:19.000Z"},"createdAt":{"type":"string","example":"2022-03-28T07:15:19.000Z"},"updatedAt":{"type":"string","example":"2022-03-28T07:15:19.000Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/wallets/topups?":{"get":{"summary":"List collections for a main virtual account","description":"This endpoint can be used to view both a single or multiple collections of a main virtual account","operationId":"get-wallet-top-ups","parameters":[{"name":"business","in":"query","description":"This the ID of the parent business or subAccount","schema":{"type":"string"}},{"name":"reference","in":"query","description":"The reference of the transaction","schema":{"type":"string"}},{"name":"page","in":"query","description":"A specification of  what page is to be retrieved","schema":{"type":"string"}},{"name":"perPage","in":"query","description":"A specification of  how many records that should be retrieved per page","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/collections/reference/{reference}?":{"get":{"summary":"Fetch a collection for an additional virtual account","description":"This endpoint is used for retrieving a single collection of an additional virtual account by a reference","operationId":"get-a-collection-by-reference","parameters":[{"name":"reference","in":"path","description":"The unique reference of the collection","schema":{"type":"string"},"required":true},{"name":"business","in":"query","description":"This the ID of the parent business or subAccount","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/business/{businessId}/sub-accounts":{"post":{"summary":"Create a sub-account","description":"This endpoint lets you create a sub-account.","operationId":"create-subaccount","parameters":[{"name":"businessId","in":"path","description":"The ID of the parent business","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of your customer"},"email":{"type":"string","description":"The email of your customer"},"mobile":{"type":"string","description":"The mobile number of your customer"},"country":{"type":"string","description":"The country code of your customer according to ISO 3166-1 alpha-2 codes e.g GB"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List sub-accounts","description":"This endpoint is used to retrieve all your subaccounts","operationId":"get-all-sub-accounts","parameters":[{"name":"businessId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/business/{businessId}/sub-accounts/{subAccountId}":{"get":{"summary":"Fetch a sub-account","description":"This endpoint is used in retrieving one subaccount","operationId":"get-one-subaccount","parameters":[{"name":"businessId","in":"path","description":"The ID of the parent business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the subaccount","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update a subaccount","description":"This endpoint is used to update a subaccount.","operationId":"update-a-subaccount","parameters":[{"name":"businessId","in":"path","description":"The ID of the parent business","schema":{"type":"string"},"required":true},{"name":"subAccountId","in":"path","description":"The ID of the sub account","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of your customer"},"email":{"type":"string","description":"The email of your customer"},"mobile":{"type":"string","description":"The phone number of your customer"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkout/payments":{"post":{"summary":"Create checkout","description":"","operationId":"create-checkout","parameters":[{"name":"x-pub-key","in":"header","description":"Your public key. This can be found in the settings page of your portal","schema":{"type":"string"}},{"name":"x-business-id","in":"header","description":"Your Business ID","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","currency"],"properties":{"amount":{"type":"string","description":"The amount to charge the customer"},"redirectUrl":{"type":"string","description":"The URL to redirect your customer when the transaction is complete."},"currency":{"type":"string","description":"The currency in which the customer should be charged. Only NGN is available for now."},"reference":{"type":"string","description":"The unique transaction reference identifies the transaction on your application. If you do not provide one, a unique transaction reference would be generated for the transaction."},"feeBearer":{"type":"string","description":"This will set who bears the fees of the transaction. If it is set to `business`, the merchant will bear the fee, while if it is set to `customer`, the customer will bear the fee. By default, it is set to `business`.","enum":["customer","business"]},"metadata":{"type":"object","description":"Add any information you would like to send e.g  metadata: {userId: \"my_user_id\" }","properties":{}},"customer":{"type":"object","description":"The customer details","required":["name","email"],"properties":{"name":{"type":"string","description":"The name of the customer"},"email":{"type":"string","description":"The email of the customer"},"phoneNumber":{"type":"string","description":"The customer mobile number"}}},"settlementDestination":{"type":"string","description":"A settlement destination is the location where you want your payments to be settled. It could be a wallet or a bank account. The settlement destination is your Fincra wallet by default.","enum":["wallet","bank_account"]},"paymentMethods":{"type":"array","description":"The payment method you want to make available to your customers . e.g bank_account,card,payAttitude","default":[null],"items":{"type":"number","format":"float"}},"defaultPaymentMethod":{"type":"string","description":"The Payment method that should be active by default on the checkout page","enum":["bank_transfer","card","payAttitude"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkout/payments/merchant-reference/{reference}":{"get":{"summary":"Verify Payment","description":"This API lets you verify the status of the transaction on the checkout API","operationId":"verify-payment","parameters":[{"name":"reference","in":"path","description":"The unique reference for the transaction on your system. This is different from the reference Fincra generates for the transaction","schema":{"type":"string"},"required":true},{"name":"x-business-id","in":"header","description":"This the ID of the business","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkout/charges":{"post":{"summary":"Initiate a charge","description":"This API lets you charge using any of the available payment methods","operationId":"initiate-a-charge","parameters":[{"name":"x-business-id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"integer","description":"The amount to charge the customer","default":800,"format":"int32"},"reference":{"type":"string","description":"The unique transaction reference identifies the transaction on your application. If you do not provide one, a unique transaction reference would be generated for the transaction.This must be 8 letters.","default":"KB-90998"},"currency":{"type":"string","description":"The currency in which the customer should be charged. Only NGN is available for now.","default":"NGN"},"type":{"type":"string","description":"This  payment type which can either be card,transfer or payattitude","enum":["","card","bank_transfer","payattitude"]},"customer":{"type":"object","description":"The customer details","required":["name","email"],"properties":{"name":{"type":"string","description":"The name of the customer"},"email":{"type":"string","description":"The email of the customer"},"phoneNumber":{"type":"string","description":"The customer mobile number"}}},"card":{"type":"object","description":"The details of the card you want to charge . This is required if \"type\" is card","required":["card_holder","card_number","cvv","expiry_month","expiry_year"],"properties":{"card_holder":{"type":"string","description":"The name of the card holder","default":"John"},"card_number":{"type":"string","description":"The card number/PAN on the credit/debit card","default":"4999082100029373\""},"cvv":{"type":"string","description":"The CVV on the credit/debit card","default":"231"},"expiry_month":{"type":"string","description":"The expiry month on the credit/debit card"},"expiry_year":{"type":"string","description":"The expiry year on the credit/debit card"},"pin":{"type":"string","description":"The PIN for the credit/debit card"}}},"phone":{"type":"string","description":"The customer's payAttitude account phone number. This is required if \"type\" is payattitude","default":"+234 0909090"},"description":{"type":"string","description":"The description of the transaction"},"settlementDestination":{"type":"string","description":"A settlement destination is the location where you want your payments to be settled. It could be a wallet or a bank account. The settlement destination is your Fincra wallet by default.","enum":["","wallet","bank_account"]},"callbackUrl":{"type":"string","description":"The URL to redirect your customer when the transaction is complete."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": true,\n    \"message\": \"Charge created\",\n    \"data\": {\n        \"id\": 280,\n        \"authorization\": {\n            \"mode\": \"PIN\"\n        },\n        \"auth_model\": \"PIN\",\n        \"amount\": 150000,\n        \"currency\": \"NGN\",\n        \"fee\": 2000,\n        \"message\": \"Card PIN required\",\n        \"status\": \"processing\",\n        \"reference\": \"KPHHHHSS\",\n        \"type\": \"card\",\n        \"customer\": {\n            \"name\": \"Fincra Developers\",\n            \"email\": \"developers@fincra.com\",\n            \"phoneNumber\": \"+2348142986562\"\n        },\n        \"settlementDestination\": \"wallet\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Charge created"},"data":{"type":"object","properties":{"id":{"type":"integer","example":280,"default":0},"authorization":{"type":"object","properties":{"mode":{"type":"string","example":"PIN"}}},"auth_model":{"type":"string","example":"PIN"},"amount":{"type":"integer","example":150000,"default":0},"currency":{"type":"string","example":"NGN"},"fee":{"type":"integer","example":2000,"default":0},"message":{"type":"string","example":"Card PIN required"},"status":{"type":"string","example":"processing"},"reference":{"type":"string","example":"KPHHHHSS"},"type":{"type":"string","example":"card"},"customer":{"type":"object","properties":{"name":{"type":"string","example":"Fincra Developers"},"email":{"type":"string","example":"developers@fincra.com"},"phoneNumber":{"type":"string","example":"+2348142986562"}}},"settlementDestination":{"type":"string","example":"wallet"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkout/charges/{id}/authorize":{"post":{"summary":"Authorize a charge","description":"This API lets you authorize a charge on a card","operationId":"authorize-a-charge","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true},{"name":"x-business-id","in":"header","description":"Your business ID","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"pin":{"type":"string","description":"Transaction pin of the card to charge if the auth_model is PIN"},"otp":{"type":"string","description":"one time password to be used to complete the request if the auth_model is OTP"},"avs":{"type":"string","description":"Object containing AVS details. This should be present if the auth_model is AVS"},"state":{"type":"string","description":"The state registered with the card. Required if auth_mode is AVS"},"city":{"type":"string","description":"The city registered with the card. Required if auth_mode is AVS"},"country":{"type":"string","description":"The country registered with the card. Required if auth_mode is AVS"},"address":{"type":"string","description":"The address registered with the card. Required if auth_mode is AVS"},"zip_code":{"type":"string","description":"The zip code registered with the card. Required if auth_mode is AVS"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": true,\n    \"message\": \"Kindly enter the One-time PIN (OTP) sent to your phone number\",\n    \"data\": {\n        \"id\": 280,\n        \"authorization\": {\n            \"mode\": \"OTP\"\n        },\n        \"auth_model\": \"OTP\",\n        \"amount\": 150000,\n        \"currency\": \"NGN\",\n        \"message\": \"Kindly enter the One-time PIN (OTP) sent to your phone number\",\n        \"status\": \"processing\",\n        \"reference\": \"KPHHHHSS\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Kindly enter the One-time PIN (OTP) sent to your phone number"},"data":{"type":"object","properties":{"id":{"type":"integer","example":280,"default":0},"authorization":{"type":"object","properties":{"mode":{"type":"string","example":"OTP"}}},"auth_model":{"type":"string","example":"OTP"},"amount":{"type":"integer","example":150000,"default":0},"currency":{"type":"string","example":"NGN"},"message":{"type":"string","example":"Kindly enter the One-time PIN (OTP) sent to your phone number"},"status":{"type":"string","example":"processing"},"reference":{"type":"string","example":"KPHHHHSS"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkout-core/charges/merchant-reference/{reference}":{"get":{"summary":"Verify charge","description":"This API let's you verify a charge","operationId":"verify-charge","parameters":[{"name":"reference","in":"path","description":"The unique identifier of the payment on your application.","schema":{"type":"string"},"required":true},{"name":"x-business-id","in":"header","description":"Your business ID","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": true,\n    \"message\": \"Charge verified\",\n    \"data\": {\n        \"id\": 280,\n        \"authorization\": {\n            \"mode\": \"OTP\",\n            \"redirect\": null\n        },\n        \"auth_model\": \"OTP\",\n        \"amount\": 150000,\n        \"currency\": \"NGN\",\n        \"fee\": 2000,\n        \"message\": \"Card charged successfully\",\n        \"status\": \"success\",\n        \"reference\": \"KPHHHHSS\",\n        \"description\": \"\",\n        \"type\": \"card\",\n        \"customer\": {\n            \"name\": \"Fincra Developers\",\n            \"email\": \"developers@fincra.com\",\n            \"phoneNumber\": \"+2348142986562\"\n        },\n        \"settlementDestination\": \"wallet\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Charge verified"},"data":{"type":"object","properties":{"id":{"type":"integer","example":280,"default":0},"authorization":{"type":"object","properties":{"mode":{"type":"string","example":"OTP"},"redirect":{}}},"auth_model":{"type":"string","example":"OTP"},"amount":{"type":"integer","example":150000,"default":0},"currency":{"type":"string","example":"NGN"},"fee":{"type":"integer","example":2000,"default":0},"message":{"type":"string","example":"Card charged successfully"},"status":{"type":"string","example":"success"},"reference":{"type":"string","example":"KPHHHHSS"},"description":{"type":"string","example":""},"type":{"type":"string","example":"card"},"customer":{"type":"object","properties":{"name":{"type":"string","example":"Fincra Developers"},"email":{"type":"string","example":"developers@fincra.com"},"phoneNumber":{"type":"string","example":"+2348142986562"}}},"settlementDestination":{"type":"string","example":"wallet"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkout/charges/merchant-reference/{reference}":{"get":{"summary":"Verify charge by ID","description":"This API let's you verify a charge","operationId":"verify-charge-by-id","parameters":[{"name":"reference","in":"path","description":"The unique reference of the payment on your application.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": true,\n    \"message\": \"Charge verified\",\n    \"data\": {\n        \"id\": 280,\n        \"authorization\": {\n            \"mode\": \"OTP\",\n            \"redirect\": null\n        },\n        \"auth_model\": \"OTP\",\n        \"amount\": 150000,\n        \"currency\": \"NGN\",\n        \"fee\": 2000,\n        \"message\": \"Card charged successfully\",\n        \"status\": \"success\",\n        \"reference\": \"KPHHHHSS\",\n        \"description\": \"\",\n        \"type\": \"card\",\n        \"customer\": {\n            \"name\": \"Fincra Developers\",\n            \"email\": \"developers@fincra.com\",\n            \"phoneNumber\": \"+2348142986562\"\n        },\n        \"settlementDestination\": \"wallet\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Charge verified"},"data":{"type":"object","properties":{"id":{"type":"integer","example":280,"default":0},"authorization":{"type":"object","properties":{"mode":{"type":"string","example":"OTP"},"redirect":{}}},"auth_model":{"type":"string","example":"OTP"},"amount":{"type":"integer","example":150000,"default":0},"currency":{"type":"string","example":"NGN"},"fee":{"type":"integer","example":2000,"default":0},"message":{"type":"string","example":"Card charged successfully"},"status":{"type":"string","example":"success"},"reference":{"type":"string","example":"KPHHHHSS"},"description":{"type":"string","example":""},"type":{"type":"string","example":"card"},"customer":{"type":"object","properties":{"name":{"type":"string","example":"Fincra Developers"},"email":{"type":"string","example":"developers@fincra.com"},"phoneNumber":{"type":"string","example":"+2348142986562"}}},"settlementDestination":{"type":"string","example":"wallet"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/chargebacks":{"get":{"summary":"List chargebacks","description":"This API lets you list all the chargebacks incurred on your account","operationId":"list-chargebacks","parameters":[{"name":"business","in":"query","description":"Your business ID","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/chargebacks/{chargebackId}/accept?":{"patch":{"summary":"Accept a chargeback","description":"This API lets you accept a chargeback","operationId":"accept-a-chargeback","parameters":[{"name":"chargebackId","in":"path","description":"The unique identifier of the chargeback","schema":{"type":"string"},"required":true},{"name":"business","in":"query","description":"Your business Id","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/chargebacks/{chargebackId}/reject?":{"patch":{"summary":"Reject a chargeback","description":"This API lets you reject a chargeback","operationId":"reject-a-chargeback","parameters":[{"name":"chargebackId","in":"path","description":"The unique identifier of the chargeback","schema":{"type":"string"},"required":true},{"name":"business","in":"query","description":"The unique ID of the business","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["business_reject_reason"],"properties":{"business_reject_reason":{"type":"string","description":"The reason for rejecting the chargeback"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/quotes/generate":{"post":{"summary":"Create a quote","description":"This endpoint is used for generating a quote.","operationId":"get-a-quote","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["sourceCurrency","destinationCurrency","amount","action","transactionType","business","feeBearer","paymentDestination","beneficiaryType"],"properties":{"sourceCurrency":{"type":"string","description":"The currency which is used to fund a currency conversion or payout"},"destinationCurrency":{"type":"string","description":"The currency in which the recipient will be receiving funds"},"amount":{"type":"string","description":"The amount you want to send or convert"},"action":{"type":"string","description":"the value can only be \"send\" for conversions and disbursement.","default":"send"},"transactionType":{"type":"string","description":"If you want to make a payout, choose \"disbursement,\" and if you want to convert a currency and receive the funds in your Fincra account, choose \"conversion.\"","default":"conversion","enum":["conversion","disbursement"]},"business":{"type":"string","description":"This ID of the  business"},"feeBearer":{"type":"string","description":"The bearer of the fees","default":"customer","enum":["customer","business"]},"paymentDestination":{"type":"string","description":"This is the type of account you want to send your payments to","enum":["bank_account","fliqpay_wallet","mobile_money_wallet"]},"paymentScheme":{"type":"string","description":"This is the valid payment scheme for the destination currency you want to generate a quote for.This is only required when the transaction type is disbursement and not conversion"},"beneficiaryType":{"type":"string","description":"The beneficiary type e.g individual or corporate. This is necessary in order to generate quotes for all African currencies.","default":"individual","enum":["individual","corporate"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/conversions/initiate":{"post":{"summary":"Convert a currency","description":"This endpoint can convert one currency to another provided  that it's a supported conversion currency e.g NGN to USD","operationId":"make-a-currency-conversion","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["business","quoteReference"],"properties":{"business":{"type":"string","description":"The ID of the business"},"quoteReference":{"type":"string","description":"This is the reference generated for the quote"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/conversions/{conversionId}":{"get":{"summary":"Fetch a conversion","description":"This endpoint fetches a specific conversion performed by a parent Business or sub account","operationId":"get-a-conversion","parameters":[{"name":"conversionId","in":"path","description":"The ID generated for the conversion","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/conversions?":{"get":{"summary":"List conversions","description":"This endpoint provides a list of all conversions performed by a business.","operationId":"get-all-conversions","parameters":[{"name":"business","in":"query","description":"The ID of the business","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/wallets?":{"get":{"summary":"List wallets","description":"This endpoint lists all wallets belonging to a business.","operationId":"get-all-the-wallets-for-a-business","parameters":[{"name":"businessID","in":"query","description":"This the ID of the parent business or subAccount","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Wallets fetched successfully\",\n  \"data\": [\n    {\n      \"id\": 228,\n      \"_id\": \"607b3cae804df70012bd5f87\",\n      \"business\": \"607b3cae67c64480bbf1b995\",\n      \"businessId\": 107,\n      \"ledgerBalance\": 79099764.364011,\n      \"availableBalance\": 142393257.04916,\n      \"lockedBalance\": -63293492.685149,\n      \"walletNumber\": 10000011070001,\n      \"currency\": \"NGN\",\n      \"status\": \"enabled\",\n      \"createdAt\": \"2021-04-17T20:53:19.000Z\",\n      \"updatedAt\": \"2022-07-01T10:54:26.000Z\"\n    },"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/wallets/{walletID}":{"get":{"summary":"Fetch a wallet","description":"This endpoint provides information to the parent business or sub-account about wallet balance, wallet numbers, etc regarding a specific wallet.","operationId":"get-a-wallet","parameters":[{"name":"walletID","in":"path","description":"The ID of the wallet","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": \"Wallet fetched successfully\",\n  \"data\": {\n    \"id\": 621,\n    \"_id\": \"60ed8883994a6d00195e1017\",\n    \"business\": \"60ed8883c89ea214999fa9bf\",\n    \"businessId\": 186,\n    \"ledgerBalance\": 900,\n    \"availableBalance\": 300,\n    \"lockedBalance\": 600,\n    \"walletNumber\": 10000011860004,\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/wallets/logs":{"get":{"summary":"List wallets logs","description":"This endpoint retrieves the wallet logs of a parent business or sub-account wallet","operationId":"get-wallets-logs","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["business"],"properties":{"business":{"type":"string","description":"This the ID of the parent business or subAccount"},"amount":{"type":"string"},"action":{"type":"string","description":"This means debit or credit e.g debit/credit","default":"credit"},"page":{"type":"string","description":"Specify exactly what page you want to retrieve","default":"2"},"perPage":{"type":"string","description":"How many records page you want to retrieve per page.","default":"10"},"dateFrom":{"type":"string","description":"The start date.This must be in ISO 8601 date format(YYYY-MM-DD)"},"dateTo":{"type":"string","description":"The end date.This must be in ISO 8601 date format(YYYY-MM-DD)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/beneficiaries/business/{businessID}":{"post":{"summary":"Create a beneficiary","description":"This endpoint is used for creating a Beneficiary.","operationId":"create-a-beneficiary","parameters":[{"name":"businessID","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["firstName","accountHolderName","type","currency","paymentDestination","destinationAddress"],"properties":{"firstName":{"type":"string","description":"The first name or the company name","default":"efe"},"lastName":{"type":"string","description":"The last name","default":"ebieroma"},"email":{"type":"string","description":"The email","default":"efe@hahaha.com"},"phoneNumber":{"type":"string","description":"The phone/mobile number the beneficiary can be contacted with","default":"09090909090"},"accountHolderName":{"type":"string","description":"The name on the account","default":"efe stephen ebieroma"},"bank":{"type":"object","description":"The banking institution","properties":{"name":{"type":"string","description":"The bank name","default":"Wema Bank"},"code":{"type":"string","description":"The bank code","default":"06"},"sortCode":{"type":"string","description":"The sort code is a number which usually identifies both the bank and the branch where an account is held.","default":"928927"},"swiftCode":{"type":"string","description":"A SWIFT code is a code used to identify the country, bank and branch that an account is registered to"},"branch":{"type":"string","description":"A bank branch is a retail location of a banking corporation","default":"Ota"},"address":{"type":"object","description":"The bank address","properties":{"country":{"type":"string","description":"The code of country according to  ISO 3166-1 alpha-2 codes","default":"GB"},"state":{"type":"string","description":"The state","default":"Lagos"},"zip":{"type":"string","description":"The zip/postal code","default":"123455"},"city":{"type":"string","description":"The city name","default":"Paris"},"street":{"type":"string","description":"The street name","default":"12,josephus"}}}}},"address":{"type":"object","description":"The physical address of the beneficiary.","properties":{"country":{"type":"string","description":"The code of country according to  ISO 3166-1 alpha-2 codes","default":"GB"},"state":{"type":"string","description":"The state","default":"Lagos"},"zip":{"type":"string","description":"The zip/postal code","default":"123455"},"city":{"type":"string","description":"The city name","default":"Paris"},"street":{"type":"string","description":"The street name","default":"12,josephus"}}},"type":{"type":"string","description":"The value for this field is either corporate or indivdual","default":"individual"},"currency":{"type":"string","description":"The currency","default":"GBP"},"paymentDestination":{"type":"string","description":"This is the type of account payments can be made to e.g bank account","default":"bank_account"},"destinationAddress":{"type":"string","description":"The account number"},"uniqueIdentifier":{"type":"string","description":"unique identifier for the beneficiary e.g 2,gh or anything","default":"4"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List beneficiaries","description":"This endpoint provides the ability to retrieve a list of beneficiaries attached to a business","operationId":"get-the-beneficiaries-for-a-business","parameters":[{"name":"businessID","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"string","description":"Specify exactly what page you want to retrieve","default":"1"},"perPage":{"type":"string","description":"Specify how many records you want to retrieve per page","default":"10"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/profile/beneficiaries/business/{businessID}/{beneficiaryID}":{"get":{"summary":"Fetch a beneficiary","description":"This endpoint is used for retrieving a single beneficiary attached to a business.","operationId":"get-a-beneficiary","parameters":[{"name":"businessID","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true},{"name":"beneficiaryID","in":"path","description":"The  ID of the beneficiary","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update a beneficiary","description":"This endpoint is used for updating a Beneficiary.","operationId":"update-a-beneficiary","parameters":[{"name":"businessID","in":"path","description":"The ID of the business","schema":{"type":"string"},"required":true},{"name":"beneficiaryID","in":"path","description":"The ID of the beneficiary","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["firstName","accountHolderName","type","currency","paymentDestination","destinationAddress"],"properties":{"firstName":{"type":"string","description":"The first name or the company name","default":"efe"},"lastName":{"type":"string","description":"The last name","default":"ebieroma"},"email":{"type":"string","description":"The email","default":"efe@hahaha.com"},"phoneNumber":{"type":"string","description":"The phone/mobile number the beneficiary can be contacted with","default":"09090909090"},"accountHolderName":{"type":"string","description":"The name on the account","default":"efe stephen ebieroma"},"bank":{"type":"object","description":"The banking institution","properties":{"name":{"type":"string","description":"The bank name","default":"Wema Bank"},"code":{"type":"string","description":"The bank code","default":"06"},"sortCode":{"type":"string","description":"The sort code is a number which usually identifies both the bank and the branch where an account is held.","default":"928927"},"swiftCode":{"type":"string","description":"A SWIFT code is a code used to identify the country, bank and branch that an account is registered to"},"branch":{"type":"string","description":"A bank branch is a retail location of a banking corporation","default":"Ota"},"address":{"type":"object","description":"The bank address","properties":{"country":{"type":"string","description":"The code of country according to  ISO 3166-1 alpha-2 codes","default":"GB"},"state":{"type":"string","description":"The state","default":"Lagos"},"zip":{"type":"string","description":"The zip/postal code","default":"123455"},"city":{"type":"string","description":"The city name","default":"Paris"},"street":{"type":"string","description":"The street name","default":"12,josephus"}}}}},"address":{"type":"object","description":"The physical address of the beneficiary.","properties":{"country":{"type":"string","description":"The code of country according to  ISO 3166-1 alpha-2 codes","default":"GB"},"state":{"type":"string","description":"The state","default":"Lagos"},"zip":{"type":"string","description":"The zip/postal code","default":"123455"},"city":{"type":"string","description":"The city name","default":"Paris"},"street":{"type":"string","description":"The street name","default":"12,josephus"}}},"type":{"type":"string","description":"The value for this field is either corporate or indivdual","default":"individual"},"currency":{"type":"string","description":"The currency","default":"GBP"},"paymentDestination":{"type":"string","description":"This is the account the payments will go to .","default":"bank_account"},"destinationAddress":{"type":"string","description":"The account number"},"uniqueIdentifier":{"type":"string","description":"unique identifier for the beneficiary e.g 2,gh or anything","default":"4"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properti
[...]
