{
  "openapi": "3.1.0",
  "info": {
    "title": "awesome-new-api",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://sandboxapi.fincra.com/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "name": "api-key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/profile/business/me": {
      "get": {
        "summary": "Get Business Information",
        "description": "This API lets you retrieves the unique Identifier of your business and other information such as your email etc.",
        "operationId": "get-business-information",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Parent business fetched successfully\",\n    \"data\": {\n        \"settings\": {\n            \"feeBearer\": \"customer\",\n            \"settlementDestination\": \"wallet\",\n            \"enableWebhook\": true,\n            \"callbackURL\": \"https://webhook.site/ae8fa38d-7498-898992-22a7293da\"\n        },\n        \"emailSettings\": {\n            \"collectionNotification\": false,\n            \"topupNotification\": false,\n            \"settlementNotification\": false,\n            \"paymentReceiptNotification\": false\n        },\n        \"checkoutSettings\": {\n            \"useBrandLogo\": false,\n            \"buttonTextColor\": null,\n            \"buttonColor\": null,\n            \"fontColor\": null,\n            \"fontFamily\": null,\n            \"backgroundColor\": null,\n            \"backgroundTextColor\": null\n        },\n        \"status\": \"enabled\",\n        \"countryCallingCode\": \"+234\",\n        \"businessTag\": 129772,\n        \"settlementSettings\": null,\n        \"isKYCApproved\": true,\n        \"isBlocked\": false,\n        \"_id\": \"64f1c9ef838af8cda0211d9d\",\n        \"name\": \"Fincra DevRel\",\n        \"businessType\": \"Fintech\",\n        \"website\": \"https://fincra.com\",\n        \"email\": \"devrel@fincra.com\",\n        \"country\": \"NG\",\n        \"mobile\": \"08189298928\",\n        \"businessKey\": \"B-CAu5f1KvobKD\",\n        \"createdAt\": \"2023-09-01T11:24:31.158Z\",\n        \"updatedAt\": \"2024-06-19T14:19:07.107Z\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Parent business fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "settings": {
                          "type": "object",
                          "properties": {
                            "feeBearer": {
                              "type": "string",
                              "example": "customer"
                            },
                            "settlementDestination": {
                              "type": "string",
                              "example": "wallet"
                            },
                            "enableWebhook": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "callbackURL": {
                              "type": "string",
                              "example": "https://webhook.site/ae8fa38d-7498-898992-22a7293da"
                            }
                          }
                        },
                        "emailSettings": {
                          "type": "object",
                          "properties": {
                            "collectionNotification": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "topupNotification": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "settlementNotification": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "paymentReceiptNotification": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "checkoutSettings": {
                          "type": "object",
                          "properties": {
                            "useBrandLogo": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "buttonTextColor": {},
                            "buttonColor": {},
                            "fontColor": {},
                            "fontFamily": {},
                            "backgroundColor": {},
                            "backgroundTextColor": {}
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "enabled"
                        },
                        "countryCallingCode": {
                          "type": "string",
                          "example": "+234"
                        },
                        "businessTag": {
                          "type": "integer",
                          "example": 129772,
                          "default": 0
                        },
                        "settlementSettings": {},
                        "isKYCApproved": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "isBlocked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "_id": {
                          "type": "string",
                          "example": "64f1c9ef838af8cda0211d9d"
                        },
                        "name": {
                          "type": "string",
                          "example": "Fincra DevRel"
                        },
                        "businessType": {
                          "type": "string",
                          "example": "Fintech"
                        },
                        "website": {
                          "type": "string",
                          "example": "https://fincra.com"
                        },
                        "email": {
                          "type": "string",
                          "example": "devrel@fincra.com"
                        },
                        "country": {
                          "type": "string",
                          "example": "NG"
                        },
                        "mobile": {
                          "type": "string",
                          "example": "08189298928"
                        },
                        "businessKey": {
                          "type": "string",
                          "example": "B-CAu5f1KvobKD"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2023-09-01T11:24:31.158Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-06-19T14:19:07.107Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/profile/merchants/me": {
      "get": {
        "summary": "Get Merchant Information",
        "description": "This API lets you retrieves the unique Identifier of your business and other information such as your email etc.",
        "operationId": "get-parent-business-id-additional-endpoint",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Merchant details fetched successfully\",\n    \"data\": {\n        \"accessAllFeatures\": false,\n        \"howDidYouHearAboutUs\": [],\n        \"_id\": \"64f1c9ee838af83445211d99\",\n        \"userId\": \"64f1c9ee838af87676211d97\",\n        \"name\": \"John Doe\",\n        \"email\": \"devrel@fincra.com\",\n        \"country\": \"NG\",\n        \"logo\": \"08100000000\",\n        \"createdAt\": \"2023-09-01T11:24:30.200Z\",\n        \"updatedAt\": \"2023-10-18T07:29:56.115Z\",\n        \"whitelistedIpAddresses\": [\n            \"192.0.3.0\"\n        ],\n        \"business\": {\n            \"id\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessKey\": \"B-CAu5f1KvobKD\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Merchant details fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accessAllFeatures": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "howDidYouHearAboutUs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "_id": {
                          "type": "string",
                          "example": "64f1c9ee838af83445211d99"
                        },
                        "userId": {
                          "type": "string",
                          "example": "64f1c9ee838af87676211d97"
                        },
                        "name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "devrel@fincra.com"
                        },
                        "country": {
                          "type": "string",
                          "example": "NG"
                        },
                        "logo": {
                          "type": "string",
                          "example": "08100000000"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2023-09-01T11:24:30.200Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2023-10-18T07:29:56.115Z"
                        },
                        "whitelistedIpAddresses": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "192.0.3.0"
                          }
                        },
                        "business": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "64f1c9ef838af8cda0211d9d"
                            },
                            "businessKey": {
                              "type": "string",
                              "example": "B-CAu5f1KvobKD"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallets?": {
      "get": {
        "summary": "Get Wallets",
        "description": "This endpoint lists all the account balance information of a business .",
        "operationId": "get-wallets",
        "parameters": [
          {
            "name": "businessID",
            "in": "query",
            "description": "The unique Identifier of the parent business or sub account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Wallets fetched successfully\",\n    \"data\": [\n        {\n            \"id\": 105146,\n            \"_id\": \"105146\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 1999965363.990817,\n            \"availableBalance\": 1999792413.990817,\n            \"lockedBalance\": 172950,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560001,\n            \"currency\": \"NGN\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-07-09T12:39:05.000Z\"\n        },\n        {\n            \"id\": 105147,\n            \"_id\": \"105147\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 4145.558824,\n            \"availableBalance\": 4145.558824,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560002,\n            \"currency\": \"GBP\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-03-28T10:57:02.000Z\"\n        },\n        {\n            \"id\": 105148,\n            \"_id\": \"105148\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 762.3,\n            \"availableBalance\": 762.3,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560003,\n            \"currency\": \"EUR\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-01-31T11:35:01.000Z\"\n        },\n        {\n            \"id\": 105149,\n            \"_id\": \"105149\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 140200,\n            \"availableBalance\": 140200,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560004,\n            \"currency\": \"USD\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-07-16T15:05:42.000Z\"\n        },\n        {\n            \"id\": 105150,\n            \"_id\": \"105150\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 30000996960.91,\n            \"availableBalance\": 30000996960.91,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560005,\n            \"currency\": \"GHS\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-07-16T15:09:40.000Z\"\n        },\n        {\n            \"id\": 105151,\n            \"_id\": \"105151\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 34000994927.376,\n            \"availableBalance\": 34000994927.376,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560006,\n            \"currency\": \"KES\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-07-16T15:10:18.000Z\"\n        },\n        {\n            \"id\": 105152,\n            \"_id\": \"105152\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560007,\n            \"currency\": \"ZAR\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105153,\n            \"_id\": \"105153\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560008,\n            \"currency\": \"XOF\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105154,\n            \"_id\": \"105154\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 100000190560009,\n            \"currency\": \"ETB\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105155,\n            \"_id\": \"105155\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600010,\n            \"currency\": \"MWK\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105156,\n            \"_id\": \"105156\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600011,\n            \"currency\": \"RWF\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105157,\n            \"_id\": \"105157\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600012,\n            \"currency\": \"TZS\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105158,\n            \"_id\": \"105158\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 20000165990,\n            \"availableBalance\": 20000165990,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600013,\n            \"currency\": \"UGX\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2024-07-16T15:09:20.000Z\"\n        },\n        {\n            \"id\": 105159,\n            \"_id\": \"105159\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600014,\n            \"currency\": \"ZAR\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105160,\n            \"_id\": \"105160\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600015,\n            \"currency\": \"XOF\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105161,\n            \"_id\": \"105161\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600016,\n            \"currency\": \"ZMW\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105162,\n            \"_id\": \"105162\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600017,\n            \"currency\": \"GNF\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105163,\n            \"_id\": \"105163\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600018,\n            \"currency\": \"PLN\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        },\n        {\n            \"id\": 105164,\n            \"_id\": \"105164\",\n            \"business\": \"64f1c9ef838af8cda0211d9d\",\n            \"businessId\": 9056,\n            \"ledgerBalance\": 0,\n            \"availableBalance\": 0,\n            \"lockedBalance\": 0,\n            \"rollingReserveBalance\": 0,\n            \"walletNumber\": 1000001905600019,\n            \"currency\": \"RUB\",\n            \"status\": \"enabled\",\n            \"createdAt\": \"2023-09-01T11:24:32.000Z\",\n            \"updatedAt\": \"2023-09-01T11:24:32.000Z\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallets fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 105146,
                            "default": 0
                          },
                          "_id": {
                            "type": "string",
                            "example": "105146"
                          },
                          "business": {
                            "type": "string",
                            "example": "64f1c9ef838af8cda0211d9d"
                          },
                          "businessId": {
                            "type": "integer",
                            "example": 9056,
                            "default": 0
                          },
                          "ledgerBalance": {
                            "type": "number",
                            "example": 1999965363.990817,
                            "default": 0
                          },
                          "availableBalance": {
                            "type": "number",
                            "example": 1999792413.990817,
                            "default": 0
                          },
                          "lockedBalance": {
                            "type": "integer",
                            "example": 172950,
                            "default": 0
                          },
                          "rollingReserveBalance": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "walletNumber": {
                            "type": "integer",
                            "example": 100000190560001,
                            "default": 0
                          },
                          "currency": {
                            "type": "string",
                            "example": "NGN"
                          },
                          "status": {
                            "type": "string",
                            "example": "enabled"
                          },
                          "createdAt": {
                            "type": "string",
                            "example": "2023-09-01T11:24:32.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "example": "2024-07-09T12:39:05.000Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallets/{walletID}": {
      "get": {
        "summary": "Get Wallet Balance",
        "description": "This endpoint provides information to the merchant about a specific account balance e.g Your NGN balance on Fincra.",
        "operationId": "get-wallet-balance",
        "parameters": [
          {
            "name": "walletID",
            "in": "path",
            "description": "The ID of the wallet. This is gotten from the [Get Wallets](https://docs.fincra.com/reference/get-wallets) endpoint.",
            "schema": {
              "type": "string",
              "default": "12345"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"message\": \"Wallet fetched successfully\",\n  \"data\": {\n    \"id\": 621,\n    \"_id\": \"60ed8883994a6d00195e1017\",\n    \"business\": \"60ed8883c89ea214999fa9bf\",\n    \"businessId\": 186,\n    \"ledgerBalance\": 900,\n    \"availableBalance\": 300,\n    \"lockedBalance\": 600,\n    \"walletNumber\": 10000011860004,\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallets/logs": {
      "get": {
        "summary": "Get Balance History",
        "description": "This endpoint fetches all pay-ins and pay-outs that occurred on your integration",
        "operationId": "get-balance-history",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business"
                ],
                "properties": {
                  "business": {
                    "type": "string",
                    "description": "The unique Identifier of the parent business or sub account"
                  },
                  "action": {
                    "type": "string",
                    "description": "This means debit or credit e.g debit/credit",
                    "default": "credit"
                  },
                  "dateFrom": {
                    "type": "string",
                    "description": "The start date.This must be in ISO 8601 date format(YYYY-MM-DD)"
                  },
                  "dateTo": {
                    "type": "string",
                    "description": "The end date.This must be in ISO 8601 date format(YYYY-MM-DD)"
                  },
                  "page": {
                    "type": "string",
                    "description": "Specify exactly what page you want to retrieve"
                  },
                  "perPage": {
                    "type": "string",
                    "description": "How many records page you want to retrieve per page"
                  },
                  "amount": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Wallet logs fetched successfully\",\n    \"data\": {\n        \"results\": [\n          \t{\n                \"id\": 118199,\n                \"reference\": \"a3bba51f-7a79-4e2f-a2fd-27e8d4c589db\",\n                \"createdAt\": \"2024-07-16T15:05:42.000Z\",\n                \"description\": \"collection successful\",\n                \"action\": \"credit\",\n                \"amount\": 140000,\n                \"currency\": \"USD\",\n                \"method\": \"Manual Top up\",\n                \"reason\": \"collections\",\n                \"merchantDescription\": null,\n                \"availableBalanceBefore\": 200,\n                \"availableBalanceAfter\": 140200,\n                \"ledgerBalanceBefore\": 200,\n                \"ledgerBalanceAfter\": 140200,\n                \"lockedBalanceBefore\": 0,\n                \"lockedBalanceAfter\": 0,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0\n            },\n            {\n                \"id\": 116077,\n                \"reference\": \"88f3ec7e57784d82\",\n                \"createdAt\": \"2024-06-19T14:28:51.000Z\",\n                \"description\": \"disbursement initiated\",\n                \"action\": \"debit\",\n                \"amount\": 5220,\n                \"currency\": \"NGN\",\n                \"method\": \"wallet\",\n                \"reason\": \"payout initiated\",\n                \"merchantDescription\": \"Test\",\n                \"availableBalanceBefore\": 1999802853.990817,\n                \"availableBalanceAfter\": 1999797633.990817,\n                \"ledgerBalanceBefore\": 1999975803.990817,\n                \"ledgerBalanceAfter\": 1999975803.990817,\n                \"lockedBalanceBefore\": 172950,\n                \"lockedBalanceAfter\": 178170,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0\n            }\n        ],\n        \"total\": 192\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet logs fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 118199,
                                "default": 0
                              },
                              "reference": {
                                "type": "string",
                                "example": "a3bba51f-7a79-4e2f-a2fd-27e8d4c589db"
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2024-07-16T15:05:42.000Z"
                              },
                              "description": {
                                "type": "string",
                                "example": "collection successful"
                              },
                              "action": {
                                "type": "string",
                                "example": "credit"
                              },
                              "amount": {
                                "type": "integer",
                                "example": 140000,
                                "default": 0
                              },
                              "currency": {
                                "type": "string",
                                "example": "USD"
                              },
                              "method": {
                                "type": "string",
                                "example": "Manual Top up"
                              },
                              "reason": {
                                "type": "string",
                                "example": "collections"
                              },
                              "merchantDescription": {},
                              "availableBalanceBefore": {
                                "type": "integer",
                                "example": 200,
                                "default": 0
                              },
                              "availableBalanceAfter": {
                                "type": "integer",
                                "example": 140200,
                                "default": 0
                              },
                              "ledgerBalanceBefore": {
                                "type": "integer",
                                "example": 200,
                                "default": 0
                              },
                              "ledgerBalanceAfter": {
                                "type": "integer",
                                "example": 140200,
                                "default": 0
                              },
                              "lockedBalanceBefore": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "lockedBalanceAfter": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "rollingReserveBalanceBefore": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "rollingReserveBalanceAfter": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 192,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallets/logs/statement?dateFrom={dateFrom}&dateTo={dateTo}&currency={currency}&perPage={perPage}": {
      "get": {
        "summary": "Get Account Statement",
        "description": "",
        "operationId": "get-account-statement",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2024-01-01"
            },
            "required": true
          },
          {
            "name": "dateTo",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2024-10-10"
            },
            "required": true
          },
          {
            "name": "currency",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-business-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "20"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Wallet Log Statement fetched successfully\",\n    \"data\": {\n        \"pagination\": {\n            \"current_page\": 1,\n            \"page_size\": 5,\n            \"count\": 5,\n            \"total_count\": 6,\n            \"total_pages\": 2,\n            \"next_page\": \"?dateFrom=Mon+Jan+01+2024+00%3A00%3A00+GMT%2B0000+%28Coordinated+Universal+Time%29&dateTo=Thu+Oct+10+2024+00%3A00%3A00+GMT%2B0000+%28Coordinated+Universal+Time%29&currency=KES&perPage=5&page=2\",\n            \"previous_page\": null\n        },\n        \"openingAvailableBalance\": 0,\n        \"openingLedgerBalance\": 0,\n        \"closingAvailableBalance\": 0,\n        \"closingLedgerBalance\": 1217295,\n        \"dateFrom\": \"2024-01-01\",\n        \"dateTo\": \"2024-10-10\",\n        \"business\": \"Isabelle Navarro\",\n        \"businessAddress\": null,\n        \"businessEmail\": \"joy@fincra.com\",\n        \"results\": [\n            {\n                \"createdAt\": \"2024-10-09T21:32:51.000Z\",\n                \"description\": \"collection successful\",\n                \"reference\": \"b7b73b5e-181a-4be6-b1ec-6488b1a99c9d\",\n                \"merchantDescription\": null,\n                \"merchantReference\": null,\n                \"reason\": \"topup successful\",\n                \"action\": \"credit\",\n                \"transactionType\": \"collection\",\n                \"availableBalanceBefore\": 0,\n                \"availableBalanceAfter\": 51990,\n                \"ledgerBalanceBefore\": 0,\n                \"ledgerBalanceAfter\": 51990,\n                \"lockedBalanceBefore\": 0,\n                \"lockedBalanceAfter\": 0,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0,\n                \"sourceCurrency\": \"KES\",\n                \"destinationCurrency\": \"KES\",\n                \"sourceAmount\": 52000,\n                \"destinationAmount\": 52000,\n                \"fee\": 10,\n                \"recipientDetails\": {\n                    \"bankAccountName\": \"FINCRA TECHNOLOGIES LT\",\n                    \"bankCode\": \"76001\",\n                    \"bankName\": \"United Bank for Africa Kenya\",\n                    \"bankAccountNumber\": \"55010160011115\"\n                },\n                \"senderDetails\": {\n                    \"bankAccountName\": \"STEPHEN DAMILOLA IBIDUN\",\n                    \"bankCode\": \"000004\",\n                    \"bankName\": \"UNITED BANK FOR AFRICA\",\n                    \"bankAccountNumber\": \"228046775927\"\n                },\n                \"metadata\": {\n                    \"customerId\": null\n                }\n            },\n            {\n                \"createdAt\": \"2024-10-10T08:13:39.000Z\",\n                \"description\": \"collection successful\",\n                \"reference\": \"99ebe4bf-0d95-4a00-bae8-27b1778de675\",\n                \"merchantDescription\": null,\n                \"merchantReference\": null,\n                \"reason\": \"topup successful\",\n                \"action\": \"credit\",\n                \"transactionType\": \"collection\",\n                \"availableBalanceBefore\": 51990,\n                \"availableBalanceAfter\": 103980,\n                \"ledgerBalanceBefore\": 51990,\n                \"ledgerBalanceAfter\": 103980,\n                \"lockedBalanceBefore\": 0,\n                \"lockedBalanceAfter\": 0,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0,\n                \"sourceCurrency\": \"KES\",\n                \"destinationCurrency\": \"KES\",\n                \"sourceAmount\": 52000,\n                \"destinationAmount\": 52000,\n                \"fee\": 10,\n                \"recipientDetails\": {\n                    \"bankAccountName\": \"FINCRA TECHNOLOGIES LTD\",\n                    \"bankCode\": \"76001\",\n                    \"bankName\": \"United Bank for Africa Kenya\",\n                    \"bankAccountNumber\": \"550101111117435\"\n                },\n                \"senderDetails\": {\n                    \"bankAccountName\": \"STEPHEN DAMILOLA IBIDUN\",\n                    \"bankCode\": \"000004\",\n                    \"bankName\": \"UNITED BANK FOR AFRICA\",\n                    \"bankAccountNumber\": \"2280495927\"\n                },\n                \"metadata\": {\n                    \"customerId\": null\n                }\n            },\n            {\n                \"createdAt\": \"2024-10-10T09:43:35.000Z\",\n                \"description\": \"collection successful\",\n                \"reference\": \"5d0d0185-ee05-4882-8b69-750d123c5afe\",\n                \"merchantDescription\": null,\n                \"merchantReference\": null,\n                \"reason\": \"topup successful\",\n                \"action\": \"credit\",\n                \"transactionType\": \"collection\",\n                \"availableBalanceBefore\": 103980,\n                \"availableBalanceAfter\": 603970,\n                \"ledgerBalanceBefore\": 103980,\n                \"ledgerBalanceAfter\": 603970,\n                \"lockedBalanceBefore\": 0,\n                \"lockedBalanceAfter\": 0,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0,\n                \"sourceCurrency\": \"KES\",\n                \"destinationCurrency\": \"KES\",\n                \"sourceAmount\": 500000,\n                \"destinationAmount\": 500000,\n                \"fee\": 10,\n                \"recipientDetails\": {\n                    \"bankAccountName\": \"FINCRA TECHNOLOGIES LTD\",\n                    \"bankCode\": \"76001\",\n                    \"bankName\": \"United Bank for Africa Kenya\",\n                    \"bankAccountNumber\": \"550555560017435\"\n                },\n                \"senderDetails\": {\n                    \"bankAccountName\": \"STEPHEN DAMILOLA IBIDUN\",\n                    \"bankCode\": \"000004\",\n                    \"bankName\": \"UNITED BANK FOR AFRICA\",\n                    \"bankAccountNumber\": \"2280495927\"\n                },\n                \"metadata\": {\n                    \"customerId\": null\n                }\n            },\n            {\n                \"createdAt\": \"2024-10-10T09:43:42.000Z\",\n                \"description\": \"collection successful\",\n                \"reference\": \"909836d0-d045-472e-a7dd-8adea8065f5a\",\n                \"merchantDescription\": null,\n                \"merchantReference\": null,\n                \"reason\": \"topup successful\",\n                \"action\": \"credit\",\n                \"transactionType\": \"collection\",\n                \"availableBalanceBefore\": 603970,\n                \"availableBalanceAfter\": 1103960,\n                \"ledgerBalanceBefore\": 603970,\n                \"ledgerBalanceAfter\": 1103960,\n                \"lockedBalanceBefore\": 0,\n                \"lockedBalanceAfter\": 0,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0,\n                \"sourceCurrency\": \"KES\",\n                \"destinationCurrency\": \"KES\",\n                \"sourceAmount\": 500000,\n                \"destinationAmount\": 500000,\n                \"fee\": 10,\n                \"recipientDetails\": {\n                    \"bankAccountName\": \"FINCRA TECHNOLOGIES LTD\",\n                    \"bankCode\": \"76001\",\n                    \"bankName\": \"United Bank for Africa Kenya\",\n                    \"bankAccountNumber\": \"55010160017435\"\n                },\n                \"senderDetails\": {\n                    \"bankAccountName\": \"STEPHEN DAMILOLA IBIDUN\",\n                    \"bankCode\": \"000004\",\n                    \"bankName\": \"UNITED BANK FOR AFRICA\",\n                    \"bankAccountNumber\": \"2280495927\"\n                },\n                \"metadata\": {\n                    \"customerId\": null\n                }\n            },\n            {\n                \"createdAt\": \"2024-10-10T09:57:12.000Z\",\n                \"description\": \"collection successful\",\n                \"reference\": \"5dc74ea9-4348-40e4-9c9f-d715654681c3\",\n                \"merchantDescription\": null,\n                \"merchantReference\": null,\n                \"reason\": \"topup successful\",\n                \"action\": \"credit\",\n                \"transactionType\": \"collection\",\n                \"availableBalanceBefore\": 1103960,\n                \"availableBalanceAfter\": 1116295,\n                \"ledgerBalanceBefore\": 1103960,\n                \"ledgerBalanceAfter\": 1116295,\n                \"lockedBalanceBefore\": 0,\n                \"lockedBalanceAfter\": 0,\n                \"rollingReserveBalanceBefore\": 0,\n                \"rollingReserveBalanceAfter\": 0,\n                \"sourceCurrency\": \"KES\",\n                \"destinationCurrency\": \"KES\",\n                \"sourceAmount\": 12345,\n                \"destinationAmount\": 12345,\n                \"fee\": 10,\n                \"recipientDetails\": {\n                    \"bankAccountName\": \"FINCRA TECHNOLOGIES LTD\",\n                    \"bankCode\": \"76001\",\n                    \"bankName\": \"United Bank for Africa Kenya\",\n                    \"bankAccountNumber\": \"550111111117435\"\n                },\n                \"senderDetails\": {\n                    \"bankAccountName\": \"STEPHEN DAMILOLA IBIDUN\",\n                    \"bankCode\": \"000004\",\n                    \"bankName\": \"UNITED BANK FOR AFRICA\",\n                    \"bankAccountNumber\": \"2280495927\"\n                },\n                \"metadata\": {\n                    \"customerId\": null\n                }\n            }\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet Log Statement fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "page_size": {
                              "type": "integer",
                              "example": 5,
                              "default": 0
                            },
                            "count": {
                              "type": "integer",
                              "example": 5,
                              "default": 0
                            },
                            "total_count": {
                              "type": "integer",
                              "example": 6,
                              "default": 0
                            },
                            "total_pages": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "next_page": {
                              "type": "string",
                              "example": "?dateFrom=Mon+Jan+01+2024+00%3A00%3A00+GMT%2B0000+%28Coordinated+Universal+Time%29&dateTo=Thu+Oct+10+2024+00%3A00%3A00+GMT%2B0000+%28Coordinated+Universal+Time%29&currency=KES&perPage=5&page=2"
                            },
                            "previous_page": {}
                          }
                        },
                        "openingAvailableBalance": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "openingLedgerBalance": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "closingAvailableBalance": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "closingLedgerBalance": {
                          "type": "integer",
                          "example": 1217295,
                          "default": 0
                        },
                        "dateFrom": {
                          "type": "string",
                          "example": "2024-01-01"
                        },
                        "dateTo": {
                          "type": "string",
                          "example": "2024-10-10"
                        },
                        "business": {
                          "type": "string",
                          "example": "Isabelle Navarro"
                        },
                        "businessAddress": {},
                        "businessEmail": {
                          "type": "string",
                          "example": "joy@fincra.com"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "example": "2024-10-09T21:32:51.000Z"
                              },
                              "description": {
                                "type": "string",
                                "example": "collection successful"
                              },
                              "reference": {
                                "type": "string",
                                "example": "b7b73b5e-181a-4be6-b1ec-6488b1a99c9d"
                              },
                              "merchantDescription": {},
                              "merchantReference": {},
                              "reason": {
                                "type": "string",
                                "example": "topup successful"
                              },
                              "action": {
                                "type": "string",
                                "example": "credit"
                              },
                              "transactionType": {
                                "type": "string",
                                "example": "collection"
                              },
                              "availableBalanceBefore": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "availableBalanceAfter": {
                                "type": "integer",
                                "example": 51990,
                                "default": 0
                              },
                              "ledgerBalanceBefore": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "ledgerBalanceAfter": {
                                "type": "integer",
                                "example": 51990,
                                "default": 0
                              },
                              "lockedBalanceBefore": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "lockedBalanceAfter": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "rollingReserveBalanceBefore": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "rollingReserveBalanceAfter": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "sourceCurrency": {
                                "type": "string",
                                "example": "KES"
                              },
                              "destinationCurrency": {
                                "type": "string",
                                "example": "KES"
                              },
                              "sourceAmount": {
                                "type": "integer",
                                "example": 52000,
                                "default": 0
                              },
                              "destinationAmount": {
                                "type": "integer",
                                "example": 52000,
                                "default": 0
                              },
                              "fee": {
                                "type": "integer",
                                "example": 10,
                                "default": 0
                              },
                              "recipientDetails": {
                                "type": "object",
                                "properties": {
                                  "bankAccountName": {
                                    "type": "string",
                                    "example": "FINCRA TECHNOLOGIES LT"
                                  },
                                  "bankCode": {
                                    "type": "string",
                                    "example": "76001"
                                  },
                                  "bankName": {
                                    "type": "string",
                                    "example": "United Bank for Africa Kenya"
                                  },
                                  "bankAccountNumber": {
                                    "type": "string",
                                    "example": "55010160011115"
                                  }
                                }
                              },
                              "senderDetails": {
                                "type": "object",
                                "properties": {
                                  "bankAccountName": {
                                    "type": "string",
                                    "example": "STEPHEN DAMILOLA IBIDUN"
                                  },
                                  "bankCode": {
                                    "type": "string",
                                    "example": "000004"
                                  },
                                  "bankName": {
                                    "type": "string",
                                    "example": "UNITED BANK FOR AFRICA"
                                  },
                                  "bankAccountNumber": {
                                    "type": "string",
                                    "example": "228046775927"
                                  }
                                }
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "customerId": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/conversions/initiate": {
      "post": {
        "summary": "Initiate Currency Conversion",
        "description": "This endpoint can convert one currency to another provided  that it's a supported conversion currency e.g NGN to USD",
        "operationId": "initiate-currency-conversion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business",
                  "quoteReference",
                  "customerReference"
                ],
                "properties": {
                  "business": {
                    "type": "string",
                    "description": "The unique Identifier of the parent business. You can get your business id from here: https://docs.fincra.com/reference/get-business-information",
                    "default": "53da866cb938c4e0b871f514"
                  },
                  "quoteReference": {
                    "type": "string",
                    "description": "This is the reference generated for the quote",
                    "default": "99ebe4bf-0d95-4a00-bae8-27b1778de675"
                  },
                  "customerReference": {
                    "type": "string",
                    "description": "The transaction's unique identifier on your system. Customer references prevent duplicate transactions."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Conversion initiated successfully\",\n    \"data\": {\n        \"_id\": 2927,\n        \"id\": 2927,\n        \"reference\": \"d6e8b49c-5a6a-4d06-82ca-1209929d5615\",\n        \"customerReference\": \"string102\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Conversion initiated successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "integer",
                          "example": 2927,
                          "default": 0
                        },
                        "id": {
                          "type": "integer",
                          "example": 2927,
                          "default": 0
                        },
                        "reference": {
                          "type": "string",
                          "example": "d6e8b49c-5a6a-4d06-82ca-1209929d5615"
                        },
                        "customerReference": {
                          "type": "string",
                          "example": "string102"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/conversions/reference/{conversionReference}": {
      "get": {
        "summary": "Verify Conversion Status",
        "description": "This endpoint fetches a specific conversion performed by a parent Business",
        "operationId": "verify-conversion-status",
        "parameters": [
          {
            "name": "conversionReference",
            "in": "path",
            "description": "The reference generated for the conversion",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Conversion fetched successfully\",\n    \"data\": {\n        \"id\": 1741,\n        \"_id\": \"1741\",\n        \"amountCharged\": 1000,\n        \"amountReceived\": 2.18,\n        \"sourceCurrency\": \"KES\",\n        \"destinationCurrency\": \"EUR\",\n        \"sourceFee\": 10,\n        \"destinationFee\": 0.022,\n        \"settlementDate\": \"2023-06-19T20:11:32.000Z\",\n        \"settledAt\": \"2023-06-19T20:15:02.000Z\",\n        \"sourceExchangeRate\": 454.545455,\n        \"destinationExchangeRate\": 0.0022,\n        \"status\": \"successful\",\n        \"reference\": \"38171f14-3c50-41f7-9fed-a9ccaea9a909\",\n        \"isSubAccount\": 0,\n        \"description\": null,\n        \"settlementDestination\": \"wallet\",\n        \"customerReference\": \"454545\",\n        \"message\": \"Conversion Successful\",\n        \"createdAt\": \"2023-06-19T20:11:53.000Z\",\n        \"updatedAt\": \"2023-06-19T20:15:02.000Z\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Conversion fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1741,
                          "default": 0
                        },
                        "_id": {
                          "type": "string",
                          "example": "1741"
                        },
                        "amountCharged": {
                          "type": "integer",
                          "example": 1000,
                          "default": 0
                        },
                        "amountReceived": {
                          "type": "number",
                          "example": 2.18,
                          "default": 0
                        },
                        "sourceCurrency": {
                          "type": "string",
                          "example": "KES"
                        },
                        "destinationCurrency": {
                          "type": "string",
                          "example": "EUR"
                        },
                        "sourceFee": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "destinationFee": {
                          "type": "number",
                          "example": 0.022,
                          "default": 0
                        },
                        "settlementDate": {
                          "type": "string",
                          "example": "2023-06-19T20:11:32.000Z"
                        },
                        "settledAt": {
                          "type": "string",
                          "example": "2023-06-19T20:15:02.000Z"
                        },
                        "sourceExchangeRate": {
                          "type": "number",
                          "example": 454.545455,
                          "default": 0
                        },
                        "destinationExchangeRate": {
                          "type": "number",
                          "example": 0.0022,
                          "default": 0
                        },
                        "status": {
                          "type": "string",
                          "example": "successful"
                        },
                        "reference": {
                          "type": "string",
                          "example": "38171f14-3c50-41f7-9fed-a9ccaea9a909"
                        },
                        "isSubAccount": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "description": {},
                        "settlementDestination": {
                          "type": "string",
                          "example": "wallet"
                        },
                        "customerReference": {
                          "type": "string",
                          "example": "454545"
                        },
                        "message": {
                          "type": "string",
                          "example": "Conversion Successful"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2023-06-19T20:11:53.000Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2023-06-19T20:15:02.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"error\": \"Conversion not found\",\n    \"errorType\": \"RESOURCE_NOT_FOUND\",\n    \"errors\": \"Conversion not found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "error": {
                      "type": "string",
                      "example": "Conversion not found"
                    },
                    "errorType": {
                      "type": "string",
                      "example": "RESOURCE_NOT_FOUND"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Conversion not found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/conversions?": {
      "get": {
        "summary": "List all Conversions",
        "description": "This endpoint provides a list of all conversions performed by a business.",
        "operationId": "list-all-conversions",
        "parameters": [
          {
            "name": "business",
            "in": "query",
            "description": "The unique Identifier of the parent business or sub account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Conversions fetched successfully\",\n    \"data\": {\n        \"results\": [\n            {\n                \"id\": 1741,\n                \"_id\": \"1741\",\n                \"amountCharged\": 1000,\n                \"amountReceived\": 2.18,\n                \"sourceCurrency\": \"KES\",\n                \"destinationCurrency\": \"EUR\",\n                \"fee\": 10,\n                \"settlementDate\": \"2023-06-19T20:11:32.000Z\",\n                \"settledAt\": \"2023-06-19T20:15:02.000Z\",\n                \"sourceExchangeRate\": 454.545455,\n                \"destinationExchangeRate\": 0.0022,\n                \"status\": \"successful\",\n                \"reference\": \"38171f14-3c50-41f7-9fed-a9ccaea9a909\",\n                \"businessName\": \"Dev\",\n                \"createdAt\": \"2023-06-19T20:11:53.000Z\",\n                \"updatedAt\": \"2023-06-19T20:15:02.000Z\"\n            }\n        ],\n        \"total\": 3\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Conversions fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1741,
                                "default": 0
                              },
                              "_id": {
                                "type": "string",
                                "example": "1741"
                              },
                              "amountCharged": {
                                "type": "integer",
                                "example": 1000,
                                "default": 0
                              },
                              "amountReceived": {
                                "type": "number",
                                "example": 2.18,
                                "default": 0
                              },
                              "sourceCurrency": {
                                "type": "string",
                                "example": "KES"
                              },
                              "destinationCurrency": {
                                "type": "string",
                                "example": "EUR"
                              },
                              "fee": {
                                "type": "integer",
                                "example": 10,
                                "default": 0
                              },
                              "settlementDate": {
                                "type": "string",
                                "example": "2023-06-19T20:11:32.000Z"
                              },
                              "settledAt": {
                                "type": "string",
                                "example": "2023-06-19T20:15:02.000Z"
                              },
                              "sourceExchangeRate": {
                                "type": "number",
                                "example": 454.545455,
                                "default": 0
                              },
                              "destinationExchangeRate": {
                                "type": "number",
                                "example": 0.0022,
                                "default": 0
                              },
                              "status": {
                                "type": "string",
                                "example": "successful"
                              },
                              "reference": {
                                "type": "string",
                                "example": "38171f14-3c50-41f7-9fed-a9ccaea9a909"
                              },
                              "businessName": {
                                "type": "string",
                                "example": "Dev"
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2023-06-19T20:11:53.000Z"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2023-06-19T20:15:02.000Z"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/bvn-verification": {
      "post": {
        "summary": "BVN Resolution",
        "description": "This API lets you verify a bank verification number(BVN)",
        "operationId": "bvn-resolution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bvn",
                  "business"
                ],
                "properties": {
                  "bvn": {
                    "type": "string",
                    "description": "The bank verification  number . Must be 11 digits",
                    "default": "09292929221"
                  },
                  "business": {
                    "type": "string",
                    "description": "The unique Identifier of the parent business or sub account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Bvn verification successful\",\n    \"data\": {\n        \"verificationStatus\": \"verified\",\n        \"response\": {\n            \"firstName\": \"JOHN\",\n            \"middleName\": \"TEST\",\n            \"lastName\": \"DOE\",\n            \"gender\": \"Female\",\n            \"dateOfBirth\": \"15-Jul-2022\",\n            \"phoneNo\": \"09022222222\",\n            \"pixBase64\": \"JJJ..\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Bvn verification successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "verificationStatus": {
                          "type": "string",
                          "example": "verified"
                        },
                        "response": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "example": "JOHN"
                            },
                            "middleName": {
                              "type": "string",
                              "example": "TEST"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "DOE"
                            },
                            "gender": {
                              "type": "string",
                              "example": "Female"
                            },
                            "dateOfBirth": {
                              "type": "string",
                              "example": "15-Jul-2022"
                            },
                            "phoneNo": {
                              "type": "string",
                              "example": "09022222222"
                            },
                            "pixBase64": {
                              "type": "string",
                              "example": "JJJ.."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/accounts/resolve": {
      "post": {
        "summary": "Verify Account Number",
        "description": "This API lets you verify a bank account",
        "operationId": "verify-account-number",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number. This is required for NUBAN accounts",
                    "default": "092929292"
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "The bank Code. This is required for NUBAN accounts"
                  },
                  "bankSwiftCode": {
                    "type": "string",
                    "description": "The bank swift code. Use this for GHS bank account verification"
                  },
                  "mobileMoneyCode": {
                    "type": "string",
                    "description": "Required for type=mobile_money"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of account number",
                    "default": "nuban",
                    "enum": [
                      "bank_account",
                      "mobile_money",
                      "nuban",
                      "iban"
                    ]
                  },
                  "iban": {
                    "type": "string",
                    "description": "The international bank account number."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The currency, i.e NGN, GHS. Note, this is only required for bank_account and mobile_money"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Account resolve successful\",\n    \"data\": {\n        \"accountNumber\": \"4038373314\",\n        \"accountName\": \"Mart Olumide\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Account resolve successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountNumber": {
                          "type": "string",
                          "example": "4038373314"
                        },
                        "accountName": {
                          "type": "string",
                          "example": "Mart Olumide"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"error\": \"Account could not be resolved. Please check your selection and try again\",\n    \"errorType\": \"UNPROCESSABLE_ENTITY\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "error": {
                          "type": "string",
                          "example": "Error occurred during payload validation. accountNumber length must be 10 characters long"
                        },
                        "errorType": {
                          "type": "string",
                          "example": "VALIDATION_FAILED"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Error occurred during payload validation. accountNumber length must be 10 characters long"
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "error": {
                          "type": "string",
                          "example": "Account could not be resolved. Please check your selection and try again"
                        },
                        "errorType": {
                          "type": "string",
                          "example": "UNPROCESSABLE_ENTITY"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/treasury-orders/rates": {
      "get": {
        "summary": "Rates",
        "description": "",
        "operationId": "rates",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/profile/customers": {
      "post": {
        "summary": "Create a customer account",
        "description": "This Api helps to create a virtual card customer account",
        "operationId": "virtual-cards-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "business",
                  "email",
                  "firstName",
                  "lastName",
                  "dob",
                  "phone",
                  "address",
                  "documents"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "An identifier is a name that identifies (that is, labels the identity of) either a unique object or a unique class of objects"
                  },
                  "business": {
                    "type": "string",
                    "description": "Your business id"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address. kindly note that it must  be a unique email address"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The customer's first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The customer's last name. This is required to create a virtual card  account"
                  },
                  "dob": {
                    "type": "string",
                    "description": "The birthdate of the customer(YYYY-MM-DD )"
                  },
                  "phone": {
                    "type": "object",
                    "description": "This contains the country code and phone number  of the customer",
                    "properties": {}
                  },
                  "address": {
                    "type": "object",
                    "properties": {}
                  },
                  "documents": {
                    "type": "object",
                    "properties": {}
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "identifier": "Tq",
                    "business": "63408b05cb018460343c52de",
                    "email": "taofeek2suree@gmail.com",
                    "firstName": "Harry",
                    "lastName": "Attat",
                    "dob": "1990-10-10",
                    "phone": {
                      "countryCode": "+234",
                      "number": "08142986562"
                    },
                    "address": {
                      "country": "NG",
                      "zip": "100000",
                      "street": "No 4 Babawa Street",
                      "state": "Lagos State",
                      "city": "Amuwo"
                    },
                    "documents": [
                      {
                        "image": "https://wiki.nimc.gov.ng/mobile_userguide/pins_female.png",
                        "type": "passport",
                        "number": "A08511194",
                        "issuedCountryCode": "NG",
                        "issuedBy": "Goverment",
                        "issuedDate": "2022-10-10",
                        "expirationDate": "2027-10-10"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"message\": \"Customer created successfully\",\n    \"data\": {\n        \"middleName\": \"\",\n        \"isActive\": true,\n        \"phone\": {\n            \"countryCode\": \"+234\",\n            \"number\": \"08142986562\",\n            \"_id\": \"639910de41664f80e1eedb20\"\n        },\n        \"address\": {\n            \"country\": \"NG\",\n            \"state\": \"Lagos State\",\n            \"street2\": null,\n            \"zip\": \"100000\",\n            \"city\": \"Amuwo\",\n            \"street\": \"No 4 Babawa Street\",\n            \"_id\": \"639910de41664f41a1eedb21\"\n        },\n        \"_id\": \"639910de41664fdaf9eedb1f\",\n        \"identifier\": \"Tq\",\n        \"business\": \"63408b05cb018460343c52de\",\n        \"email\": \"taofeek2suree@gmail.com\",\n        \"firstName\": \"Harry\",\n        \"lastName\": \"Attat\",\n        \"dob\": \"Wed Oct 10 1990 00:00:00 GMT+0000 (Coordinated Universal Time)\",\n        \"documents\": [\n            {\n                \"image\": \"https://wiki.nimc.gov.ng/mobile_userguide/pins_female.png\",\n                \"type\": \"passport\",\n                \"number\": \"A08511194\",\n                \"issuedCountryCode\": \"NG\",\n                \"issuedDate\": \"2022-10-10T00:00:00.000Z\",\n                \"expirationDate\": \"2027-10-10T00:00:00.000Z\",\n                \"_id\": \"639910de41664f3695eedb22\"\n            }\n        ],\n        \"cid\": \"60febd3c-157a-4ae4-aeed-863c5530ec42\",\n        \"createdAt\": \"2022-12-13T23:55:10.566Z\",\n        \"updatedAt\": \"2022-12-13T23:55:10.566Z\",\n        \"__v\": 0\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Customer created successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "middleName": {
                          "type": "string",
                          "example": ""
                        },
                        "isActive": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "countryCode": {
                              "type": "string",
                              "example": "+234"
                            },
                            "number": {
                              "type": "string",
                              "example": "08142986562"
                            },
                            "_id": {
                              "type": "string",
                              "example": "639910de41664f80e1eedb20"
                            }
                          }
                        },
                        "address": {
[...]
