{"openapi":"3.1.0","info":{"title":"billing-api","version":"0.9"},"servers":[{"url":"https://billing-service.bytestacks.io/api/v1/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"api-key"}}},"security":[{"sec0":[]}],"paths":{"/telcos":{"get":{"summary":"Fetch Telcos","description":"This page will help you get started with Agency Banking API.","operationId":"fetch-telcos","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/bundles":{"get":{"summary":"Fetch data plans","description":"This page will help you get started with Agency Banking API.","operationId":"fetch-data-plans","parameters":[{"name":"telco","in":"path","description":"The telecommunication Provider name","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vend_airtime":{"post":{"summary":"Vend airtime","description":"This page will help you get started with Agency Banking API.","operationId":"vend-airtime","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","phoneNumber","telco","reference"],"properties":{"amount":{"type":"string","description":"Amount required for Transaction"},"phoneNumber":{"type":"string","description":"Recipient's/ User Phone Number"},"telco":{"type":"string","description":"Telecommunication Provider"},"reference":{"type":"string","description":"Reference Id"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vend_data":{"post":{"summary":"Vend data","description":"This page will help you get started with Agency Banking API.","operationId":"vend-airtime-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vend_airtime/":{"post":{"summary":"Vend data","description":"This page will help you get started with Agency Banking API.","operationId":"vend-data","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","phoneNumber","telco","dataCode"],"properties":{"amount":{"type":"string","description":"Amount required for Transaction"},"phoneNumber":{"type":"string","description":"Recipient's/ User Phone Number"},"telco":{"type":"string","description":"Telecommunication Provider"},"dataCode":{"type":"string","description":"Data code"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/providers":{"post":{"summary":"Providers","description":"This page will help you get started with Agency Banking API.","operationId":"providers","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cable/subscribe":{"post":{"summary":"Subscribe","description":"This page will help you get started with Agency Banking API.","operationId":"providers-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"Smartcard_number":{"type":"string","description":"User's / Recipient's smart card number"},"amount":{"type":"string","description":"Desired amount"},"product_Code":{"type":"string","description":"Product Code"},"month_paid_for":{"type":"string","description":"Desired number of monthly subscription you want to pay for"},"provider":{"type":"string","description":"Cable Network Provider"},"reference":{"type":"string","description":"Reference"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cable/verify":{"post":{"summary":"Verify","description":"This page will help you get started with Agency Banking API.","operationId":"verify","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"smartcard_number":{"type":"string","description":"Smartcard Number"},"provider":{"type":"string","description":"Cable network Provider"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/electricity/billers":{"get":{"summary":"Fetch billers","description":"This page will help you get started with Agency Banking API.","operationId":"fetch-billers","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/electricity/verify":{"get":{"summary":"Verify","description":"This page will help you get started with Agency Banking API.","operationId":"fetch-billers-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string","description":"Electricity Provider"},"meter_number":{"type":"string","description":"User/Recipient's Meter Number"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/electricity/subscribe":{"post":{"summary":"Purchase energy","description":"This page will help you get started with Agency Banking API.","operationId":"fetch-billers-2","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"phone_number":{"type":"string","description":"User's phone number"},"amount":{"type":"string","description":"Price of Energy to be Purchases"},"provider":{"type":"string","description":"Electricity Distribution Provider"},"meter_number":{"type":"string","description":"User/Recipient's Meter Number"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/requery/reference/{reference}":{"post":{"summary":"Re-query","description":"This page will help you get started with Agency Banking API.","operationId":"purchase-energy","parameters":[{"name":"reference","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/balance":{"get":{"summary":"Wallet Balance","description":"This page will help you get started with Agency Banking API.","operationId":"purchase-energy-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions":{"get":{"summary":"Wallet Balance Log","description":"This page will help you get started with Agency Banking API.","operationId":"wallet-balance-log","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Re-query","description":"This page will help you get started with Agency Banking API.","operationId":"re-query","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}