{
  "openapi": "3.0.3",
  "info": {
    "title": "Fincra API",
    "description": "Fincra API reference. Rebuilt from scratch against real service behavior — not migrated from the prior spec.",
    "version": "2.0.0",
    "contact": {
      "name": "Fincra DevRel",
      "email": "devrel@fincra.com"
    }
  },
  "servers": [
    {
      "url": "https://sandboxapi.fincra.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.fincra.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Business",
      "description": "Your business profile — the entity your Fincra integration acts on behalf of."
    },
    {
      "name": "Wallets and Balances",
      "description": "Your business's currency wallets and their balances."
    }
  ],
  "paths": {
    "/wallets": {
      "get": {
        "operationId": "getWallets",
        "summary": "Get wallets",
        "description": "Retrieves the active wallets for a business, including each wallet's ledger, available, locked, and rolling reserve balances. Pass `currency` to return a single matching wallet instead of the full list. Pass both `dateFrom` and `dateTo` to add opening and closing balances for that period to each wallet.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24,
              "example": "64f1c2a4b7d9e30012ab4567"
            },
            "description": "The `_id` returned by Get business profile."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "NGN"
            },
            "description": "Return only the wallet for this currency, instead of the full list."
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the period to compute opening/closing balances for. Requires `dateTo`."
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the period to compute opening/closing balances for. Requires `dateFrom`."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletsResponse"
                },
                "example": {
                  "success": true,
                  "message": "Wallets fetched successfully Stablecoin balances shown are Sandbox balances. Production access is not enabled by default and must be requested for Go live.",
                  "data": [
                    {
                      "id": 207151,
                      "_id": "207151",
                      "business": "67d8360649685a0012574974",
                      "businessId": 14424,
                      "ledgerBalance": 1173410.83,
                      "availableBalance": 640179.275,
                      "lockedBalance": 533231.555,
                      "rollingReserveBalance": 0,
                      "walletNumber": 100000114424001,
                      "currency": "NGN",
                      "status": "enabled",
                      "overdraftEnabled": 0,
                      "overdraftLimit": null,
                      "createdAt": "2025-03-17T14:47:35.000Z",
                      "updatedAt": "2026-09-02T06:06:35.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Cannot fetch wallets. Business not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "businessID is missing, or fails validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "examples": {
                  "noBusinessID": {
                    "summary": "businessID not supplied",
                    "value": {
                      "success": false,
                      "error": "No payload sent",
                      "errorType": "UNPROCESSABLE_ENTITY"
                    }
                  },
                  "invalidBusinessID": {
                    "summary": "businessID is not 24 characters",
                    "value": {
                      "success": false,
                      "error": "Error occurred during payload validation. businessID length must be 24 characters long",
                      "errorType": "VALIDATION_FAILED",
                      "errors": [
                        "Error occurred during payload validation. businessID length must be 24 characters long"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWallets",
        "summary": "Create wallets",
        "description": "Creates wallets for a business. Pass `currencies` to create wallets for specific currencies, or omit it to create wallets for every currency the business has access to. Currencies that already have a wallet are skipped, so this is safe to call more than once. Returns every wallet the business now has, not only the ones just created.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "businessID"
                ],
                "properties": {
                  "businessID": {
                    "type": "string",
                    "minLength": 24,
                    "maxLength": 24,
                    "example": "64f1c2a4b7d9e30012ab4567",
                    "description": "The `_id` returned by Get business profile."
                  },
                  "currencies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "NGN",
                      "USD"
                    ],
                    "description": "Currency codes to create wallets for. Omit to create wallets for every currency the business can access."
                  }
                }
              },
              "example": {
                "businessID": "64f1c2a4b7d9e30012ab4567",
                "currencies": [
                  "NGN",
                  "USD"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallets created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletsResponse"
                },
                "example": {
                  "success": true,
                  "message": "You have successfully created wallets for your business",
                  "data": [
                    {
                      "id": 207151,
                      "_id": "207151",
                      "business": "67d8360649685a0012574974",
                      "businessId": 14424,
                      "ledgerBalance": 0,
                      "availableBalance": 0,
                      "lockedBalance": 0,
                      "rollingReserveBalance": 0,
                      "walletNumber": 100000114424001,
                      "currency": "NGN",
                      "status": "enabled",
                      "overdraftEnabled": false,
                      "overdraftLimit": null,
                      "createdAt": "2026-09-03T09:00:00.000Z",
                      "updatedAt": "2026-09-03T09:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Cannot create wallets. Business not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "One or more requested currencies are not supported for this business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Supplied currencies not supported. Supported currencies include [NGN,USD,GBP,EUR]",
                  "errorType": "UNPROCESSABLE_ENTITY"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{walletID}": {
      "get": {
        "operationId": "getWallet",
        "summary": "Get wallet",
        "description": "Retrieves a single wallet by its ID, including its ledger, available, locked, and rolling reserve balances. Pass both `dateFrom` and `dateTo` to add opening and closing balances for that period.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "walletID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `_id` (or numeric `id`) of the wallet, from Get wallets."
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the period to compute opening/closing balances for. Requires `dateTo`."
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the period to compute opening/closing balances for. Requires `dateFrom`."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet fetched successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Wallet"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Wallet not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{walletNumber}/get-by-wallet-number": {
      "get": {
        "operationId": "getWalletByWalletNumber",
        "summary": "Get wallet by wallet number",
        "description": "Looks up a wallet by its `walletNumber`. Returns wallet and business identifiers only — no balances. Use Get wallet for balances.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "walletNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The wallet's `walletNumber`, from Get wallets."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "businessId": {
                          "type": "integer"
                        },
                        "walletNumber": {
                          "type": "integer"
                        },
                        "businessName": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "currencyId": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Wallet not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/fund": {
      "post": {
        "operationId": "fundWallet",
        "summary": "Fund wallet",
        "description": "Credits a wallet with a test amount. **Sandbox only** — this endpoint does not exist in Production. The wallet must already exist; create it first with Create wallets.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business",
                  "currency",
                  "amount"
                ],
                "properties": {
                  "business": {
                    "type": "string",
                    "minLength": 24,
                    "maxLength": 24,
                    "example": "64f1c2a4b7d9e30012ab4567",
                    "description": "The `_id` returned by Get business profile."
                  },
                  "currency": {
                    "type": "string",
                    "example": "NGN"
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 1,
                    "example": 50000
                  }
                }
              },
              "example": {
                "business": "64f1c2a4b7d9e30012ab4567",
                "currency": "NGN",
                "amount": 50000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet funded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "NGN Wallet funded successfully"
                    },
                    "data": {
                      "type": "object",
                      "description": "The resulting credit record for this top-up."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "No wallet exists for this business and currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Wallet not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/logs": {
      "get": {
        "operationId": "getWalletLogs",
        "summary": "Get wallet logs",
        "description": "Lists transactions (debits and credits) across your wallets, newest first. Scoped to the authenticated merchant. Combine the filters below to narrow the results.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "business",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Restrict to a single business."
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "credit",
                "debit"
              ]
            }
          },
          {
            "name": "reason",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "The 24-character ID of the underlying transaction."
          },
          {
            "name": "transactionType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantDescription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet logs fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "results",
                        "total"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WalletLog"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Matching row count, capped for performance on large histories. Exact when the true count is within the cap."
                        },
                        "totalIsApproximate": {
                          "type": "boolean",
                          "description": "Present and `true` only when `total` reflects the cap, not the true count."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/logs/statement": {
      "get": {
        "operationId": "getWalletLogStatement",
        "summary": "Get wallet statement",
        "description": "Returns a statement for one wallet currency over a date range: opening and closing balances, the transactions in between, and pagination links. `currency`, `dateFrom`, and `dateTo` are required.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "reason",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "credit",
                "debit"
              ]
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet statement retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet Log Statement from view fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "page_size": {
                              "type": "integer"
                            },
                            "count": {
                              "type": "integer",
                              "description": "Number of results on this page."
                            },
                            "total_count": {
                              "type": "integer"
                            },
                            "total_pages": {
                              "type": "integer"
                            },
                            "next_page": {
                              "type": "string",
                              "nullable": true,
                              "description": "Query string for the next page, or null on the last page."
                            },
                            "previous_page": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "openingAvailableBalance": {
                          "type": "number"
                        },
                        "openingLedgerBalance": {
                          "type": "number"
                        },
                        "closingAvailableBalance": {
                          "type": "number"
                        },
                        "closingLedgerBalance": {
                          "type": "number"
                        },
                        "dateFrom": {
                          "type": "string",
                          "format": "date"
                        },
                        "dateTo": {
                          "type": "string",
                          "format": "date"
                        },
                        "business": {
                          "type": "string"
                        },
                        "businessAddress": {
                          "type": "string",
                          "nullable": true
                        },
                        "businessEmail": {
                          "type": "string"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WalletLog"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "422": {
            "description": "currency has no wallet, or the date range is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Wallet not found for currency: NGN",
                  "errorType": "UNPROCESSABLE_ENTITY"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/logs/{id}": {
      "get": {
        "operationId": "getWalletLog",
        "summary": "Get wallet log",
        "description": "Retrieves a single wallet log entry by its numeric ID.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The log entry's numeric `id`, from Get wallet logs."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet log retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Wallet log fetched successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/WalletLog"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet log not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Wallet log not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/logs/export": {
      "post": {
        "operationId": "exportWalletLogs",
        "summary": "Export wallet logs",
        "description": "Exports wallet logs as a file. Defaults to the last 30 days if `dateFrom`/`dateTo` are omitted. Set `exportType` to `csv` for a CSV file; any other value returns a PDF.",
        "tags": [
          "Wallets and Balances"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exportType"
                ],
                "properties": {
                  "exportType": {
                    "type": "string",
                    "example": "csv",
                    "description": "`csv` for a CSV file; any other value returns a PDF."
                  },
                  "business": {
                    "type": "string",
                    "minLength": 24,
                    "maxLength": 24
                  },
                  "currency": {
                    "type": "string"
                  },
                  "reference": {
                    "type": "string"
                  },
                  "dateFrom": {
                    "type": "string",
                    "format": "date",
                    "description": "Defaults to 30 days ago if omitted."
                  },
                  "dateTo": {
                    "type": "string",
                    "format": "date",
                    "description": "Defaults to today if omitted."
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 0
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "credit",
                      "debit"
                    ]
                  },
                  "transaction": {
                    "type": "string",
                    "minLength": 24,
                    "maxLength": 24
                  },
                  "reason": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "exportType": "csv",
                "dateFrom": "2026-08-01",
                "dateTo": "2026-09-01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The exported file (CSV or PDF, per `exportType`). Response is not the standard JSON success envelope.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/profile/business/me": {
      "get": {
        "operationId": "getBusinessProfile",
        "summary": "Get business profile",
        "description": "Retrieves the business profile associated with your API key, including business details, verification status, notification preferences, Checkout settings, settlement settings, and webhook configuration. Use the `_id` returned in the response as your business ID when an endpoint requires `businessID` or `x-business-id`.",
        "tags": [
          "Business"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Business profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessProfileResponse"
                },
                "example": {
                  "success": true,
                  "message": "Parent business fetched successfully",
                  "data": {
                    "_id": "64f1c2a4b7d9e30012ab4567",
                    "name": "Example Business",
                    "email": "operations@example.com",
                    "mobile": "+2348012345678",
                    "status": "enabled",
                    "logo": null,
                    "businessKey": "B-1725318000000-example",
                    "businessType": "corporate",
                    "website": "https://example.com",
                    "countryCallingCode": "+234",
                    "businessTag": 123456,
                    "country": "NG",
                    "isKYCApproved": true,
                    "isBlocked": false,
                    "isPrincipalBVNWatchlisted": false,
                    "emailSettings": {
                      "disbursementNotification": true,
                      "collectionNotification": true,
                      "topupNotification": true,
                      "settlementNotification": true,
                      "paymentReceiptNotification": true
                    },
                    "checkoutSettings": {
                      "useBrandLogo": true,
                      "buttonTextColor": "#FFFFFF",
                      "buttonColor": "#6D28D9",
                      "fontColor": "#111827",
                      "fontFamily": "Inter",
                      "backgroundColor": "#FFFFFF",
                      "backgroundTextColor": "#111827"
                    },
                    "settlementSettings": null,
                    "settings": {
                      "enableWebhook": true,
                      "enableWebhookRetry": true,
                      "callbackURL": "https://example.com/webhooks/fincra",
                      "feeBearer": "business",
                      "settlementDestination": "wallet",
                      "acceptMispayments": true,
                      "overrideBusinessEmail": null
                    },
                    "createdAt": "2025-01-15T09:30:00.000Z",
                    "updatedAt": "2026-09-02T20:15:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated merchant has no business profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Merchant account does not have a business tied to it",
                  "errorType": "BUSINESS_PROFILE_REQUIRED"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Error occured during operation. We're currently checking why this is happening.",
                  "errorType": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/profile/business": {
      "get": {
        "operationId": "getBusinessesByMerchant",
        "summary": "List businesses",
        "description": "Lists the top-level businesses associated with your API key. Subaccounts are excluded. If no businesses are found, `data` is returned as an empty array.",
        "tags": [
          "Business"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Businesses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Merchant businesses fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BusinessProfile"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/profile/business/{businessID}/settings": {
      "patch": {
        "operationId": "updateBusinessSettings",
        "summary": "Update business settings",
        "description": "Updates one or more settings for the specified business. Only fields included in the request are changed; omitted fields retain their existing values. The request must contain at least one supported setting.",
        "tags": [
          "Business"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24,
              "example": "64f1c2a4b7d9e30012ab4567"
            },
            "description": "The 24-character `_id` returned by Get business profile. The authenticated merchant must have access to this business."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessSettingsRequest"
              },
              "example": {
                "callbackURL": "https://example.com/webhooks/fincra",
                "enableWebhook": true,
                "enableWebhookRetry": true,
                "feeBearer": "business",
                "settlementDestination": "wallet",
                "acceptMispayments": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBusinessSettingsResponse"
                },
                "example": {
                  "success": true,
                  "message": "You have successfully updated your business settings",
                  "data": {
                    "_id": "64f1c2a4b7d9e30012ab4567",
                    "name": "Example Business",
                    "email": "operations@example.com",
                    "mobile": "+2348012345678",
                    "status": "enabled",
                    "country": "NG",
                    "isKYCApproved": true,
                    "isBlocked": false,
                    "settings": {
                      "enableWebhook": true,
                      "enableWebhookRetry": true,
                      "callbackURL": "https://example.com/webhooks/fincra",
                      "feeBearer": "business",
                      "settlementDestination": "wallet",
                      "acceptMispayments": true,
                      "overrideBusinessEmail": null
                    },
                    "createdAt": "2025-01-15T09:30:00.000Z",
                    "updatedAt": "2026-09-02T20:15:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "403": {
            "description": "The business is blocked or has not completed KYC approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "examples": {
                  "businessBlocked": {
                    "summary": "Business is blocked",
                    "value": {
                      "success": false,
                      "error": "Business has been blocked. Kindly contact support",
                      "errorType": "ACCESS_DENIED"
                    }
                  },
                  "kycNotApproved": {
                    "summary": "Business KYC is not approved",
                    "value": {
                      "success": false,
                      "error": "Business KYC has not been approved. Kindly contact support",
                      "errorType": "ACCESS_DENIED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Cannot update setting. Business not found",
                  "errorType": "RESOURCE_NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "The request body is empty or contains an invalid setting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "examples": {
                  "emptyBody": {
                    "summary": "No setting supplied",
                    "value": {
                      "success": false,
                      "error": "Cannot continue. No setting provided for update",
                      "errorType": "UNPROCESSABLE_ENTITY"
                    }
                  },
                  "validationFailed": {
                    "summary": "Invalid setting value",
                    "value": {
                      "success": false,
                      "error": "Error occurred during payload validation. overrideBusinessEmail must be a valid email",
                      "errorType": "VALIDATION_FAILED",
                      "errors": [
                        "Error occurred during payload validation. overrideBusinessEmail must be a valid email"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "success": false,
                  "error": "Error occured during operation. We're currently checking why this is happening.",
                  "errorType": "INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Your Sandbox or Production API key, generated from your dashboard."
      }
    },
    "schemas": {
      "GatewayAuthError": {
        "type": "object",
        "required": [
          "message",
          "request_id"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "No API key found in request"
          },
          "request_id": {
            "type": "string",
            "example": "9fd0487056e1d44df9c855231b519b1"
          }
        }
      },
      "ApplicationError": {
        "type": "object",
        "required": [
          "success",
          "error",
          "errorType"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ],
            "description": "Indicates that the request failed."
          },
          "error": {
            "type": "string",
            "description": "A human-readable description of the error."
          },
          "errorType": {
            "type": "string",
            "description": "A stable category that identifies the type of error."
          },
          "errors": {
            "description": "Additional validation details, when available.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          }
        }
      },
      "UpdateBusinessSettingsRequest": {
        "type": "object",
        "description": "Settings to update. Include at least one property. Omitted properties retain their current values.",
        "minProperties": 1,
        "additionalProperties": false,
        "properties": {
          "feeBearer": {
            "type": "string",
            "enum": [
              "customer",
              "business"
            ],
            "description": "Determines who pays applicable transaction fees. `customer` adds the fee to the customer's charge; `business` deducts the fee from the business's proceeds.",
            "example": "business"
          },
          "settlementDestination": {
            "type": "string",
            "enum": [
              "wallet",
              "bank_account"
            ],
            "description": "The default destination for supported settlements. A bank account must be configured before using `bank_account`.",
            "example": "wallet"
          },
          "enableWebhook": {
            "type": "boolean",
            "description": "Whether Fincra sends webhook events to `callbackURL`.",
            "example": true
          },
          "enableWebhookRetry": {
            "type": "boolean",
            "description": "Whether Fincra automatically retries failed webhook deliveries. This setting is disabled by default for new businesses.",
            "example": true
          },
          "callbackURL": {
            "type": "string",
            "minLength": 1,
            "description": "The endpoint that receives webhook events. Supply a non-empty HTTP or HTTPS URL.",
            "example": "https://example.com/webhooks/fincra"
          },
          "acceptMispayments": {
            "type": "boolean",
            "description": "Whether supported Checkout flows accept overpayments and underpayments instead of initiating a reversal.",
            "example": true
          },
          "overrideBusinessEmail": {
            "type": "string",
            "format": "email",
            "description": "An email address to use instead of the business's primary email where this override is supported. The value is stored in lowercase.",
            "example": "finance@example.com"
          },
          "acceptedCurrencies": {
            "type": "array",
            "description": "Requests wallet creation for the supplied currencies. This field is not stored in business settings; verify the resulting wallets separately.",
            "items": {
              "type": "string",
              "example": "NGN"
            },
            "example": [
              "NGN",
              "USD"
            ]
          }
        }
      },
      "UpdateBusinessSettingsResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Indicates that the settings update completed successfully."
          },
          "message": {
            "type": "string",
            "example": "You have successfully updated your business settings"
          },
          "data": {
            "$ref": "#/components/schemas/BusinessProfile"
          }
        }
      },
      "WalletLog": {
        "type": "object",
        "description": "A single debit or credit against a wallet.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reference": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "credit",
              "debit"
            ]
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "merchantDescription": {
            "type": "string",
            "nullable": true
          },
          "merchantReference": {
            "type": "string",
            "nullable": true
          },
          "availableBalanceBefore": {
            "type": "number"
          },
          "availableBalanceAfter": {
            "type": "number"
          },
          "ledgerBalanceBefore": {
            "type": "number"
          },
          "ledgerBalanceAfter": {
            "type": "number"
          },
          "lockedBalanceBefore": {
            "type": "number"
          },
          "lockedBalanceAfter": {
            "type": "number"
          },
          "rollingReserveBalanceBefore": {
            "type": "number"
          },
          "rollingReserveBalanceAfter": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GetWalletsResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string",
            "description": "\"Wallets fetched successfully\" in Sandbox, or Production. In Sandbox, if any returned wallet is a stablecoin/crypto currency, a notice about Sandbox-only balances is appended.",
            "example": "Wallets fetched successfully"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          }
        }
      },
      "Wallet": {
        "type": "object",
        "description": "Field set reflects the wallets service's `defaultSelects` projection (Postgres-backed), not the legacy Mongo wallet document.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Internal numeric wallet ID."
          },
          "_id": {
            "type": "string",
            "description": "Wallet ID. Falls back to `id` if no Mongo-era ID exists."
          },
          "business": {
            "type": "string",
            "description": "Your business ID."
          },
          "businessId": {
            "type": "integer",
            "description": "Internal numeric business ID."
          },
          "ledgerBalance": {
            "type": "number"
          },
          "availableBalance": {
            "type": "number"
          },
          "lockedBalance": {
            "type": "number"
          },
          "rollingReserveBalance": {
            "type": "number"
          },
          "walletNumber": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "overdraftEnabled": {
            "type": "boolean"
          },
          "overdraftLimit": {
            "type": "number",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "openingBalances": {
            "type": "object",
            "nullable": true,
            "description": "Present only when `dateFrom` and `dateTo` are both supplied."
          },
          "closingBalances": {
            "type": "object",
            "nullable": true,
            "description": "Present only when `dateFrom` and `dateTo` are both supplied."
          }
        }
      },
      "GetBusinessProfileResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Indicates that the business profile was retrieved successfully."
          },
          "message": {
            "type": "string",
            "example": "Parent business fetched successfully"
          },
          "data": {
            "$ref": "#/components/schemas/BusinessProfile"
          }
        }
      },
      "BusinessProfile": {
        "type": "object",
        "description": "Field set is the real API response projection (PUBLIC_BUSINESS_FIELDS), not the full internal business document — several internal-only fields are intentionally excluded.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Your business ID."
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "businessKey": {
            "type": "string"
          },
          "businessType": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "countryCallingCode": {
            "type": "string",
            "nullable": true
          },
          "businessTag": {
            "type": "integer",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "isKYCApproved": {
            "type": "boolean"
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isPrincipalBVNWatchlisted": {
            "type": "boolean"
          },
          "emailSettings": {
            "type": "object",
            "properties": {
              "disbursementNotification": {
                "type": "boolean"
              },
              "collectionNotification": {
                "type": "boolean"
              },
              "topupNotification": {
                "type": "boolean"
              },
              "settlementNotification": {
                "type": "boolean"
              },
              "paymentReceiptNotification": {
                "type": "boolean"
              }
            }
          },
          "checkoutSettings": {
            "type": "object",
            "properties": {
              "useBrandLogo": {
                "type": "boolean"
              },
              "buttonTextColor": {
                "type": "string",
                "nullable": true
              },
              "buttonColor": {
                "type": "string",
                "nullable": true
              },
              "fontColor": {
                "type": "string",
                "nullable": true
              },
              "fontFamily": {
                "type": "string",
                "nullable": true
              },
              "backgroundColor": {
                "type": "string",
                "nullable": true
              },
              "backgroundTextColor": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "settlementSettings": {
            "type": "object",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "properties": {
              "enableWebhook": {
                "type": "boolean"
              },
              "enableWebhookRetry": {
                "type": "boolean"
              },
              "callbackURL": {
                "type": "string",
                "nullable": true
              },
              "feeBearer": {
                "type": "string",
                "enum": [
                  "customer",
                  "business"
                ]
              },
              "settlementDestination": {
                "type": "string",
                "enum": [
                  "wallet",
                  "bank_account"
                ]
              },
              "acceptMispayments": {
                "type": "boolean"
              },
              "overrideBusinessEmail": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}