{
  "openapi": "3.0.3",
  "info": {
    "title": "Fincra API",
    "description": "Fincra API reference. Rebuilt from scratch against real service behavior — not migrated from the prior spec.",
    "version": "2.0.0",
    "contact": {
      "name": "Fincra DevRel",
      "email": "devrel@fincra.com"
    }
  },
  "servers": [
    {
      "url": "https://sandboxapi.fincra.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.fincra.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Business",
      "description": "Your business profile — the entity your Fincra integration acts on behalf of."
    }
  ],
  "paths": {
    "/profile/business/me": {
      "get": {
        "operationId": "getBusinessProfile",
        "summary": "Get business profile",
        "description": "Retrieves the authenticated business's profile.",
        "tags": [
          "Business"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Business profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Parent business fetched successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BusinessProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated merchant has no business profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Merchant account does not have a business tied to it"
                    },
                    "errorType": {
                      "type": "string",
                      "example": "BUSINESS_PROFILE_REQUIRED"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/business/{businessID}/settings": {
      "patch": {
        "operationId": "updateBusinessSettings",
        "summary": "Update business settings",
        "description": " Updates one or more settings for the specified business. Only the fields included in the request are changed. The request must contain at least one supported setting.",
        "tags": [
          "Business"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your business ID (the `_id` field from Get business profile)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "feeBearer": {
                    "type": "string",
                    "description": "Who bears the transaction fee."
                  },
                  "payoutPreference": {
                    "type": "string"
                  },
                  "termsAccepted": {
                    "type": "boolean"
                  },
                  "transactionEmails": {
                    "type": "boolean"
                  },
                  "settlementCurrency": {
                    "type": "string"
                  },
                  "settlementDestination": {
                    "type": "string",
                    "description": "Where settlements are sent, e.g. wallet or bank_account."
                  },
                  "useDefaultCurrenciesInAdminSettings": {
                    "type": "boolean"
                  },
                  "acceptedCurrencies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "walletAddressesForPayout": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "bankOptions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "defaultBankId": {
                    "type": "string"
                  },
                  "enableWebhook": {
                    "type": "boolean"
                  },
                  "enableWebhookRetry": {
                    "type": "boolean"
                  },
                  "callbackURL": {
                    "type": "string",
                    "description": "Your webhook URL. Fincra sends event notifications here."
                  },
                  "acceptMispayments": {
                    "type": "boolean"
                  },
                  "overrideBusinessEmail": {
                    "type": "string",
                    "format": "email"
                  }
                }
              },
              "example": {
                "callbackURL": "https://example.com/webhooks/fincra",
                "enableWebhook": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "You have successfully updated your business settings"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BusinessProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid api-key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Cannot update setting. Business not found"
                    },
                    "errorType": {
                      "type": "string",
                      "example": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No setting provided to update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Cannot continue. No setting provided for update"
                    },
                    "errorType": {
                      "type": "string",
                      "example": "UNPROCESSABLE_ENTITY"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Your Sandbox or Production API key, generated from your dashboard."
      }
    },
    "schemas": {
      "GatewayAuthError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "No API key found in request"
          },
          "request_id": {
            "type": "string",
            "example": "9fd0487056e1d44df9c855231b519b1"
          }
        }
      },
      "BusinessProfile": {
        "type": "object",
        "description": "Field set is the real API response projection (PUBLIC_BUSINESS_FIELDS), not the full internal business document — several internal-only fields are intentionally excluded.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Your business ID."
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "businessKey": {
            "type": "string"
          },
          "businessType": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "countryCallingCode": {
            "type": "string",
            "nullable": true
          },
          "businessTag": {
            "type": "integer",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "isKYCApproved": {
            "type": "boolean"
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isPrincipalBVNWatchlisted": {
            "type": "boolean"
          },
          "emailSettings": {
            "type": "object",
            "properties": {
              "disbursementNotification": {
                "type": "boolean"
              },
              "collectionNotification": {
                "type": "boolean"
              },
              "topupNotification": {
                "type": "boolean"
              },
              "settlementNotification": {
                "type": "boolean"
              },
              "paymentReceiptNotification": {
                "type": "boolean"
              }
            }
          },
          "checkoutSettings": {
            "type": "object",
            "properties": {
              "useBrandLogo": {
                "type": "boolean"
              },
              "buttonTextColor": {
                "type": "string",
                "nullable": true
              },
              "buttonColor": {
                "type": "string",
                "nullable": true
              },
              "fontColor": {
                "type": "string",
                "nullable": true
              },
              "fontFamily": {
                "type": "string",
                "nullable": true
              },
              "backgroundColor": {
                "type": "string",
                "nullable": true
              },
              "backgroundTextColor": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "settlementSettings": {
            "type": "object",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "properties": {
              "enableWebhook": {
                "type": "boolean"
              },
              "enableWebhookRetry": {
                "type": "boolean"
              },
              "callbackURL": {
                "type": "string",
                "nullable": true
              },
              "feeBearer": {
                "type": "string",
                "enum": [
                  "customer",
                  "business"
                ]
              },
              "settlementDestination": {
                "type": "string",
                "enum": [
                  "wallet",
                  "bank_account"
                ]
              },
              "acceptMispayments": {
                "type": "boolean"
              },
              "overrideBusinessEmail": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}